<div class="container">
  <div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row mx-5" *ngIf="!isLoading">
    <div class="d-flex justify-content-between w-100">
      <div>
        <h2>Building Permit Application</h2>
        <p>
          Click <a href="" target="_blank">here</a> to view all required forms
          for Building Permit Application.
        </p>
        <hr />
        <p class="pt-5">Please upload the necessary files.</p>
      </div>
      <div>
        <img
          src="../../../../assets/illustrations/checklist.png"
          class="illustration"
        />
      </div>
    </div>
    <div class="content px-5 w-100">
      <div class="d-flex align-items-center mt-3">
        <mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
          >attachment</mat-icon
        >
        <h3 class="mt-2">Other Requirements</h3>
      </div>
      <hr />

      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Barangay Certificate</h5>
          <mat-icon *ngIf="barangayClearance" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'barangayClearance')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="barangayClearance"
            [removable]="true"
            (removed)="onRemove('barangayClearance')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ barangayClearance.name }} ({{
                barangayClearance.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div
        class="mb-4"
        *ngIf="applicationInfo.project_detail.total_floor_area >= 10000"
      >
        <div class="d-flex justify-content-between">
          <h5>
            Environmental Compliance Certificate of Building for
            Critical/Hazardous Projects or for a floor area of 10,000 sq.m
          </h5>
          <mat-icon *ngIf="environmentalCompliance" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'environmentalCompliance')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="environmentalCompliance"
            [removable]="true"
            (removed)="onRemove('environmentalCompliance')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ environmentalCompliance.name }} ({{
                environmentalCompliance.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Clearance from other government agencies, pursuant to No. 12 (B) of
            Section 302 of the IRR of the National Building Code (PD 1096) (if
            applicable)
          </h5>
          <mat-icon *ngIf="governmentClearance" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'governmentClearance')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="governmentClearance"
            [removable]="true"
            (removed)="onRemove('governmentClearance')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ governmentClearance.name }} ({{
                governmentClearance.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Certificate of Construction Safety Health Program (CSHP) from DOLE
          </h5>
          <mat-icon *ngIf="chspCertificate" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'chspCertificate')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="chspCertificate"
            [removable]="true"
            (removed)="onRemove('chspCertificate')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ chspCertificate.name }} ({{
                chspCertificate.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="d-flex justify-content-between mb-4">
        <div>
          <button mat-raised-button color="accent" (click)="callSaveAsDraft()">
            Save as Draft
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="callNext()">
            Next
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="content-background col-md-6">
        <img
          class="img-fluid mt-5"
          src="../../../assets/illustrations/construction.png"
        />
      </div> -->
  </div>
</div>
