::ng-deep .mat-tab-label-active {
	opacity: 1;
}

.mat-icon {
	margin: 0;
	float: right;
}

.sign-up-button button {
	background-color: maroon;
	color: #ffffff;
}

.google-login {
	p {
		font-size: 14px;
		color: gray;
	}
	.mat-icon {
		line-height: 100%;
		margin-right: 5px;
		float: none;
	}
}

::ng-deep .mat-form-field {
    &.ng-valid {
        .mat-form-field-wrapper {
        padding-bottom: 1.25em;
        }
    }
    
    &.ng-invalid,
    &.mat-form-field-invalid {
        .mat-form-field-wrapper {
        padding-bottom: 7px;
        }
    }
    
    &.ng-untouched {
        .mat-form-field-wrapper {
        padding-bottom: 1.25em;
        }
    }
    
    .mat-form-field {
        &-underline {
        position: static;
        }
    
        &-subscript-wrapper {
        position: static;
        }
    }
}