<div *ngIf="!isLoading">
  <table mat-table [dataSource]="revisionData" class="full-width" #itemsTable>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let item; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let item">
        {{ item.created_at | date: "MMMM dd, yyyy hh:mm:ss a":"+0800" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef>Remark</th>
      <td mat-cell *matCellDef="let item">
        {{ item.remarks ? item.remarks : "Compliant" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="evaluator">
      <th mat-header-cell *matHeaderCellDef>Evaluated By</th>
      <td mat-cell *matCellDef="let item">
        {{ item.evaluator_detail.first_name }}&nbsp;
        {{ item.evaluator_detail.last_name }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let items; columns: displayedColumns"></tr>
  </table>

  <form
    *ngIf="revisionData.length >= 1 && data.evaluator"
    [formGroup]="remarksForm"
  >
    <div class="mt-5">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Add a Remark</mat-label>
          <input matInput value="Sushi" formControlName="remarks" />
        </mat-form-field>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addRemarks()"
        >
          Add a remark
        </button>
      </div>
    </div>
  </form>
  <!-- <div class="mt-5 text-right">
    <button mat-raised-button color="accent" (click)="onNoClick()">
      Close
    </button>
  </div> -->
</div>
