<mat-card class="card-container">
  <div class="row">
      <div class="col-md-5">
       <div class="box">
        <div class="row justify-content-md-center" style="margin-top: 200px;">
          <div class="col-md-8 ">
           <h3 style="color: white;">Don' t have an account yet</h3>
           <button style="background-color:maroon; color: white; border-color: white;" 
                   mat-stroked-button
                   (click)="signUp()">
                   
            SIGN UP
          </button>
          </div>
        </div>
             
      </div>
      </div>
      <div class="col-md-7 px-3 py-3">
        <form [formGroup]= "_evaluatorSignInForm" (ngSubmit)="tryLogin(_evaluatorSignInForm.value)">
          <div class="row justify-content-md-center pt-4">
            <div class="col-md-9">
             <h3>Evaluator Login</h3>
            </div>
          </div>
          <div class="row justify-content-md-center pt-3">
            <div class="col-md-9">
              <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>
                <input
                  matInput
                  placeholder="juanMiguel@gmail.com"
                  formControlName="email"
                  required
                />
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-md-center pt-1">
            <div class="col-md-9">
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
              </mat-form-field>
              <a
                style="margin-top: -10px; color: maroon"
                routerLink="/forgot-password"
                routerLinkActive="active"
                >forgot password?</a
              >
            </div>
          </div>
          <div class="row justify-content-md-center py-3">
            <div class="col-md-4 text-center">
              <button style="background-color: maroon; color: white" mat-stroked-button>
                Sign in
              </button>
            </div>
          </div>
          <hr />
          <div class="row row justify-content-md-center pt-3">
            <p style="font-size: smaller; color: gray">or sign in with</p>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-4 text-center mb-5">
              <button mat-stroked-button (click)="tryGoogle()">
                <mat-icon
                  matPrefix
                  style="width: 40px; height: 25px; margin-bottom: 15px"
                  svgIcon="logo"
                >
                </mat-icon
                >Google
              </button>
            </div>
          </div>
        </form>
        
      
   </div>
  </div>
</mat-card>

