.evaluator-sign-in {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: auto;
    width: 700px;
}

.box{
    height: 100%;
    width: 100%;
    background-color: maroon;
}

