<mat-card class="mat-card py-5 px-3">
  <div class="p-5">
    <h2>Personal Info</h2>
    <div class="horizontal-line"></div>
  </div>
  <form [formGroup]="_personalInfoForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center py-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="first_name" required />
          <mat-error
            *ngIf="
              (personalInfoFormcControl.first_name.touched || _submitted) &&
              personalInfoFormcControl.first_name.errors?.required
            "
          >
            First Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input type="text" matInput formControlName="middle_name" />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input type="text" matInput formControlName="last_name" required />
          <mat-error
            *ngIf="
              (personalInfoFormcControl.last_name.touched || _submitted) &&
              personalInfoFormcControl.last_name.errors?.required
            "
          >
            Last Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Suffix</mat-label>
          <mat-select formControlName="suffix_name">
            <mat-option value="Jr">Jr</mat-option>
            <mat-option value="Sr">Sr</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center py-3">
      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Birthday</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthdate"
            placeholder="click the calendar icon"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error
            *ngIf="
              (personalInfoFormcControl.birthdate.touched || _submitted) &&
              personalInfoFormcControl.birthdate.errors?.required
            "
          >
            Birthdate is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-button-toggle-group
          appearance="standard"
          name="gender"
          aria-label="Gender"
          formControlName="gender"
          required
        >
          <mat-button-toggle value="M">Male</mat-button-toggle>
          <mat-button-toggle value="F">Female</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error
          *ngIf="
            (personalInfoFormcControl.gender.touched || _submitted) &&
            personalInfoFormcControl.gender.errors?.required
          "
        >
          Gender is required
        </mat-error>
      </div>
    </div>

    <div class="row justify-content-center py-3">
      <div class="col-md-5">
        <mat-form-field appearance="outline">
          <mat-label>Nationality</mat-label>
          <input type="text" matInput formControlName="nationality" required />
          <mat-error
            *ngIf="
              (personalInfoFormcControl.nationality.touched || _submitted) &&
              personalInfoFormcControl.nationality.errors?.required
            "
          >
            Nationality is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Marital Status</mat-label>
          <mat-select formControlName="marital_status" required>
            <mat-option value="Single">Single</mat-option>
            <mat-option value="Married">Married</mat-option>
            <mat-option value="Divorce">Divorce</mat-option>
            <mat-option value="Widowed">Widowed</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              (personalInfoFormcControl.marital_status.touched || _submitted) &&
              personalInfoFormcControl.marital_status.errors?.required
            "
          >
            Marital Status is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center py-3">
      <div class="col-md-3 col-3 text-right mb-3">
        <button
          style="background-color: maroon; color: white"
          mat-stroked-button
          type="submit"
        >
          Proceed
        </button>
      </div>
    </div>
  </form>
</mat-card>
