.card-container {
  max-width: 1200px;
  height: auto;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  text-align: left;
}
.horizontal-line {
  background-color: maroon;
}
button {
  background-color: maroon;
  color: white;
}