<mat-card class="card-container">
  <div class="container-fluid">
    <div class="row pt-5 pb-5 pl-md-4">
        <div class="col-12">
            <h2>Personal Info</h2>
            <div class="horizontal-line"></div>
        </div>
    </div>
    <form [formGroup]="_personalInfoForm" (ngSubmit)="openDialog()">
        <div class="row justify-content-center py-1">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="first_name" required />
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.first_name.touched || _submitted) &&
                        personalInfoFormcControl.first_name.errors?.required
                        "
                    >
                        First Name is Required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" matInput formControlName="middle_name" />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput formControlName="last_name" required />
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.last_name.touched || _submitted) &&
                        personalInfoFormcControl.last_name.errors?.required
                        "
                    >
                        Last Name is Required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Suffix</mat-label>
                    <mat-select formControlName="suffix_name">
                        <mat-option value=" "></mat-option>
                        <mat-option value="Jr">Jr</mat-option>
                        <mat-option value="Sr">Sr</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center py-1">    
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="marital_status" required>
                        <mat-option value="Single">Single</mat-option>
                        <mat-option value="Married">Married</mat-option>
                        <mat-option value="Divorce">Divorce</mat-option>
                        <mat-option value="Widowed">Widowed</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.marital_status.touched || _submitted) &&
                        personalInfoFormcControl.marital_status.errors?.required
                        "
                    >
                        Marital Status is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Birthday</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="birthdate"
                        placeholder="click the calendar icon"
                        readonly
                        required
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.birthdate.touched || _submitted) &&
                        personalInfoFormcControl.birthdate.errors?.required
                        "
                    >
                        Birthdate is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="M">Male</mat-option>
                        <mat-option value="F">Female</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="
                        (personalInfoFormcControl.gender.touched || _submitted) &&
                        personalInfoFormcControl.gender.errors?.required
                    "
                    >
                        Gender is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center py-1">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>House No., Bldg, Street</mat-label>
                    <input type="text" matInput formControlName="home_address" required />
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.home_address.touched || _submitted) &&
                        personalInfoFormcControl.home_address.errors?.required
                        "
                    >
                        Home Address is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Barangay</mat-label>
                    <input type="text" matInput formControlName="barangay" required />
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.barangay.touched || _submitted) &&
                        personalInfoFormcControl.barangay.errors?.required
                        "
                    >
                        Barangay is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input
                        type="tel"
                        matInput
                        formControlName="contact_number"
                        [maxLength]="maxLength"
                        placeholder="Ex. 09123456789"
                        #contact
                        required
                    />
                    <mat-error
                        *ngIf="
                        (personalInfoFormcControl.contact_number.touched || _submitted) &&
                        personalInfoFormcControl.contact_number.errors?.required
                        "
                    >
                        Contact Number is required
                    </mat-error>
                    <mat-hint align="end">
                        {{ contact.value.length }} / {{ maxLength }}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center pt-5 pb-5">
        <div class="col-md-3 col-6 text-right mb-3">
            <button
            style="background-color: maroon; color: white"
            mat-stroked-button
            type="submit"
            >
            Proceed
            </button>
        </div>
        </div>
    </form>
  </div>
</mat-card>