.mat-form-field{
    width: 100%;
}

.mat-button-toggle{
    height: 100%;

}
// .mat-button-toggle-group{
//     height: 70% !important;
//     width: 100% !important;
// }
.mat-button-toggle-group.mat-button-toggle-group {
    display: flex;
    text-align: center;
    margin-top: 4px;
    .mat-button-toggle{
        width: 100%!important;
        
        
      }

   
      
    
      
    }
    
  