<mat-sidenav-container class="mobile-nav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-nav">
      <a class="logo" href="#">
        <img src="../../assets/images/logo-city.png" />
      </a>
      <span class="spacer"></span>
      <div>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">News</a>
        <a href="#">Contact Us</a>
        <a class="login" href="user/sign-in">Login</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="row banner">
  <div class="col-12">
    <div>OCPAS</div>
    <div>Online Construction Permit Application System</div>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <img
    style="width: 300px; height: 300px"
    src="../../assets/images/verify-email-maroon-vector.png"
  />
</div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="formGroup" *ngIf="_authService.userData as user">
      <h4 class="mt-3 text-center">
        We have sent a confirmation email to <strong>{{ user.email }}</strong
        >.
      </h4>
      <p class="text-center">
        Please check your email and click on the link to verfiy your email
        address.
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="row justify-content-center py-1">
    <div class="col-md-12 text-center py-2">
      <button
        style="background-color: maroon; color: white"
        mat-stroked-button
        (click)="sendAgainVerification()"
      >
        Resend Verication Email
      </button>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <a style="color: maroon" routerLink="/user/sign-in" routerLinkActive="active"
    >Go back to login</a
  >
</div>
