<div class="app-details" *ngIf="applicationDetails && isAuthorized">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <mat-card class="heading__card">
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <div>
              <h4 style="color: #313131" class="mb-4">
                <strong>Application Details</strong>
              </h4>
            </div>
          </div>
          <div class="row mb-1">
            <div class="avatar-container col-md-4 text-center">
              <div>
                <h5 style="text-transform: uppercase">
                  <strong
                    >&nbsp;{{
                      applicationDetails.applicant_detail.first_name
                    }}&nbsp;{{
                      applicationDetails.applicant_detail.last_name
                    }}</strong
                  >
                </h5>
              </div>
              <div>
                <h5
                  style="color: #7b7b7b"
                  style="text-transform: uppercase; word-wrap: break-word"
                >
                  {{ applicationDetails.applicant_detail.email_address }}
                </h5>
              </div>
              <div>
                <h5 style="color: #7b7b7b">
                  {{ applicationDetails.applicant_detail.contact_number }}
                </h5>
              </div>
              <div>
                <h5 style="color: #7b7b7b">
                  {{ applicationDetails.applicant_detail.barangay }}
                </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col">
                <h5 style="color: #7b7b7b">Application Number:</h5>
                <h5>
                  <strong>{{
                    applicationDetails.permit_application_code
                  }}</strong>
                </h5>
              </div>
              <div class="col">
                <h5 style="color: #7b7b7b">Date Submitted:</h5>
                <h5>
                  <strong
                    >&nbsp;{{
                      applicationDetails.submitted_at | date: "MMMM dd, yyyy"
                    }}</strong
                  >
                </h5>
              </div>
              <div
                class="col"
                *ngIf="applicationDetails.permit_released_code !== null"
              >
                <h5 style="color: #7b7b7b">Permit Number:</h5>
                <h5 style="color: green">
                  <strong
                    >&nbsp;{{ applicationDetails.permit_released_code }}</strong
                  >
                </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col">
                <h5 style="color: #7b7b7b">Application Type:</h5>
                <h5>
                  <strong
                    >&nbsp;{{
                      getApplicationType(applicationDetails.permit_type_id)
                    }}</strong
                  >
                </h5>
              </div>
              <div class="col">
                <h5 style="color: #7b7b7b">Construction Type:</h5>
                <h5>
                  <strong
                    >&nbsp;
                    {{
                      getConstructionType(
                        applicationDetails.construction_status_id
                      )
                    }}
                  </strong>
                </h5>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <ng-container
              *ngIf="
                applicationDetails.permit_type_id == 3 &&
                !applicationDetails.main_permit_id
              "
            >
              <button
                mat-raised-button
                color="primary"
                (click)="openAssociateBpEgpp(1)"
              >
                Associate a Building Permit
              </button>
            </ng-container>
            <ng-container
              *ngIf="
                applicationDetails.permit_type_id == 1 &&
                !applicationDetails.sub_permit_type_id
              "
            >
              <button
                mat-raised-button
                color="primary"
                (click)="openAssociateBpEgpp(2)"
              >
                Associate an Excavation Permit
              </button>
            </ng-container>
            <ng-container
              *ngIf="
                applicationDetails.permit_type_id !== 1 &&
                applicationDetails.main_permit_id
              "
            >
              <a
                [routerLink]="['../', applicationDetails.main_permit_id]"
                routerLinkActive="active"
                target="_blank"
              >
                <button mat-raised-button class="ml-2" color="primary">
                  View Associated Building Permit
                </button></a
              ></ng-container
            >
            <ng-container
              *ngIf="
                applicationDetails.permit_type_id == 1 &&
                applicationDetails.sub_permit_type_id
              "
            >
              <a
                [routerLink]="['../', applicationDetails.sub_permit_type_id]"
                routerLinkActive="active"
                target="_blank"
              >
                <button mat-raised-button class="ml-2" color="primary">
                  View Associated Excavation Permit
                </button></a
              ></ng-container
            >

            <button
              mat-raised-button
              color="primary"
              (click)="openProjectDialog()"
              class="ml-2"
              *ngIf="applicationDetails.permit_type_id == 1"
            >
              Project Details
            </button>

            <button
              class="ml-2"
              mat-raised-button
              color="primary"
              (click)="openRepresentativeDialog()"
              *ngIf="applicationDetails.is_representative == 1"
            >
              Engineer/Architect In-charge Details
            </button>
            <button
              mat-raised-button
              class="ml-2"
              color="accent"
              (click)="openFeesDialog()"
            >
              View Fees
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-12">
      <mat-card class="heading__card">
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <div>
              <h3 style="color: #313131" class="mb-4">
                <strong>Application Status</strong>
              </h3>
            </div>
          </div>
          <div class="col heading__card__content">
            <div class="heading__card__content__status">
              <h2
                [style.color]="
                  applicationDetails.application_status_id == 11
                    ? 'green'
                    : 'red'
                "
              >
                <strong
                  >&nbsp;
                  {{
                    getApplicationStatus(
                      applicationDetails.application_status_id
                    )
                  }}
                </strong>
              </h2>
            </div>
            <div class="heading__card__content__reminder">
              <p>
                {{ getReminder() }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="app-timeline">
    <mat-card>
      <mat-card-content>
        <h4 style="color: #313131" class="mb-4">
          <strong>Application Timeline</strong>
          <hr />
        </h4>
        <div>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="mb-2"
          >
            <mat-expansion-panel-header>
              <mat-panel-title
                ><mat-icon
                  aria-hidden="false"
                  class="mr-2"
                  style="color: maroon"
                  >timeline</mat-icon
                >
                View Timeline</mat-panel-title
              >
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <app-application-timeline
                  [type]="applicationDetails.permit_type_id"
                ></app-application-timeline>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="inspection" *ngIf="!isLoading">
    <mat-card>
      <mat-card-content>
        <h4 style="color: maroon" class="mb-4">
          <strong>Inspection Schedule </strong>
          <hr />
        </h4>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          class="mb-2"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              ><mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
                >event</mat-icon
              >
              Inspections</mat-panel-title
            >
          </mat-expansion-panel-header>

          <ng-container *ngIf="inspections.length > 0; else noInspection">
            <div class="inspection__body">
              <ng-container *ngFor="let item of inspections; let i = index">
                <app-inspection-card
                  [details]="inspections[i]"
                  [application]="inspections[i].application_id"
                  (click)="viewInspection(inspections[i])"
                ></app-inspection-card>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #noInspection>
            <p class="mt-5 text-center">No scheduled inspections</p>
          </ng-template>
        </mat-expansion-panel>
        <div></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card style="background-color: #f9c132e3">
      <mat-card-content>
        <h4 class="text-center">
          <strong>For assistance in using BuildPASS: </strong>
        </h4>
        <h5>Call or text:</h5>
        <div class="d-flex justify-content-around align-items-center">
          <div class="col">
            <h5>
              City Buildings and Architecture Office: <br />
              <span style="font-weight: 600"
                >+63-926-121-2394 or (074)442-2503</span
              >
            </h5>
            <h5>
              City Planning and Development Office: <br />
              <span style="font-weight: 600"> (074)300-6548</span>
            </h5>
          </div>
          <div class="col">
            <h5>
              City Environment and Parks Management Office: <br />
              <span style="font-weight: 600"> (074)300-6500</span>
            </h5>
            <h5>
              Bureau of Fire Protection: <br />
              <span style="font-weight: 600">
                (074)442-2222 or (074)443-7089</span
              >
            </h5>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-forms" *ngIf="!isLoading">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>assignment</mat-icon>
              Documents
            </ng-template>
            <div>
              <div>
                <div class="document-search col-12 col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="searchKey" />
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                
                <table mat-table [dataSource]="dataSource">
                  <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                  <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-icon *ngIf="element.document_status_id == 0"
                        >assignment</mat-icon
                      >
                      <mat-icon *ngIf="element.document_status_id == 1"
                        >assignment_turned_in</mat-icon
                      >
                      <mat-icon *ngIf="element.document_status_id == 2"
                        >assignment_late</mat-icon
                      >
                    </td>
                  </ng-container>

                  <!--  Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                      Documentary Requirements
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      [ngClass]="{ 'doc-category-header': element.label }"
                    >
                      {{
                        !element.label
                          ? getDocName(element.document_id)
                          : element.label
                      }}
                    </td>
                  </ng-container>

                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                      {{
                        !element.label
                          ? element.is_applicable == 2 &&
                            element.document_status_id == 1
                            ? "Not Applicable"
                            : applicationDetails.application_status_id == 1 &&
                              element.document_status_id == 1
                            ? "Received"
                            : getDocStatus(element.document_status_id)
                          : ""
                      }}
                    </td>
                  </ng-container>
                  <!-- Remarks Column -->
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef>Remarks</th>
                    <td mat-cell *matCellDef="let element">
                      <!-- <a (click)="openRemarksHistory(element)" style="color: orange">
                      View
                    </a> -->
                      <mat-icon
                        *ngIf="!element.label"
                        class="remark"
                        (click)="openRemarksHistory(element)"
                        [matBadge]="element.document_revision.length"
                        matBadgeColor="warn"
                        >remove_red_eye</mat-icon
                      >
                    </td>
                  </ng-container>

                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                      <button
                        mat-button
                        [matMenuTriggerFor]="menu"
                        *ngIf="!element.label"
                      >
                        Select <mat-icon> arrow_drop_down </mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <ng-container
                          *ngIf="
                            applicationDetails.application_status_id !== 11
                          "
                        >
                          <button
                            mat-menu-item
                            color="accent"
                            (click)="openFormDialog(element)"
                          >
                            Edit
                          </button>
                        </ng-container>
                        <ng-container
                          *ngIf="applicationDetails.application_status_id == 11"
                        >
                          <a
                            href="{{ element.document_path }}"
                            target="_blank"
                            mat-menu-item
                            >Print</a
                          >
                        </ng-container>
                        <ng-container>
                          <a
                            (click)="viewFlattenPdf(element.document_path)"
                            mat-menu-item
                            >View</a
                          >
                        </ng-container>
                      </mat-menu>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    [ngClass]="{
                      pending: row.document_status_id == 0,
                      'not-applicable':
                        row.document_status_id == 1 && row.is_applicable == 2,
                      compliant:
                        row.document_status_id == 1 && row.is_applicable !== 2,
                      'non-compliant': row.document_status_id == 2,
                      hidden: row.label && row.label == 'hidden'
                    }"
                  ></tr>
                </table>
                <div class="text-right mt-5">
                  <ng-container
                    *ngIf="
                      applicationDetails.permit_type_id == 1 ||
                      applicationDetails.permit_type_id == 2
                    "
                  >
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="onSave()"
                      [disabled]="
                        applicationDetails.application_status_id !== 5
                      "
                    >
                      Submit
                    </button></ng-container
                  >
                  <ng-container
                    *ngIf="
                      this.applicationDetails.permit_type_id !== 1 &&
                      this.applicationDetails.permit_type_id !== 2
                    "
                  >
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="otherPermitsSave()"
                      [disabled]="
                        applicationDetails.application_status_id !== 5
                      "
                    >
                      Submit
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>folder</mat-icon>
              Supporting Documents
            </ng-template>
            <app-supporting-documents
              [evaluatorDetails]="evaluatorDetails"
              [applicationDetails]="applicationDetails"
              [userDetails]="user"
            ></app-supporting-documents>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>report</mat-icon>
              General Remarks
              <mat-icon
                [matBadge]="applicationDetails.remarks.length"
                matBadgeColor="warn"
              ></mat-icon>
            </ng-template>
            <app-general-remarks
              [evaluatorDetails]="evaluatorDetails"
            ></app-general-remarks>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
