@import url("https://use.typekit.net/esm6qln.css");

table {
  width: 100%;

  .doc-category-header {
    font-weight: 800;
  }

  .hidden {
    display: none;
  }

  .pending {
    td:first-of-type {
      color: lightgray;
    }
  }
  .not-applicable {
    background-color: rgb(248, 214, 151);

    td:first-of-type {
      color: orange;
    }
    td:nth-of-type(3) {
      color: orange;
      font-weight: 600;
    }
  }
  .compliant {
    background-color: #dcedc8;

    td:first-of-type {
      color: green;
    }
    td:nth-of-type(3) {
      color: green;
      font-weight: 600;
    }
  }

  .non-compliant {
    background-color: #cf513d;

    td {
      color: #fff !important;
    }
    td:nth-of-type(3) {
      font-weight: 600;
    }
  }
}

.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-remarks {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.timeline-area {
  margin: 10px auto;
  width: 360px;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;

  div {
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
    height: 110px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: maroon;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
  }

  div:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
  }
}

a:hover {
  cursor: pointer;
}

mat-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.remark {
  color: maroon;
}

.action {
  color: #f9c232;
}

.notif-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(225deg, #d6dde0, #ffffff);
  box-shadow: -5px 5px 13px #cad0d4, 5px -5px 13px #ffffff;

  p {
    font-size: 14px;
    color: maroon;
    font-weight: bold;
  }
}

.inspection {
  &__header {
    display: flex;
    flex-direction: row-reverse;

    h1 {
      color: #363738;
      font-size: 24px;
      font-weight: 600;
    }
  }
  &__body {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.heading__card {
  min-height: 300px;

  &__content {
    &__status {
      text-align: center;

      h2 {
        font-family: cooper-black-std, serif !important;
        font-weight: 400;
        font-style: normal;
      }
    }
    &__reminder {
      min-height: 60px;
      padding: 10px;
      background-color: #f9c232;
      border-radius: 10px;

      p {
        text-align: center;
        font-weight: 600;
        font-style: normal;
      }
    }
  }
}
