<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">223</h3>
                        <h6 class="text-muted m-0">Applicants</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>engineering</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">48</h3>
                        <h6 class="text-muted m-0">Evaluators</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>feedback</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">55</h3>
                        <h6 class="text-muted m-0">Feedback</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-accent">
                            <mat-icon>new_releases</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">1</h3>
                        <h6 class="text-muted m-0">Permit Released</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
