table {
  width: 100%;
  margin-top: 10px;

  .mat-header-cell {
    background-color: maroon;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }

  .doc-category-header {
    font-weight: 800;
  }

  .hidden {
    display: none;
  }

  .pending {
    td:first-of-type {
      color: lightgray;
    }
  }

  .compliant {
    background-color: #dcedc8;
    
    td:first-of-type {
      color: green;
    }
    td:nth-of-type(3) {
      color: green;
      font-weight: 600;
    }
  }

  .non-compliant {
    background-color: #cf513d;

    td {
      color: #fff !important;
    }
    td:nth-of-type(3) {
      font-weight: 600;
    }
  }
}

.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: center;
}
.mat-column-remarks {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: center;
}
.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: center;
}
.action__buttons {
  button {
    min-width: 250px;
  }
}

a:hover {
  cursor: pointer;
}

mat-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.remark {
  color: maroon;
}
.remark:hover {
  cursor: pointer;
}

.action {
  color: #f9c232;
}
