.pointer{
    cursor: pointer;
}

.drag-index{
    font-size: xx-large;
    color: maroon;
}

.img{
  padding-left: 110px;
  width: 400px;
  height: 150px;
}

.more{
  color: maroon;
}

.date{
  font-size: small;
}
.add-new-btn{
  margin:auto
}

