<form [formGroup]="_evaluatorEmployeeInfoForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center mt-5 mb-3 mx-3">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Employee Number</mat-label>
                <input type="text" matInput formControlName="employee_number" required />
                <mat-error *ngIf="
              (evaluatorEmployeeFormControl.employee_number.touched || _submitted) &&
              evaluatorEmployeeFormControl.employee_number.errors?.required">
                    Employee Number is Required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row justify-content-center my-3 mx-3">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select placeholder="Select Department" formControlName="department" required>
                    <mat-option value="1">City Planning and Development Office</mat-option>
                    <mat-option value="2">City Environment and Park Office</mat-option>
                    <mat-option value="3">Bureau of Fire</mat-option>
                    <mat-option value="4">City Buildings and Architecture Office</mat-option>
                </mat-select>
                <mat-error *ngIf="
                (evaluatorEmployeeFormControl.department.touched || _submitted) &&
                evaluatorEmployeeFormControl.department.errors?.required">
                    Department is Required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row justify-content-center my-3 mx-3">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Position</mat-label>
                <input type="text" matInput formControlName="position" required />
                <mat-error *ngIf="
                  (evaluatorEmployeeFormControl.position.touched || _submitted) &&
                  evaluatorEmployeeFormControl.position.errors?.required
                ">
                    Position is required
                </mat-error>
            </mat-form-field>
        </div>


    </div>
    <div class="row justify-content-center my-3 mx-3">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input type="tel" matInput formControlName="contact_number" [maxLength]="maxLength"
                    placeholder="Ex. 09123456789" #contact required />
                <mat-error *ngIf="
                  (evaluatorEmployeeFormControl.contact_number.touched || _submitted) &&
                  evaluatorEmployeeFormControl.contact_number.errors?.required
                ">
                    Contact Number is required
                </mat-error>
                <mat-hint align="end">{{ contact.value.length }} / {{ maxLength }}</mat-hint>
            </mat-form-field>
        </div>

    </div>
    <div class="row justify-content-center py-3">
        <div class="col-md-3 col-3 text-right mb-3">
            <button style="background-color: maroon; color: white" mat-stroked-button type="submit">
                Proceed
            </button>
        </div>
    </div>



</form>