
<mat-card>
  <mat-card-header style="justify-content: center;">
    <mat-card-title >Notification</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let feed of feeds">
      <div class="box">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{feed.application_number}} {{feed.status}}
            </mat-card-title>
         </mat-card-header>
         <mat-card-content>
           <div class='row'>
             <div class='col-md-10'>
                {{feed.message}}
             </div>
             <div class='col-md-2'>
              <button 
                style="background-color:maroon; color: white; border-color: white;" 
                mat-stroked-button>
                  VIEW
              </button>

             </div>
           </div>
          
         </mat-card-content>

        </mat-card>
       
      </div>
    </div>

  </mat-card-content>
</mat-card>


