<div class="container">
    <div class="row mx-5">
      <div class="d-flex justify-content-between w-100">
        <div>
          <h2>Building Permit Application</h2>
          <p>
            Click <a href="" target="_blank">here</a> to view all required forms
            for Building Permit Application.
          </p>
          <hr />
        <p class="pt-5">Please upload the necessary files.</p>

        </div>
        <div>
          <img
            src="../../../../assets/illustrations/clearance.png"
            class="illustration"
          />
        </div>
      </div>
      <div class="content px-5 w-100">
        <h4 class="my-4">Clearances</h4>
        <div class="mb-4">
          <div class="d-flex justify-content-between">
            <h5>Zoning Compliance Certificate from CPDO</h5>
            <mat-icon *ngIf="zoningComplianceCertificate" style="color: green"
              >check_circle</mat-icon
            >
          </div>
          <ngx-dropzone
            (change)="onSelect($event, 'zoningComplianceCertificate')"
            [multiple]="false"
          >
            <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngIf="zoningComplianceCertificate"
              [removable]="true"
              (removed)="onRemove('zoningComplianceCertificate')"
              class="mx-auto"
            >
              <ngx-dropzone-label
                >{{ zoningComplianceCertificate.name }} ({{
                  zoningComplianceCertificate.type
                }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="mb-4">
          <div class="d-flex justify-content-between">
            <h5>Fire Safety Evaluation Clearance from Fire Department Office</h5>
            <mat-icon *ngIf="fireSafetyEvaluation" style="color: green"
              >check_circle</mat-icon
            >
          </div>
          <ngx-dropzone
            (change)="onSelect($event, 'fireSafetyEvaluation')"
            [multiple]="false"
          >
            <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngIf="fireSafetyEvaluation"
              [removable]="true"
              (removed)="onRemove('fireSafetyEvaluation')"
              class="mx-auto"
            >
              <ngx-dropzone-label
                >{{ fireSafetyEvaluation.name }} ({{
                  fireSafetyEvaluation.type
                }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="mb-4">
          <div class="d-flex justify-content-between">
            <h5>
                WWMS Certificate from CEPMO
            </h5>
            <mat-icon *ngIf="wwmsCertificate" style="color: green"
              >check_circle</mat-icon
            >
          </div>
          <ngx-dropzone
            (change)="onSelect($event, 'wwmsCertificate')"
            [multiple]="false"
          >
            <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngIf="wwmsCertificate"
              [removable]="true"
              (removed)="onRemove('wwmsCertificate')"
              class="mx-auto"
            >
              <ngx-dropzone-label
                >{{ wwmsCertificate.name }} ({{
                  wwmsCertificate.type
                }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="mb-4">
            <div class="d-flex justify-content-between">
              <h5>
                Barangay Clearance
              </h5>
              <mat-icon *ngIf="barangayClearance" style="color: green"
                >check_circle</mat-icon
              >
            </div>
            <ngx-dropzone
              (change)="onSelect($event, 'barangayClearance')"
              [multiple]="false"
            >
              <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
              <ngx-dropzone-preview
                *ngIf="barangayClearance"
                [removable]="true"
                (removed)="onRemove('barangayClearance')"
                class="mx-auto"
              >
                <ngx-dropzone-label
                  >{{ barangayClearance.name }} ({{
                    barangayClearance.type
                  }})</ngx-dropzone-label
                >
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        <div class="d-flex justify-content-between mb-4">
          <div>
            <button mat-button>
              <mat-icon>chevron_left</mat-icon>
              Back
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="callNext()">Next</button>
          </div>
        </div>
      </div>
      <!-- <div class="content-background col-md-6">
        <img
          class="img-fluid mt-5"
          src="../../../assets/illustrations/construction.png"
        />
      </div> -->
    </div>
  </div>
  