.row-no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 10px;
  margin-right: 10px;
}

.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}