<mat-card class="card-container container-fluid">
  <div class="row">
    <div class="col-md-10">
      <nav mat-tab-nav-bar mat-stretch-tabs>
        <a
          mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link.label }}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 box">
    </div>
  </div>
 </mat-card>
 
 