.news{
    max-width: 1200px;

    .page-header {
        margin-top: 50px;
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        text-align: right;
        margin-right: 50px;
    }

    .page-content {
        margin-top: 50px;
        font-size: 17px;
        color: #000000;
        padding-bottom: 30px;
    }

    @media (max-width: 767.5px) {
        max-width: 90%;

        .page-header {
            text-align: left;
        }
    }

    // .img{
    //     width: 1200px;
    //     height: 500px;
    // }

}

.img{
    height: 140px !important;
    width: 215px !important;
    margin: auto;
  }
  
  .more{
    color: maroon;
    cursor: pointer;
  }
  .subject{
    color: maroon;
  }
  
  .description{
    color: gray;
    text-align: justify;
  }
  
  .date{
    font-size: small;
  }

