<div class="application-filters">
  <!-- <div class="filters-toggle">FILTER APPLICATIONS</div> -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Application Number</mat-label>
        <input matInput [formControl]="applicationNumber" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="permit-type-selector">
        <mat-label>Permit Type</mat-label>
        <mat-select [formControl]="permitType">
          <mat-option value="0">All</mat-option>
          <mat-option value="1">Building Permit</mat-option>
          <mat-option value="2">Certificate of Occupancy</mat-option>
          <mat-option value="3">Excavation Permit</mat-option>
          <mat-option value="4">Fencing Permit</mat-option>
          <mat-option value="5">Demolition Permit</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div *ngIf="!loading">
  <mat-card
    class="application"
    *ngFor="let application of currentItemsToShow"
    (click)="chooseApplication(application)"
  >
    <div class="application-logo">
      <img
        src="../../../assets/illustrations/building.svg"
        *ngIf="application.permit_type_id == 1"
      />
      <img
        src="../../../assets/illustrations/home.svg"
        *ngIf="application.permit_type_id == 2"
      />
      <img
        src="../../../assets/illustrations/excavation.svg"
        *ngIf="application.permit_type_id == 3"
      />
      <img
        src="../../../assets/illustrations/fencing.svg"
        *ngIf="application.permit_type_id == 4"
      />
      <img
        src="../../../assets/illustrations/demolition.svg"
        *ngIf="application.permit_type_id == 5"
      />
      <img
        src="../../../assets/illustrations/scaffolding.svg"
        *ngIf="application.permit_type_id == 6"
      />
      <img
        src="../../../assets/illustrations/sign.svg"
        *ngIf="application.permit_type_id == 7"
      />
      <img
        src="../../../assets/illustrations/sidewalk.svg"
        *ngIf="application.permit_type_id == 8"
      />
      <img
        src="../../../assets/illustrations/mechanical.svg"
        *ngIf="application.permit_type_id == 9"
      />
      <img
        src="../../../assets/illustrations/electrical.svg"
        *ngIf="application.permit_type_id == 10"
      />
    </div>
    <div class="application-details">
      <div class="application-type" *ngIf="application.permit_type_id">
        <div>
          {{ application.permit_type_id == 1 ? "Building Permit" : "" }}
          {{
            application.permit_type_id == 2 ? "Certificate of Occupancy" : ""
          }}
          {{ application.permit_type_id == 3 ? "Excavation Permit" : "" }}
          {{ application.permit_type_id == 4 ? "Fencing Permit" : "" }}
          {{ application.permit_type_id == 5 ? "Demolition Permit" : "" }}
          {{ application.permit_type_id == 6 ? "Scaffolding Permit" : "" }}
          {{ application.permit_type_id == 7 ? "Sign Permit" : "" }}
          {{
            application.permit_type_id == 8
              ? "Temporary Side Walk Enclosure"
              : ""
          }}
          {{ application.permit_type_id == 9 ? "Mechanical Permit" : "" }}
          {{
            application.permit_type_id == 10 &&
            application.sub_permit_type_id == 1
              ? "CFEI - Temporary Connection"
              : ""
          }}
          {{
            application.permit_type_id == 10 &&
            application.sub_permit_type_id == 2
              ? "CFEI - Additional Connection"
              : ""
          }}
          {{
            application.permit_type_id == 10 &&
            application.sub_permit_type_id == 3
              ? "CFEI - Structures with Building Permit / Occupancy Certificate"
              : ""
          }}
          {{
            application.permit_type_id == 10 &&
            application.sub_permit_type_id == 4
              ? "CFEI - Structures affected by fire or calamities"
              : ""
          }}
          {{
            application.permit_type_id == 10 &&
            application.sub_permit_type_id == 5
              ? "CFEI - Structures w/o Building Permit"
              : ""
          }}
          <p *ngIf="application.permit_type_id == 1" style="color: maroon">
            (
            <span>{{
              getConstructionType(application.construction_status_id)
            }}</span>
            )
          </p>
        </div>

        <div *ngIf="application?.submitted_at">
          {{ application.submitted_at | date: "MMMM dd, yyyy" }}
        </div>
      </div>
      <div class="application-code">
        <div>
          {{ application.permit_application_code }}
        </div>
        <div>
          <button
            mat-button
            *ngIf="
              application.application_status_id == 6 &&
              userInfo.id == application.user_id
            "
            (click)="
              deleteApplication(application.id); $event.stopPropagation()
            "
          >
            Delete
          </button>
        </div>
      </div>
      <div class="application-status" *ngIf="application.application_status_id">
        {{ getApplicationStatus(application.application_status_id) }}
      </div>
      <div class="application-applicant" *ngIf="application.applicant_detail">
        <mat-icon [inline]="true">person</mat-icon>
        {{ application.applicant_detail.first_name }}
        {{
          application.applicant_detail.middle_name
            ? application.applicant_detail.middle_name
            : application.applicant_detail.middle_name == "N/A"
            ? ""
            : ""
        }}
        {{ application.applicant_detail.last_name }}
        {{
          application.applicant_detail.suffix_name != "na"
            ? application.applicant_detail.suffix_name
            : ""
        }}
      </div>
      <div class="application-location" *ngIf="application.project_detail">
        <mat-icon [inline]="true">location_on</mat-icon>
        {{
          application.project_detail.block_number
            ? "BLOCK " + application.project_detail.block_number
            : ""
        }}
        {{
          application.project_detail.lot_number
            ? "LOT " + application.project_detail.lot_number
            : ""
        }}
        {{
          application.project_detail.house_number
            ? "#" + application.project_detail.house_number
            : ""
        }}
        {{
          application.project_detail.street_name
            ? application.project_detail.street_name
            : ""
        }}
        {{
          application.project_detail.subdivision
            ? application.project_detail.subdivision
            : ""
        }}
        {{
          application.project_detail.barangay
            ? application.project_detail.barangay
            : ""
        }}
      </div>
      <div class="application-progress" *ngIf="application.status">
        <mat-icon [inline]="true">assignment</mat-icon>
        {{
          application.status.progress == "" ? "0" : application.status.progress
        }}%
      </div>
    </div>
  </mat-card>
</div>

<div class="loader" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50"
  ></mat-progress-spinner>
</div>

<div
  *ngIf="currentItemsToShow.length == 0 && !loading"
  class="no-applications-found"
>
  No applications found
</div>

<mat-paginator
  style="background-color: transparent"
  (page)="onPageChange($event)"
  [length]="filteredApplications.length"
  [pageSize]="5"
>
</mat-paginator>
