.loader {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.no-applications-found {
    text-align: center;
    margin: 100px 0;
}

.application {
    display: flex;
    margin: 15px 20px;
    cursor: pointer;
    font-weight: 400;

    .application-logo {
        padding: 15px;

        img {
            width: 65px;
            margin: 10px;
        }
    }

    .application-details {
        padding: 20px 20px 20px 0;
        width: 100%;

        .application-type {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div:first-of-type {
                font-size: 14px;
            }
        }

        .application-code {
            display: flex;
            justify-content: space-between;
            position: relative;

            div:first-of-type {
                font-weight: 700;
                text-align: left;
            }

            div:last-of-type {
                div {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 700;
                    color: red;
                }

                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 500;
                    color: #fff;
                    background-color: red;
                    border: 1px solid red;
                    border-radius: 5px;
                    margin-top: 5px;
                }
            }
        }

        .application-status {
            font-size: 20px;
            font-weight: 500;
            text-align: left;
        }

        .application-applicant, .application-location, .application-progress {
            display: flex;
            align-items: center;
            font-size: 15px;
            text-align: left;

            ::ng-deep .mat-icon {
            line-height: 17px;
            font-size: 20px;
            padding-right: 5px;
            }
        }
    }
}
