.application-filters {
    background-color: transparent;
    padding: 15px;
    font-weight: 500;
    text-align: left;

    ::ng-deep .mat-form-field-wrapper {
        padding: 0;
    }
}

.loader {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.no-applications-found {
    text-align: center;
    margin: 100px 0;
}

.application {
    display: flex;
    margin: 15px 20px;
    cursor: pointer;

    .application-logo {
        padding: 20px;

        img {
            width: 80px;
            margin: 10px;
        }
    }

    .application-details {
        padding: 20px 20px 20px 0;
        width: 100%;

        .application-type {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div:first-of-type {
            font-size: 14px;
            }
        }

        .application-code {
            display: flex;
            justify-content: space-between;

            div:first-of-type {
                font-weight: 700;
                text-align: left;
            }

            div:last-of-type {
                font-weight: 500;
                color: red;
            }
        }

        .application-status {
            font-size: 20px;
            font-weight: 500;
            text-align: left;
        }

        .application-applicant, .application-location, .application-progress {
            display: flex;
            align-items: center;
            font-size: 15px;
            text-align: left;

            ::ng-deep .mat-icon {
            line-height: 17px;
            font-size: 20px;
            padding-right: 5px;
            }
        }
    }
}
