<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="__left col-md-6 p-5" [formGroup]="permitStepOneForm">
      <h2 class="mb-5">
        Hi, {{ userInfo.first_name }}! Let's get started with your application.
      </h2>

      <p style="color: #767676"><strong>STEP 1</strong></p>
      <div>
        <h4>What type of permit do you want to apply?</h4>
        <mat-form-field appearance="outline">
          <mat-label>Application Type</mat-label>
          <mat-select
            [(value)]="selectedPermitType"
            formControlName="application_type"
            selected="1"
            [disabled]="isMaintenance"
          >
            <mat-option value="1" [disabled]="!receiveApplications"
              >Building Permit</mat-option
            >
            <mat-option value="2" [disabled]="false"
              >Certificate of Occupancy</mat-option
            >
            <mat-option value="3" [disabled]="!receiveApplications"
              >Excavation Permit</mat-option
            >
            <mat-option value="4" [disabled]="!receiveApplications"
              >Fencing Permit</mat-option
            >
            <mat-option value="5" [disabled]="!receiveApplications"
              >Demolition Permit</mat-option
            >
            <mat-option value="6">Scaffolding Permit</mat-option>
            <mat-option value="7" [disabled]="!receiveApplications"
              >Sign Permit</mat-option
            >
            <mat-option value="8">Temporary Side Walk Enclosure</mat-option>
            <mat-option value="9">Mechanical Permit</mat-option>
            <!-- <mat-option value="10"
              >Certificate of Final Electrical Inspection</mat-option
            > -->
          </mat-select>
        </mat-form-field>
        <div class="maintenance" *ngIf="isMaintenance">
          <span
            ><span class="text-danger font-weight-bold"
              >Our site is getting a little tune up and some love!</span
            >
            <br />We apologize for the inconvenience, but we are currently
            performing some system maintenance. We will be back on February 4,
            2022.</span
          >
        </div>
      </div>
      <ng-container *ngIf="selectedPermitType == '2'">
        <h4>Is your Building Permit released through BuildPASS?</h4>
        <mat-form-field appearance="outline">
          <mat-label>Choose</mat-label>
          <mat-select [(value)]="isBuildpassReleased">
            <mat-option value="1">Yes</mat-option>
            <mat-option value="2">No</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="isBuildpassReleased == 1">
          <h4>Please select your Building Permit</h4>
          <mat-form-field appearance="outline">
            <mat-label>Choose</mat-label>
            <mat-select [(value)]="selectedBuildingPermit">
              <mat-option
                *ngFor="let item of userBuildingPermits"
                value="{{ item.id }}"
                >{{ item.ocpas_code }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <p
            class="text-center fw-bold"
            *ngIf="userBuildingPermits.length == 0"
          >
            No data
          </p>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="selectedPermitType == '10'">
        <h4>CFEI Type:</h4>
        <mat-form-field appearance="outline">
          <mat-label>Choose</mat-label>
          <mat-select [(value)]="cfeiType" formControlName="cfei_type_id">
            <mat-option value="1">CFEI - Temporary Connection</mat-option>
            <mat-option value="2">CFEI - Additional Connection</mat-option>
            <mat-option value="3"
              >CFEI - Structures with Building Permit / Occupancy
              Certificate</mat-option
            >
            <mat-option value="4"
              >CFEI - Structures affected by fire or calamities</mat-option
            >
            <mat-option value="5"
              >CFEI - Structures w/o Building Permit</mat-option
            >
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="selectedPermitType == '3'">
        <h4>Is this associated to an ongoing Building Permit Application?</h4>
        <mat-form-field appearance="outline">
          <mat-label>Choose</mat-label>
          <mat-select [(value)]="excavationAssociated">
            <mat-option value="1">Yes</mat-option>
            <mat-option value="2">No</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="excavationAssociated == '1'">
          <h4>Select Building Permit Application:</h4>
          <p style="color: maroon">{{ exacavationError }}</p>
          <mat-form-field appearance="outline">
            <mat-label>Choose</mat-label>
            <mat-select
              [(value)]="selectedOngoingApplication"
              (selectionChange)="excavationBpSelect($event)"
            >
              <mat-option
                *ngFor="let item of userOngoingApplications"
                value="{{ item.id }}"
                >{{ item.ocpas_code }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="cfeiType == '4'">
        <h4>Is the structure affected by fire?</h4>
        <mat-form-field appearance="outline">
          <mat-label>Choose</mat-label>
          <mat-select formControlName="is_affected_by_fire">
            <mat-option value="1">Yes</mat-option>
            <mat-option value="2">No</mat-option>
          </mat-select>
        </mat-form-field>
        <h4>Is the structure affected by Calamities?</h4>
        <mat-form-field appearance="outline">
          <mat-label>Choose</mat-label>
          <mat-select formControlName="is_affected_by_calamities">
            <mat-option value="1">Yes</mat-option>
            <mat-option value="2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <div *ngIf="selectedPermitType">
        <div>
          <ng-container
            *ngIf="
              selectedPermitType == 1 ||
              (selectedPermitType == 2 && isBuildpassReleased == 2)
            "
          >
            <h4>Occupancy Classification:</h4>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                [(value)]="occupancyClassification"
                formControlName="occupancy_classification_id"
              >
                <mat-option value="1">Residential</mat-option>
                <mat-option value="2">Commercial</mat-option>
                <mat-option value="3">Institutional</mat-option>
                <mat-option value="4">Industrial</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
        <ng-container *ngIf="selectedPermitType !== '2'">
          <div>
            <h4>Applicant Type:</h4>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                [(value)]="isRepresentative"
                formControlName="is_representative"
                [disabled]="selectedOngoingApplication"
              >
                <mat-option value="2">Owner</mat-option>
                <mat-option value="1">Engineer/Architect In-charge</mat-option>
                <mat-option value="3">Government</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="isRepresentative" class="mt-4">
            <h4 *ngIf="isRepresentative == 1; else owner">
              What is the applicant's right over the land?
            </h4>
            <ng-template #owner><h4>Right over land:</h4></ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                [(value)]="isLotOwner"
                formControlName="is_lot_owner"
                [disabled]="selectedOngoingApplication"
              >
                <mat-option value="1">Owner</mat-option>
                <mat-option value="2">Lessee</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="isLotOwner && isLotOwner !== '2'" class="mt-4">
            <h4 *ngIf="isRepresentative == 1; else isRegisteredOwner">
              Is the applicant the registered owner of the lot?
            </h4>
            <ng-template #isRegisteredOwner>
              <h4>Are you the registered owner of the lot?:</h4>
            </ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                [(value)]="registeredOwner"
                formControlName="registered_owner"
                [disabled]="selectedOngoingApplication"
              >
                <mat-option value="1">Yes</mat-option>
                <mat-option value="2">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="selectedPermitType == '1'">
            <div *ngIf="isLotOwner" class="mt-4">
              <h4>Construction Type:</h4>
              <mat-form-field appearance="outline">
                <mat-label>Choose</mat-label>
                <mat-select
                  [(value)]="constructionStatus"
                  formControlName="construction_status"
                >
                  <mat-option value="1">New</mat-option>
                  <mat-option value="2">On-Going</mat-option>
                  <mat-option value="3">As built</mat-option>
                  <mat-option value="4">Amendment</mat-option>
                  <mat-option value="5">Renovation</mat-option>
                  <mat-option value="6">Additional Floor</mat-option>
                  <!-- <mat-option value="7">Government</mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>
            <ng-container
              *ngIf="
                constructionStatus == 4 ||
                constructionStatus == 5 ||
                constructionStatus == 6 ||
                constructionStatus == 7
              "
            >
              <ng-container>
                <h4>Is your Building Permit released through BuildPASS?</h4>
                <mat-form-field appearance="outline">
                  <mat-label>Choose</mat-label>
                  <mat-select [(value)]="isBuildpassReleased">
                    <mat-option value="1">Yes</mat-option>
                    <mat-option value="2">No</mat-option>
                  </mat-select>
                </mat-form-field>
                <ng-container *ngIf="isBuildpassReleased == 1">
                  <h4>Please select your Building Permit</h4>
                  <mat-form-field appearance="outline">
                    <mat-label>Choose</mat-label>
                    <mat-select [(value)]="selectedBuildingPermit">
                      <mat-option
                        *ngFor="let item of userBuildingPermits"
                        value="{{ item.id }}"
                        >{{ item.ocpas_code }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                  <p
                    class="text-center fw-bold"
                    *ngIf="userBuildingPermits.length == 0"
                  >
                    No data
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isBuildpassReleased == 2">
          <h4>Please input your Building Permit Number</h4>
          <span style="font-size: 14px"
            >**Enter multiple Building number if applicable</span
          >

          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>Input</mat-label>
            <mat-chip-list #chipList aria-label="Press enter to input multiple">
              <mat-chip
                *ngFor="let input of oldBpInputs"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(input)"
              >
                {{ input.input }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Input Building Permit No."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
          </mat-form-field>

          <span
            *ngIf="noBpError && oldBpDetails.length == 0"
            style="color: maroon; font-style: italic; font-weight: 600"
            >{{ noBpError }}
          </span>
          <ng-container *ngIf="oldBpDetails.length >= 1">
            <ng-container *ngFor="let item of oldBpDetails">
              <div class="bp-search">
                <h4>Building Permit Details:</h4>
                <div>
                  <div>
                    <h6 style="font-weight: bold">
                      Building Permit Number:&nbsp;
                    </h6>
                    <h6>
                      {{ item.BUILDING_PERMIT_NUMBER }}
                    </h6>
                  </div>
                  <div>
                    <h6 style="font-weight: bold">Owner:&nbsp;</h6>
                    <h6>
                      {{ item.OWNER }}
                    </h6>
                  </div>
                  <div>
                    <h6 style="font-weight: bold">Location:&nbsp;</h6>
                    <h6>
                      {{ item.LOCATION }}
                    </h6>
                  </div>
                  <div>
                    <h6 style="font-weight: bold">Type Of:&nbsp;</h6>
                    <h6>
                      {{ item.TYPE_OF }}
                    </h6>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="invalidBps.length > 0">
                <p>
                  The permit number you entered
                  <span
                    *ngFor="let item of invalidBps"
                    class="my-1"
                    style="font-weight: bold"
                    >("{{ item }}")</span
                  >&nbsp;is not found. Contact us through
                  building.baguiocity@gmail.com or (074)442-2503 to verify your
                  permit number.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>

          <div
            class="mt-3 text-right"
            *ngIf="
              constructionStatus == 4 ||
              constructionStatus == 5 ||
              constructionStatus == 6 ||
              constructionStatus == 7
            "
          >
            <button
              mat-raised-button
              color="primary"
              (click)="handleSearchBp()"
              [disabled]="isSubmitting"
            >
              Search
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedPermitType !== '2'">
          <div
            *ngIf="constructionStatus || registeredOwner || isLotOwner"
            class="mt-4"
          >
            <h4>Is the property within a subdivision?</h4>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                formControlName="is_within_subdivision"
                [disabled]="
                  selectedOngoingApplication || !canProceedRenovationAmendment()
                "
              >
                <mat-option value="1">Yes</mat-option>
                <mat-option value="2">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            *ngIf="permitStepOneForm.value.is_within_subdivision"
            class="mt-4"
          >
            <h4>Is this property under mortgage?</h4>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                formControlName="is_under_mortgage"
                [disabled]="selectedOngoingApplication"
              >
                <mat-option value="1">Yes</mat-option>
                <mat-option value="2">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="permitStepOneForm.value.is_under_mortgage" class="mt-4">
            <h4>Is this property owned by a corporation?</h4>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                formControlName="is_owned_by_corporation"
                [disabled]="selectedOngoingApplication"
              >
                <mat-option value="1">Yes</mat-option>
                <mat-option value="2">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            *ngIf="permitStepOneForm.value.is_owned_by_corporation"
            class="mt-4"
          >
            <h4>Does the property have co-owner/s?</h4>
            <mat-form-field appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select
                formControlName="is_property_have_coowners"
                [disabled]="selectedOngoingApplication"
              >
                <mat-option value="1">Yes</mat-option>
                <mat-option value="2">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </div>

      <!-- <div *ngIf="constructionStatus" class="map-container mt-4">
        <h4>Site Location:</h4>
        <app-map></app-map>
      </div> -->
      <ng-container
        *ngIf="selectedPermitType !== '2' && selectedPermitType !== '3'"
      >
        <div class="mt-3 text-right">
          <button
            mat-raised-button
            color="primary"
            (click)="callNext()"
            [disabled]="isSubmitting"
            *ngIf="!isMaintenance"
          >
            Next
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedPermitType == '3'">
        <div class="mt-3 text-right">
          <button
            mat-raised-button
            color="primary"
            (click)="callNext()"
            [disabled]="isSubmitting || exacavationError"
            *ngIf="!isMaintenance"
          >
            Next
          </button>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          selectedPermitType == '2' &&
          isBuildpassReleased &&
          oldBpDetails.length == 0
        "
      >
        <div class="mt-3 text-right">
          <button
            mat-raised-button
            color="primary"
            (click)="handleOccupancyNext()"
            [disabled]="isSubmitting"
          >
            {{ isBuildpassReleased == "1" ? "Next" : "Search" }}
          </button>
        </div>
      </ng-container>

      <ng-container
        *ngIf="oldBpDetails.length >= 1 && selectedPermitType == '2'"
      >
        <div class="mt-3 text-right">
          <button
            mat-raised-button
            color="primary"
            (click)="confirmOldBp()"
            [disabled]="invalidBps.length > 0 || isSubmitting"
          >
            Confirm
          </button>
        </div>
      </ng-container>
    </div>
    <div class="__right col-md-6">
      <div class="d-flex justify-content-center mt-5">
        <img
          class="new-illustration mt-5"
          src="../../../assets/illustrations/folder.png"
        />
      </div>
      <div class="permit-card" *ngIf="selectedPermitType">
        <h5>
          {{ getApplicationType(selectedPermitType) }}
        </h5>
        <span>
          {{ getApplicationDescription(selectedPermitType) }}
        </span>
      </div>
    </div>
  </div>
</div>
