@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.new-illustration {
  width: 450px;
  height: auto;
}

// .container {
//   height: 100vh;
//   position: relative;
//   .__left {
//     overflow: scroll;
//   }
//   .__right {
//     position: sticky;
//     bottom: 0;
//     right: 0;
//     z-index: 1000;
//   }
// }
.permit-card {
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(225deg, #d6dde0, #ffffff);
  box-shadow: -5px 5px 13px #cad0d4, 5px -5px 13px #ffffff;

  h5 {
    color: maroon;
    font-weight: bold;
  }
}

.bp-search {
  border: 1px solid maroon;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  div:nth-of-type(1) {
    margin-bottom: 5px;
  }
}
