table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

// .mat-column-applicationNo {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 5% !important;
//   width: 5% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }
// .mat-column-applicantFullName {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 25% !important;
//   width: 25% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }
// .mat-column-applicationDate {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 20% !important;
//   width: 20% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }
// .mat-column-permitType {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 20% !important;
//   width: 20% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }
// .mat-column-applicationStatus {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 10% !important;
//   width: 10% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }
// .mat-column-action {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 10% !important;
//   width: 10% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-code {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 10% !important;
//   width: 10% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

