<div class="container w-100">
  <div class="w-100 mt-5">
    <div class="d-flex justify-content-between mx-3">
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Application Number</mat-label>
          <input matInput placeholder="Input application number" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="applicationNo">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="applicantFullName">
        <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.applicant_detail.first_name }}&nbsp;{{
            element.applicant_detail.last_name
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Applicant Code</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ocpas_code }}
        </td>
      </ng-container>
      <ng-container matColumnDef="applicationDate">
        <th mat-header-cell *matHeaderCellDef>Application Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.applicant_detail.created_at | date: "MMMM dd, yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="permitType">
        <th mat-header-cell *matHeaderCellDef>Permit Type</th>
        <td mat-cell *matCellDef="let element">
          {{ getApplicationType(element.permit_type_id) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="applicationStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ getApplicationStatus(element.application_status_id) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            color="accent"
            (click)="goToApplicationInfo(element.id)"
          >
            View
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
