<app-navigation></app-navigation>
<app-banner></app-banner>
<div class="services container-fluid">
    <div class="row landing-nav">
        <div class="col-12 col-md-3">
            <div class="page-header">Services</div>
        </div>
        <div class="col-12 col-md-9">
            <div class="page-content">
                <div class="application-type">
                    <div>Building Permit</div>
                    <div>
                        A document issued by the Building Official to an owner/applicant to proceed with the construction, installation, addition, or other work activity of a specific project/building/structure or portions thereof after the accompanying principal plans, specification, and other pertinent documents with the duly notarized application are found satisfactory and substantially conforming with the Nation Building Code of the Philippines and its Implementing Rules and Regulations.
                    </div>
                </div>
                <div class="application-type">
                    <div>Certificate of Occupancy</div>
                    <div>
                        A document issued by the Building Official certifying that the building/structure was completed and can be occupied/used in accordance with the approved use.
                    </div>
                </div>
                <div class="application-type">
                    <div>Excavation Permit</div>
                    <div>
                        A document issued by the Building Official that authorizes a person, firm, or corporation, agency, or instrumentality of the government who intends to excavate a certain property in preparation for any construction.
                    </div>
                </div>
                <div class="application-type">
                    <div>Fencing Permit</div>
                    <div>
                        A document issued by Building Official that authorize property owner to construct a fence around their property.
                    </div>
                </div>
                <div class="application-type">
                    <div>Building Permit</div>
                    <div>
                        A document issued by the Building Official authorizes an applicant with the right to demolish any structure that requires a building permit to construct.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>