<app-navigation></app-navigation>
<app-banner></app-banner>
<div class="about container-fluid">
  <div class="row landing-nav">
    <div class="col-12 col-md-3">
      <div class="page-header">About Us</div>
    </div>
    <div class="col-12 col-md-9">
      <div class="page-content">
        <!-- <div class="vision">
                    <div>Vision</div>
                    <div>
                        ”God-fearing organization, leader in providing quality
                        service ensuring that all buildings and structures in the City 
                        are consistent with sound engineering and architectural 
                        principles and environmental protection and preservation,
                        towards the City’s Vision; Baguio as a Tourism Oriented City 
                        and Center of Education.”
                    </div>
                </div>
                <div class="mission">
                    <div>Mission</div>
                    <div>
                        “We shall render quality of service to conscientiously implement all laws,
                        rules and regulation to ensure safety of buildings, and to protect and preserve the
                        environment.”
                    </div>
                </div>
                <div class="mandate">
                    <div>Mandate</div>
                    <div>
                        <ol>
                            <li>Initiates, reviews and recommends changes in policies and objectives, plans and programs, techniques, procedures practices, and guidelines on vertical infrastructure development and other related public works for the City.</li>
                            <li>
                                Administers coordinated supervises and controls the construction,  maintenance, improvement and repair of vertical infrastructure development and other related public works (i.e. signages and billboards, fences etc.) in the City.
                                <ol>
                                    <li>Enforces the provisions on the National Building Code of the Philippines and other issuances relevant to vertical infrastructure development.</li>
                                    <li>Undertakes the Investigation and recommends appropriate actions on violations of the Building code and other relevant issuances.</li>
                                    <li>Provides support or assistance in the enforcement of sanctions/ decisions i.e. demolition of illegal structures, when necessary.</li>
                                </ol>
                            </li>
                            <li>Prepares detailed engineering plans for vertical infrastructure development projects and other related public works for the City.</li>
                            <li>Participated in the planning of special projects for the city and implement components within its scope of responsibility.</li>
                            <li>Manages and maintains all city government-owned vertical structures and other facilities and structures i.e. hydro plant that may be assigned by the City Government from time to time.</li>
                            <li>Exercise such other powers and performs other functions and duties as may be prescribed by law or ordinance or assigned by the City Government from time to time.</li>
                        </ol>
                    </div>
                </div> -->
        <h2 class="page-content__header">What is BuildPASS?</h2>
        <p>
          Introducing the newest innovation of the Local Government Unit of
          Baguio to improve the application of Building Permit and Certificates
          of Occupancy. The aim of this system is to lessen the processing time
          and provide a one-stop-shop online and minimize interaction between
          client and government entities.
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            src="https://www.youtube.com/embed/ykOXLxBgtqY"
            class="embed-responsive-item"
            allowfullscreen
          >
          </iframe>
        </div>
        <h2 class="page-content__header">How does it work?</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            src="https://www.youtube.com/embed/40nwDiYdZxo"
            class="embed-responsive-item"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
