<div class="modal-container container-fluid">
  <div class="row">
    <mat-icon class="close-button" (click)="closeModal()">close</mat-icon>
  </div>
  <div class="row" *ngIf="userInfo.employee_detail">
    <button
      *ngIf="this.userInfo.is_enabled == 0"
      class="approve-button"
      mat-stroked-button
      (click)="approveUser()"
    >
      Approve
    </button>
  </div>
  <div class="row edit-profile">
    <div class="col-12">
      <div *ngIf="this.userInfo">
        <div class="user-avatar-container">
          <div class="user-avatar">
            <img [src]="displayProfilePhoto" alt="" />
          </div>
          <div class="edit-avatar">
            <button
              class="btn btn-dark btn-sm"
              type="button"
              (click)="openFileChooser()"
            >
              <i class="fa fa-edit"></i>
            </button>
          </div>
        </div>
        <div class="avatar-label">Profile Picture</div>
        <input
          type="file"
          class="sr-only"
          id="photo"
          accept="image/*"
          (change)="handlePhotoFileChange($event)"
        />
      </div>
    </div>
    <div class="col-12">
      <mat-card *ngIf="_adminUpdateUserForm">
        <mat-card-content>
          <form [formGroup]="_adminUpdateUserForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 section-header">Personal Info</div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input type="text" matInput formControlName="first_name" />
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.first_name.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.first_name.errors?.required
                    "
                  >
                    First Name is Required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Middle Name</mat-label>
                  <input type="text" matInput formControlName="middle_name" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Last name</mat-label>
                  <input type="text" matInput formControlName="last_name" />
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.last_name.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.last_name.errors?.required
                    "
                  >
                    Last Name is Required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field appearance="outline">
                  <mat-label>Suffix</mat-label>
                  <mat-select formControlName="suffix_name">
                    <mat-option value=" "></mat-option>
                    <mat-option value="Jr">Jr</mat-option>
                    <mat-option value="Sr">Sr</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Birthday</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="birthdate"
                    placeholder="click the calendar icon"
                    readonly
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.birthdate.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.birthdate.errors?.required
                    "
                  >
                    Birthdate is required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Marital Status</mat-label>
                  <mat-select formControlName="marital_status" required>
                    <mat-option value="1">Single</mat-option>
                    <mat-option value="2">Married</mat-option>
                    <mat-option value="3">Divorced</mat-option>
                    <mat-option value="4">Widowed</mat-option>
                  </mat-select>
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.marital_status.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.marital_status.errors?.required
                    "
                  >
                    Marital Status is required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                  </mat-select>
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.gender.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.gender.errors?.required
                    "
                  >
                    Gender is required
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>House No., Bldg, Street</mat-label>
                  <input type="text" matInput formControlName="home_address" />
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.home_address.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.home_address.errors?.required
                    "
                  >
                    Home Address is required
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="!userInfo.employee_detail">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Region</mat-label>
                  <mat-select
                    [(value)]="selectedRegion"
                    (selectionChange)="onRegionSelect($event)"
                  >
                    <mat-option
                      *ngFor="let item of regions"
                      value="{{ item.id }}"
                      >{{ item.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Province</mat-label>
                  <mat-select
                    [(value)]="selectedProvince"
                    (selectionChange)="onProvinceSelect($event)"
                  >
                    <mat-option
                      *ngFor="let item of provinces"
                      value="{{ item.id }}"
                      >{{ item.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>City/Municipality</mat-label>
                  <mat-select
                    [(value)]="selectedCity"
                    (selectionChange)="onCitySelect($event)"
                  >
                    <mat-option
                      *ngFor="let item of cities"
                      value="{{ item.id }}"
                      >{{ item.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Barangay</mat-label>
                  <input
                    *ngIf="selectedCity != 1591"
                    type="text"
                    placeholder="Select Barangay"
                    aria-label="Barangay"
                    matInput
                    formControlName="barangay"
                    
                  />
                  <mat-select
                    *ngIf="selectedCity == 1591"
                    type="text"
                    placeholder="Select Barangay"
                    aria-label="Barangay"
                    matInput
                    formControlName="barangay"
                    
                  >
                    <mat-option
                      *ngFor="let barangays of barangay"
                      [value]="barangays"
                    >
                      {{ barangays.name }}
                    </mat-option>
                  </mat-select>

                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.barangay.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.barangay.errors?.required
                    "
                  >
                    Barangay is required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Contact Number</mat-label>
                  <input
                    type="tel"
                    matInput
                    formControlName="contact_number"
                    [maxLength]="maxLength"
                    placeholder="Ex. 09123456789"
                    #contact
                  />
                  <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.contact_number.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.contact_number.errors?.required
                    "
                  >
                    Contact Number is required
                  </mat-error>
                  <mat-hint align="end"
                    >{{ contact.value.length }} / {{ maxLength }}</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="userInfo.employee_detail">
              <div class="col-12 section-header">Employee Info</div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Employee Number</mat-label>
                  <input type="text" matInput formControlName="employee_no" />
                  <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.employee_no.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.employee_no.errors?.required
                    "
                  >
                    Employee Number is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Office</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="office"
                    [matAutocomplete]="auto_office"
                  />
                  <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  <mat-autocomplete
                    #auto_office="matAutocomplete"
                    [displayWith]="displayOfficeName.bind(this)"
                  >
                    <mat-option
                      *ngFor="
                        let office of _filteredOfficeOptions | async;
                        let i = index
                      "
                      [value]="i"
                    >
                      {{ office }}
                    </mat-option>
                  </mat-autocomplete>
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.office.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.office.errors?.required
                    "
                  >
                    Office is required
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6" *ngIf="userInfo.employee_detail">
                <mat-form-field appearance="outline">
                  <mat-label>Position</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="position"
                    [matAutocomplete]="auto_position"
                  />
                  <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  <mat-autocomplete #auto_position="matAutocomplete">
                    <mat-option
                      *ngFor="let position of _filteredPositionOptions | async"
                      [value]="position"
                    >
                      {{ position }}
                    </mat-option>
                  </mat-autocomplete>
                  <!-- <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.position.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.position.errors?.required
                    "
                  >
                    Position is required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Email address</mat-label>
                  <input type="text" matInput formControlName="email_address" />
                  <mat-error
                    *ngIf="
                      (adminUpdateUserFormControl.email_address.touched ||
                        _submitted) &&
                      adminUpdateUserFormControl.email_address.errors?.required
                    "
                  >
                    Email address is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="!userInfo.employee_detail">
              <div class="col-12 section-header">Identification</div>
              <div class="col-md-6">
                <div
                  class="id-upload"
                  (click)="openIdChooser()"
                  [ngClass]="_submitted && !selectedFile ? 'no-file' : ''"
                >
                  <img [src]="displayIDPhoto" alt="" />
                </div>
                <input
                  type="file"
                  class="sr-only"
                  id="id-photo"
                  accept="image/*"
                  (change)="handleIDFileChange($event)"
                />
                <!-- <div class="error-notif" *ngIf="_submitted && !selectedFile">
                  ID Photo is required
                </div> -->
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline">
                      <mat-label for="id-type">ID Type</mat-label>
                      <mat-select formControlName="id_type" required>
                        <mat-option value="1">Passport</mat-option>
                        <mat-option value="2">Driver's License</mat-option>
                        <mat-option value="3">PRCID</mat-option>
                        <mat-option value="4">School ID</mat-option>
                        <mat-option value="5">SSS/UMID ID</mat-option>
                        <mat-option value="6">Senior Citizen's ID</mat-option>
                        <mat-option value="7">PWD ID</mat-option>
                        <mat-option value="8"
                          >(TIN) Taxpayer Identification Number</mat-option
                        >
                        <mat-option value="9"
                          >Parent or Legal Guardian's ID</mat-option
                        >
                        <mat-option value="10">Others</mat-option>
                      </mat-select>
                      <!-- <mat-error
                        *ngIf="
                          ( adminUpdateUserFormControl.id_type.touched || _submitted) &&
                           adminUpdateUserFormControl.id_type.errors?.required
                        "
                      >
                        ID Type is required
                      </mat-error> -->
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline">
                      <mat-label>ID Number</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="id_number"
                        required
                      />
                      <!-- <mat-error
                        *ngIf="
                          ( adminUpdateUserFormControl.id_number.touched ||
                            _submitted) &&
                           adminUpdateUserFormControl.id_number.errors?.required
                        "
                      >
                        ID Number is required
                      </mat-error> -->
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6 my-3">
                <div
                  class="selfie-upload"
                  (click)="openSelfieChooser()"
                  [ngClass]="_submitted && !selectedSelfie ? 'no-file' : ''"
                >
                  <img [src]="displaySelfiePhoto" alt="" />
                </div>
                <input
                  type="file"
                  class="sr-only"
                  id="selfie-photo"
                  accept="image/*"
                  (change)="handleSelfieFileChange($event)"
                />
                <!-- <div class="error-notif" *ngIf="_submitted && !selectedSelfie">
                  Selfie with ID is required
                </div> -->
              </div>
            </div>

            <div class="row justify-content-center mt-5 mb-3">
              <div class="col-md-3">
                <button mat-stroked-button type="submit">Update</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
