.container {
  width: 100%;
  ._app-details {
    width: 60%;
  }
  ._app-timeline {
    width: 40%;
  }
}
.app-forms {
  width: 100%;
}
.avatar-container {
  border-right: 2px solid grey;
  .avatar {
    img {
      width: 80px;
      height: auto;
      object-fit: cover;
    }
  }
}

table {
  width: 100%;

  th {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}
.mat-column-number {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 45% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-amount {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-office {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.card {
  margin-bottom: 30px;
  border: none;

  .card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
  }

  .text-dark {
    color: #3d405c !important;
  }
}
