.create-button {
    width: auto;
    background-color: maroon;
    color: #ffffff;
}

table {
  width: 100%;
}

td, th {
  height: 100px;
}

.evaluator-list{
  &__loader {
    padding-top: 2em;
    padding-bottom: 2em;
  
    mat-progress-spinner {
    margin-left: auto;
    margin-right: auto;
    }
  }

  &__empty {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &__date {
    width: 250px;
  }

  &__search {
    width: 250px;
    margin-right: 1em;
  }
  &__select {
    width: 250px;
    margin-right: 1em;
  }
}
  



