<!-- <div class="m-4">
    <div class="row">
      <div class="col-md-4">
        <div class="mt-4">
          <div class="d-flex flex-column">
            <h4>A. Forms</h4>
            <div class="d-flex justify-content-between w-100">
              <button
                mat-button
                color="primary"
                class="text-left"
                id="zoning"
              >
                1. Zoning Clearance Application Form
              </button>
              
            </div>
            <div class="d-flex justify-content-between w-100">
              <button
                mat-button
                color="primary"
                class="text-left"
              >
                2. Building Permit Form
              </button>
              
            </div>
            <div class="d-flex justify-content-between w-100">
              <button
                mat-button
                color="primary"
                class="text-left"
              >
                3. Sanitary Permit Form
              </button>
             
            </div>
            <div class="d-flex justify-content-between w-100">
              <button
                mat-button
                color="primary"
                class="text-left"
              >
                4. Electrical Permit Form
              </button>
             
            </div>
          </div>
          <div class="d-flex flex-column my-3">
            <h4>B. Documentary Requirements</h4>
            <button mat-button color="primary" class="text-left">
              1. Authorization Letter of Special Power of Attorney
            </button>
            <button mat-button color="primary" class="text-left">
              2. Filing Fee proof of payment (receipt)
            </button>
            <button mat-button color="primary" class="text-left">
              3. Tax Declaration from City Assessor's Office
            </button>
            <button mat-button color="primary" class="text-left">
              4. Latest Quarter of the Real Property Tax Receipt
            </button>
            <button mat-button color="primary" class="text-left">
              5. Clear Latest picture of site/are
            </button>
            <button mat-button color="primary" class="text-left">
              6. Certified True Copy of the Title
            </button>
            <button mat-button color="primary" class="text-left">
              7.Contract of Lease
            </button>
            <button mat-button color="primary" class="text-left">
              8. Barangay Clearance
            </button>
          </div>
          <div class="d-flex flex-column my-3">
            <h4>C. Plans, Designs, Specifications, Cost Estimate</h4>
            <button mat-button color="primary" class="text-left">
              1. Building Plans (to be signed by applicant/owner)
            </button>
            <button mat-button color="primary" class="text-left">
              2. Structural Design and Analysis
            </button>
            <button mat-button color="primary" class="text-left">
              3. Electrical Design Analysis
            </button>
            <button mat-button color="primary" class="text-left">
              4. Soil Analysis for Residential Buildings with 3 storeys or
              more
            </button>
            <button mat-button color="primary" class="text-left">
              5. Building Specification
            </button>
            <button mat-button color="primary" class="text-left">
              6. Bill of Materials
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <mat-card style="width: 100%; background-color: whitesmoke">
          <hr />
          <mat-card-content>
            <h3>form-name</h3>
            <ngx-extended-pdf-viewer
              [src]="pdfSrc"
              [showToolbar]="true"
              [showSidebarButton]="false"
              [showFindButton]="false"
              [showPagingButtons]="false"
              [showZoomButtons]="true"
              [showPresentationModeButton]="true"
              [showOpenFileButton]="false"
              [showPrintButton]="false"
              [showDownloadButton]="true"
              [showBookmarkButton]="false"
              [showSecondaryToolbarButton]="true"
              [showRotateButton]="false"
              [showHandToolButton]="false"
              [showScrollingButton]="false"
              [showSpreadButton]="false"
              [showPropertiesButton]="false"
              [useBrowserLocale]="true"
              height="500px"
              zoom="80%"
            >
            </ngx-extended-pdf-viewer>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width mt-3">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Comment"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Review</mat-label>
                  <mat-select>
                    <mat-option value="Yes"> Compliant </mat-option>
                    <mat-option value="No"> Non-Compliant </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <button
              mat-raised-button
              color="accent"
            >
              Submit
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <hr />
  <div class="d-flex justify-content-end w-100 mb-3 pr-3">
    <button
      mat-raised-button
      color="primary"
      style="font-size: 18px"
    >
      Forward to CPDO
    </button>
  </div>  -->
<div>
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <!--  Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
    <!-- Remarks Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef>Remarks</th>
      <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="accent" (click)="openFormDialog(element.name)">
          View
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
