<ng-container *ngIf="subDetails">
  <div class="app-details" *ngIf="!isLoading">
    <mat-card>
      <mat-card-content>
        <div class="d-flex justify-content-between">
          <div>
            <h4 style="color: #ffa653" class="mb-4">
              <strong>Notice of Violation Details</strong>
            </h4>
          </div>
        </div>
        <div class="row mb-1">
          <div class="avatar-container col-md-4">
            <div>
              <h4>
                <strong
                  >&nbsp;{{
                    subDetails.main_detail.respondent_first_name
                  }}&nbsp;{{
                    subDetails.main_detail.respondent_lastname_name
                  }}</strong
                >
              </h4>
            </div>
            <div>
              <h5 style="color: #7b7b7b">
                {{
                  subDetails.main_detail.respondent_street
                    ? subDetails.main_detail.respondent_street
                    : ""
                }}
              </h5>
            </div>
            <div>
              <h5 style="color: #7b7b7b">
                {{
                  subDetails.main_detail.respondent_purok
                    ? subDetails.main_detail.respondent_purok
                    : ""
                }}
              </h5>
            </div>
            <div>
              <h5 style="color: #7b7b7b">
                {{
                  subDetails.main_detail.respondent_subdivision
                    ? subDetails.main_detail.respondent_subdivision
                    : ""
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="col">
              <h5 style="color: #7b7b7b">Investigator:</h5>
              <h5>
                <strong>{{ subDetails.status_id }}</strong>
              </h5>
            </div> -->
            <div class="col">
              <h5 style="color: #7b7b7b">Date Submitted:</h5>
              <h5>
                <strong
                  >&nbsp;{{
                    subDetails.created_at | date: "MMMM dd, yyyy"
                  }}</strong
                >
              </h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col">
              <h5 style="color: #7b7b7b">Status:</h5>
              <h5>
                <strong
                  >&nbsp;
                  {{ getStatus(subDetails.status_id) }}
                </strong>
              </h5>
            </div>
            <div class="col">
              <h5 style="color: #7b7b7b">Type:</h5>
              <h5>
                <strong
                  >&nbsp;
                  {{ getType(subDetails.type_id) }}
                </strong>
              </h5>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-details" *ngIf="!isLoading">
    <mat-card>
      <mat-card-content>
        <div class="d-flex justify-content-between">
          <div>
            <h4 style="color: #ffa653" class="mb-4">
              <strong>Complainant Details</strong>
            </h4>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-6">
            <div class="col">
              <h5 style="color: #7b7b7b">Full Name:</h5>
              <h5>
                <strong
                  >{{ subDetails.main_detail.complainant_first_name }}
                  {{
                    subDetails.main_detail.complainant_middle_name
                      ? subDetails.main_detail.complainant_middle_name
                      : ""
                  }}
                  {{ subDetails.main_detail.complainant_lastname_name }}</strong
                >
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col">
              <h5 style="color: #7b7b7b">Address:</h5>
              <h5>
                <strong
                  >&nbsp;
                  {{
                    subDetails.main_detail.complainant_house_number
                      ? subDetails.main_detail.complainant_house_number
                      : ""
                  }}
                  {{
                    subDetails.main_detail.complainant_street
                      ? subDetails.main_detail.complainant_street
                      : ""
                  }}
                  {{
                    subDetails.main_detail.complainant_purok
                      ? subDetails.main_detail.complainant_purok
                      : ""
                  }}
                  {{
                    subDetails.main_detail.complainant_subdivision
                      ? subDetails.main_detail.complainant_subdivision
                      : ""
                  }}
                </strong>
              </h5>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-details" *ngIf="!isLoading">
    <mat-card>
      <mat-card-content>
        <div class="d-flex justify-content-between">
          <div>
            <h4 style="color: #ffa653" class="mb-4">
              <strong>Structure Details</strong>
            </h4>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-4">
            <div class="col">
              <h5 style="color: #7b7b7b">House Number:</h5>
              <h5>
                <strong>{{
                  subDetails.main_detail.structure_house_number
                }}</strong>
              </h5>
            </div>
            <div class="col">
              <h5 style="color: #7b7b7b">Lot Number:</h5>
              <h5>
                <strong
                  >&nbsp;{{
                    subDetails.main_detail.structure_lot_number
                  }}</strong
                >
              </h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col">
              <h5 style="color: #7b7b7b">Purok:</h5>
              <h5>
                <strong
                  >&nbsp;
                  {{ subDetails.main_detail.structure_purok }}
                </strong>
              </h5>
            </div>
            <div class="col">
              <h5 style="color: #7b7b7b">Street:</h5>
              <h5>
                <strong
                  >&nbsp;
                  {{ subDetails.main_detail.structure_street }}
                </strong>
              </h5>
            </div>
          </div>
          <div class="col-md-4">
            <a
              [href]="subDetails.notice_of_violation_photo_path"
              target="_blank"
              >View Photo</a
            >
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>assignment</mat-icon>
            Form
          </ng-template>
          <h4 style="color: maroon" class="mb-4 mt-4">
            <strong>Notice of Violation Form</strong>
            <hr />
          </h4>
          <div>
            <div class="d-flex flex-row-reverse mb-3">
              <button mat-raised-button (click)="handleUpdateForm()">
                {{ isSubmitting ? "Saving" : "Save Form" }}
              </button>
            </div>
            <div id="pdf-viewer">
              <ngx-extended-pdf-viewer
                [src]="subDetails.notice_of_violation_form_path"
                [showToolbar]="true"
                [showSidebarButton]="false"
                [showFindButton]="false"
                [showPagingButtons]="false"
                [showZoomButtons]="true"
                [showPresentationModeButton]="true"
                [showOpenFileButton]="false"
                [showPrintButton]="false"
                [showDownloadButton]="true"
                [showBookmarkButton]="false"
                [showSecondaryToolbarButton]="true"
                [showRotateButton]="false"
                [showHandToolButton]="false"
                [showScrollingButton]="false"
                [showSpreadButton]="false"
                [showPropertiesButton]="false"
                [useBrowserLocale]="true"
                height="1000px"
                zoom="100%"
              >
              </ngx-extended-pdf-viewer>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>report</mat-icon>
            Remarks
          </ng-template>
          <app-notice-of-violation-remarks
            [evaluatorDetails]="userInfo"
          ></app-notice-of-violation-remarks>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <div class="d-flex flex-row-reverse m-3" *ngIf="userRole == 'INV'">
    <button
      mat-raised-button
      color="primary"
      (click)="handleForwardDc()"
      [disabled]="isLoading || subDetails.status_id !== 5"
    >
      {{ isLoading ? "Saving" : "Forward" }}
    </button>
  </div>
  <div class="d-flex justify-content-between m-3" *ngIf="userRole == 'INV-DC'">
    <button
      mat-raised-button
      color="accent"
      (click)="handleReturn()"
      [disabled]="isLoading || subDetails.status_id !== 1"
    >
      {{ isLoading ? "Saving" : "Return" }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="handleForward()"
      [disabled]="isLoading || subDetails.status_id !== 1"
    >
      {{ isLoading ? "Saving" : "Forward" }}
    </button>
  </div>
  <div class="d-flex flex-row-reverse m-3" *ngIf="userRole == 'CBAO-BO'">
    <button
      mat-raised-button
      color="primary"
      (click)="handleSignature()"
      [disabled]="isLoading || subDetails.status_id !== 2"
    >
      {{ isLoading ? "Saving" : "Sign" }}
    </button>
  </div>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
