<div>
  <div>
    <h4 style="color: #400c06" class="mb-4">
      <strong>Accomplished Application Form for FSIC</strong>
    </h4>
  </div>
  <ngx-dropzone
    (change)="onSelect($event, 'fsicDocument')"
    [multiple]="false"
    accept="application/pdf"
    class="mt-3"
  >
    <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
    <ngx-dropzone-preview
      *ngIf="fsicDocument"
      [removable]="true"
      (removed)="onRemove('fsicDocument')"
      class="mx-auto"
    >
      <ngx-dropzone-label
        >{{ fsicDocument.name }} ({{ fsicDocument.type }})</ngx-dropzone-label
      >
    </ngx-dropzone-preview>
  </ngx-dropzone>
  <ng-container *ngIf="isSubmitting">
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>
  <div class="d-flex justify-content-between">
    <button
      class="text-right mt-3"
      mat-raised-button
      color="accent"
      (click)="onNoClick()"
      [disabled]="isSubmitting"
    >
      Close
    </button>
    <button
      class="text-right mt-3"
      mat-raised-button
      color="primary"
      [disabled]="isSubmitting"
      (click)="callSave()"
    >
      Save
    </button>
  </div>
</div>
