<h3>Fencing Permit Application</h3>

<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Step 1</ng-template>
    <div class="container">
      <mat-card style="width: 100%">
        <mat-card-content>
          <div>
            <p class="ml-2">
              1. After filling out the form, please click the download/save
              button on the right.
            </p>
            <ngx-extended-pdf-viewer
              [src]="'../../../../assets/forms/fencing_permit.pdf'"
              [showToolbar]="true"
              [showSidebarButton]="false"
              [showFindButton]="false"
              [showPagingButtons]="false"
              [showZoomButtons]="true"
              [showPresentationModeButton]="true"
              [showOpenFileButton]="false"
              [showPrintButton]="false"
              [showDownloadButton]="true"
              [showBookmarkButton]="false"
              [showSecondaryToolbarButton]="true"
              [showRotateButton]="false"
              [showHandToolButton]="false"
              [showScrollingButton]="false"
              [showSpreadButton]="false"
              [showPropertiesButton]="false"
              [useBrowserLocale]="true"
              height="1000px"
              zoom="80%"
              [(formData)]="formData"
            >
            </ngx-extended-pdf-viewer>
            <p class="ml-2 mt-4">2. Upload the form.</p>
            <ngx-dropzone
              (change)="onSelect($event, 'fencingPermit')"
              [multiple]="false"
              class="mt-3"
            >
              <ngx-dropzone-label
                >Click here to upload file!
              </ngx-dropzone-label>
              <ngx-dropzone-preview
                *ngIf="fencingPermit"
                [removable]="true"
                (removed)="onRemove('fencingPermit')"
                class="mx-auto"
              >
                <ngx-dropzone-label
                  >{{ fencingPermit.name }} ({{
                    fencingPermit.type
                  }})</ngx-dropzone-label
                >
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="text-right">
      <button mat-raised-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 2</ng-template>
      <hr />
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Duly notarized authorization to process and receive approved permit or special power of the attorney (for representative/s)</h5>
          <mat-icon *ngIf="topographicMap" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'topographicMap')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="topographicMap"
            [removable]="true"
            (removed)="onRemove('topographicMap')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ topographicMap.name }} ({{
                topographicMap.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Certified True Copy of the Title (updated not more than 6 months)
          </h5>
          <mat-icon *ngIf="excavationPlan" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'excavationPlan')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="excavationPlan"
            [removable]="true"
            (removed)="onRemove('excavationPlan')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ excavationPlan.name }} ({{
                excavationPlan.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Surveyed Plan signed and sealed by Geodetic Engineer
          </h5>
          <mat-icon *ngIf="vicinityMap" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'vicinityMap')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="vicinityMap"
            [removable]="true"
            (removed)="onRemove('vicinityMap')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ vicinityMap.name }} ({{
                vicinityMap.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Contract of Lease, or Certified Copy of Authority to Construct on the subject property
          </h5>
          <mat-icon *ngIf="retainingWalls" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'retainingWalls')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="retainingWalls"
            [removable]="true"
            (removed)="onRemove('retainingWalls')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ retainingWalls.name }} ({{
                retainingWalls.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 3</ng-template>
     <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Conditional Deed of Sale, or Absolute Deed of Sale
          </h5>
          <mat-icon *ngIf="excavationSections" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'excavationSections')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="excavationSections"
            [removable]="true"
            (removed)="onRemove('excavationSections')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ excavationSections.name }} ({{
                excavationSections.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>
            Tax Declaration with documentary stamp from City Assessor's Office
          </h5>
          <mat-icon *ngIf="soilProtection" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'soilProtection')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="soilProtection"
            [removable]="true"
            (removed)="onRemove('soilProtection')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ soilProtection.name }} ({{
                soilProtection.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Photocopy of latest quarter of the real property tax receipy or Certifcate of Non-tax Delinquency with Documentary Stamp at City Treasurer's Office</h5>
          <mat-icon *ngIf="structuralPlan" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'structuralPlan')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="structuralPlan"
            [removable]="true"
            (removed)="onRemove('structuralPlan')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ structuralPlan.name }} ({{
                structuralPlan.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Fencing Specifications</h5>
          <mat-icon *ngIf="drainagePlan" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'drainagePlan')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="drainagePlan"
            [removable]="true"
            (removed)="onRemove('drainagePlan')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ drainagePlan.name }} ({{
                drainagePlan.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    <div class="text-right">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 4</ng-template>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>Bill of Materials</h5>
        <mat-icon *ngIf="sitePicture" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'sitePicture')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="sitePicture"
          [removable]="true"
          (removed)="onRemove('sitePicture')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ sitePicture.name }} ({{
              sitePicture.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>Vicinity map / location plan within a half-ilometer radius showing prominent landmarks or major thoroughfares for easy reference</h5>
        <mat-icon *ngIf="constructionTarp" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'constructionTarp')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="constructionTarp"
          [removable]="true"
          (removed)="onRemove('constructionTarp')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ constructionTarp.name }} ({{
              constructionTarp.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>Site Development Plan showing the lot boundaries and the location of proposed fence </h5>
        <mat-icon *ngIf="structuralAnalysis" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'structuralAnalysis')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="structuralAnalysis"
          [removable]="true"
          (removed)="onRemove('structuralAnalysis')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ structuralAnalysis.name }} ({{
              structuralAnalysis.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>Section and details of fence, footings, columns and beams</h5>
        <mat-icon *ngIf="excavationMethod" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'excavationMethod')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="excavationMethod"
          [removable]="true"
          (removed)="onRemove('excavationMethod')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ excavationMethod.name }} ({{
              excavationMethod.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>
          Elevation Plans of fence from corner to corner with complete dimensions
        </h5>
        <mat-icon *ngIf="chspDole" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'chspDole')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="chspDole"
          [removable]="true"
          (removed)="onRemove('chspDole')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ chspDole.name }} ({{ chspDole.type }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>
          Clear latest picture of site (Taken at least a week before application)
        </h5>
        <mat-icon *ngIf="dumpSite" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'dumpSite')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="dumpSite"
          [removable]="true"
          (removed)="onRemove('dumpSite')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ dumpSite.name }} ({{
              dumpSite.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>
          Photocopy of updated Professional Tax Receipt and Professional Identification Card (PRC ID) of all professional signatories in the application forms and plans (duly signed and sealed)
        </h5>
        <mat-icon *ngIf="letterOfApplicant" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'letterOfApplicant')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="letterOfApplicant"
          [removable]="true"
          (removed)="onRemove('letterOfApplicant')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ letterOfApplicant.name }} ({{
              letterOfApplicant.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <h5>
          Construction Tarpaulin
        </h5>
        <mat-icon *ngIf="letterOfApplicant" style="color: green"
          >check_circle</mat-icon
        >
      </div>
      <ngx-dropzone
        (change)="onSelect($event, 'letterOfApplicant')"
        [multiple]="false"
      >
        <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="letterOfApplicant"
          [removable]="true"
          (removed)="onRemove('letterOfApplicant')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ letterOfApplicant.name }} ({{
              letterOfApplicant.type
            }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="text-right">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
