



mat-card {
  border-radius: 20px;

  .top-card:hover{
    transform: scale(1);
   }

 
  
   
  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    mat-card-title {
      font-size: 18px;
    }

  }

 



  .mat-expansion-panel {
    margin-bottom: 5px;
  }
}

.scrollbar{
  position: relative;
  overflow: auto;

  max-height:175px;
  min-height: 175px;


  
}

.chat-container {
  position: relative;
  margin-top: 200px;
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 16px;
  font-size: 18px;
}


  img {
    background-size: cover;
    max-width: 100px;
    max-height: 200px;

  }
  

  .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.permit-card{
  width: 180px; 
  height: 180px;  
  border-radius: 20px;
  //background-color: #F1BA49;
 

  &hover{
    transform: scale(3);
  }
 

  p{
    text-align: center;
    margin-top: 50%;
  }
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
  margin-top: 0;
}

.jumbotron-fluid{
  max-height: 250px !important;
  min-height: 250px !important;
  //padding: 20px;
  border-radius: 20px;
  background-color:#F2BA49;

  a{
    color: #800002;
  }
 

}





 