<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron jumbotron-fluid" style="background-color:#F2BA49; border-radius: 20px;">
        <div class="container mx-5">
          <h1 class="display-4" style="color:white; font-weight: bolder;">OCPAS DASHBOARD</h1>
          <p class="lead" style="color:white;">Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s</p>
          <button mat-raised-button color="primary" [routerLink]="['/dashboard/new/step-one']">Get Started</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-md-7">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Guideline</mat-card-title>
        </mat-card-header>
        <hr class="m-0" />
        <mat-card-content>
          <app-tutorial></app-tutorial>
      </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-5">
      <mat-card>
          <mat-card-header>
            <mat-card-title>Timeline</mat-card-title>
          </mat-card-header>
          <hr class="m-0" />
       <div class="scrollbar">
        <perfect-scrollbar [config]="config">
          <app-application-timeline
            page = "home"
            [id] = "applicationId"   
          >
        </app-application-timeline>
        </perfect-scrollbar>
       </div>
      </mat-card>
     <!-- <div class="row">
      <div class="col  pr-0 pl-5">
        <mat-card class="permit-card">
        </mat-card>
      </div>
      <div class="col pr-0 pl-0">
        <mat-card class="permit-card">

        </mat-card>
      </div>
     </div>
     <div class="row ">
      <div class="col  pr-0 pl-5">
        <mat-card class="permit-card">

        </mat-card>
      </div>
      <div class="col pr-0 pl-0">
        <mat-card class="permit-card">

        </mat-card>
      </div>
     </div> -->
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <app-faq-expansion-panel></app-faq-expansion-panel>
    </div>
  </div>
</div>
<div class="chat-container">
  <div class="bottomright">
    <app-chat-button style="position: sticky;"></app-chat-button>
  </div>
</div>