<!-- <div class="container"> -->
<!-- <div class="row no-gutters px-5 pt-3 pb-0">
    <div class="col-md-12">
      <app-tutorial class="mb-5 p-5"></app-tutorial>
    </div>
  </div> -->
<!-- <div class="row no-gutters px-5 pt-1 pb-2 ">
    <div class="col-md-4">
      <mat-card>
        <div class="jumbotron jumbotron-fluid">
          <div class="container mx-4 pt-3">
            <h2 class="" style="color:white; font-weight: bolder;">Get Started</h2>
            <p class="lead" style="color:white;"> </p>
            <a [routerLink]="['/dashboard/new/step-one']">Apply now ></a>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <div class="jumbotron jumbotron-fluid">
          <div class="container mx-4 pt-3">
            <h2 class="" style="color:white; font-weight: bolder;">FAQS</h2>

            <a href="/dashboard/#faqs">Learn More ></a>
          </div>
        </div>
      </mat-card>
    </div>
     <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <mat-form-field appearance="none">
            <mat-label>My Application</mat-label>
            <mat-select [(value)]="applicationId">
              <mat-option *ngFor="let application of applications" value="{{application.id}}">{{application.ocpas_code}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-header>
        <hr class="m-0" />
        <div class="scrollbar">
          <perfect-scrollbar [config]="config">
            <app-application-timeline page="home" [id]="applicationId">
            </app-application-timeline>
          </perfect-scrollbar>
        </div>
      </mat-card>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <app-faq-expansion-panel id ="faqs"></app-faq-expansion-panel>
      </div>
    </div>
  </div> -->

<!-- <div class="col-md-4">
      <mat-card>
        <div class="jumbotron jumbotron-fluid">
          <div class="container mx-4">
            <h2 class="" style="color:white; font-weight: bolder;">Get Started</h2>
            <p class="lead" style="color:white;">Lorem Ipsum has been the industry's </p>
            <a [routerLink]="['/dashboard/new/step-one']">Apply now ></a>
          </div>
        </div>
      </mat-card>
    </div>-->

<!-- <mat-card>
        <mat-card-content>

        </mat-card-content>
      </mat-card> -->

<!-- <div class="col-md-6">
    <div class="row">
      <div class="col  pr-0 pl-0">
        <mat-card class="permit-card">
        </mat-card>
      </div>
      <div class="col pr-0 pl-0">
        <mat-card class="permit-card">

        </mat-card>
      </div>
    </div>
    <div class="row ">
      <div class="col  pr-0 pl-0">
        <mat-card class="permit-card">

        </mat-card>
      </div>
      <div class="col pr-0 pl-0">
        <mat-card class="permit-card">

        </mat-card>
      </div>
    </div>
  </div> -->
<!-- </div> -->

<div class="main__container">
  <div class="chat-container">
    <div class="bottomright">
      <app-chat-button style="position: sticky"></app-chat-button>
    </div>
  </div>
  <div class="main__container__header">
    <div>
      <p>Welcome back, {{ userInfo.first_name }}</p>
      <p>
        {{ currentDate | date: "MMMM-dd-yyyy" }}&nbsp;{{
          time | date: "hh:mm:ss a"
        }}
      </p>
    </div>
  </div>
  <h4 class="title"><mat-icon>assignment</mat-icon></h4>
  <div class="tutorial">
    <app-tutorial></app-tutorial>
  </div>

  <div class="main__container__services">
    <h4 class="title"><mat-icon>desktop_windows</mat-icon>Services</h4>
    <div class="main__container__services-cards">
      <mat-card (click)="goToNewApplication(1)">
        <mat-card-content>
          <img src="../../../assets/illustrations/building.svg" alt="" />
          <h3 class="m-0 p-0">Building Permit Application</h3>
          <h6 style="color: #400c06; font-weight: bold" class="mt-2">
            Apply Now >
          </h6>
        </mat-card-content>
      </mat-card>
      <mat-card (click)="goToNewApplication(2)">
        <mat-card-content>
          <img src="../../../assets/illustrations/home.svg" alt="" />
          <h3 class="m-0 p-0">Certificate of Occupancy Application</h3>
          <h6 style="color: #400c06; font-weight: bold" class="mt-2">
            Apply Now >
          </h6>
        </mat-card-content>
      </mat-card>
      <mat-card (click)="goToNewApplication(3)">
        <mat-card-content>
          <img src="../../../assets/illustrations/excavation.svg" alt="" />
          <h3 class="m-0 p-0">Excavation Permit Application</h3>
          <h6 style="color: #400c06; font-weight: bold" class="mt-2">
            Apply Now >
          </h6>
        </mat-card-content>
      </mat-card>
      <mat-card (click)="goToNewApplication(4)">
        <mat-card-content>
          <img src="../../../assets/illustrations/fencing.svg" alt="" />
          <h3 class="m-0 p-0">Fencing Permit Application</h3>
          <h6 style="color: #400c06; font-weight: bold" class="mt-2">
            Apply Now >
          </h6>
        </mat-card-content>
      </mat-card>
      <mat-card (click)="goToNewApplication(5)">
        <mat-card-content>
          <img src="../../../assets/illustrations/demolition.svg" alt="" />
          <h3 class="m-0 p-0">Demolition Permit Application</h3>
          <h6 style="color: #400c06; font-weight: bold" class="mt-2">
            Apply Now >
          </h6>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="main__container__applications">
    <h4 class="title">
      <mat-icon>pending_actions</mat-icon>Applications Tracker
    </h4>
    <div class="spinner" *ngIf="!applications">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <ng-container *ngIf="applications?.length >= 1">
      <mat-form-field appearance="outline">
        <mat-select
          placeholder="Track application"
          [(ngModel)]="applicationTracked"
          class="application-selector"
        >
          <mat-option
            *ngFor="let application of applications"
            [value]="application"
          >
            ({{ application.permit_application_code }})
            {{
              application.project_detail?.block_number
                ? "BLOCK " + application.project_detail?.block_number
                : ""
            }}
            {{
              application.project_detail?.lot_number
                ? "LOT " + application.project_detail?.lot_number
                : ""
            }}
            {{
              application.project_detail?.house_number
                ? "# " + application.project_detail?.house_number
                : ""
            }}
            {{ application.project_detail?.street_name }}
            {{ application.project_detail?.subdivision }}
            {{ application.project_detail?.barangay }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-application-timeline
        *ngIf="applicationTracked.id"
        [id]="applicationTracked.id"
        [type]="applicationTracked.permit_type_id"
        lite="true"
      >
      </app-application-timeline>
    </ng-container>
    <ng-container *ngIf="applications?.length == 0">
      <p class="text-center" style="font-weight: bold">
        You don't have any applications.
      </p>
    </ng-container>
  </div>
  <div class="main__container__faqs">
    <h4 class="title">
      <mat-icon>question_answer</mat-icon>Frequently Asked Questions
    </h4>
    <app-faq-expansion-panel id="faqs"></app-faq-expansion-panel>
  </div>
</div>
