@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

#bg-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    width: 100%;
    height: 100vh;
  }
}

.container-success{
    background-color: #F9FAFB;
    height: 100vh;
}
#check {
  width: 300px;
  height: auto;
  @include media-breakpoint-up(md) {
    width: 400px;
    height: auto;
  }
}

