@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table {
  width: 100%;
}

.scheduled-travels{
  &__loader {
    padding-top: 2em;
    padding-bottom: 2em;

    mat-progress-spinner {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__empty {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    width: 250px;
  }

  &__search {
    width: 250px;
    margin-right: 1em;
  }
  &__select {
    width: 250px;
    margin-right: 1em;
  }
}