.mat-form-field{
    width: 100%;
}

.mat-stroked-button{
    width: 100%;
    height: 40px;
}



.mat-form-field{
    color:maroon;
}



.mat-button-toggle{
    height: 100%;

}

.mat-button-toggle-group.mat-button-toggle-group {
    display: flex;
    text-align: center;
    margin-top: 4px;
    .mat-button-toggle{
        width: 100%!important;
         
      }
      
}

.mat-form-field{
    width: 100%;
}

.mat-stroked-button{
    width: 100%;
    height: 40px;
}



.mat-form-field{
    color:maroon;
}

.card-container{
    max-width: 600px;
    height: 650px;
    justify-content: center;
    text-align:center;
    margin: auto;
    margin-top: 50px;
}






    
  






