.circle{
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line{
  height: 5px;
  width: 100px;
  background-color:gray ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  
 

  
}
