<div class="container">
  <div
    class="container__header"
    [ngStyle]="{
      'background-image':
        'url(https://images.unsplash.com/photo-1587811448180-a07307dc45b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80)'
    }"
  >
    <div class="container__header__content">
      <div class="container__header__content-logo">
        <img src="../../../assets/images/landing/logo-city.png" alt="" />
      </div>
    </div>
    <div>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
  </div>
  <div class="container__body">
    <div class="container__body__content">
      <div class="container__body__content__date">
        <h2>Date</h2>
        <mat-calendar
          [selected]="selectedDate"
          (selectedChange)="onSelect($event)"
          [minDate]="minDate"
        ></mat-calendar>
        <!-- <p>{{ selectedDate | date: "MMMM dd, yyyy" }}</p> -->
      </div>
      <div class="container__body__content__time">
        <h2 class="mb-5">Time</h2>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Select preferred time</mat-label>
          <input matInput [ngxTimepicker]="picker" />
          <mat-icon matSuffix style="color: teal">schedule</mat-icon>
          <ngx-material-timepicker
            #picker
            (timeChanged)="time($event)"
          ></ngx-material-timepicker>
        </mat-form-field>

        <!-- <ng-container *ngFor="let item of availableTime">
            <div
              [ngClass]="{
                'selected-time': item.selected == true
              }"
              class="container__body__content__time-content"
              (click)="selectTime(item)"
            >
              <p>
                <span>{{ item.time }}</span>
              </p>
              <mat-icon *ngIf="item.selected == true">done</mat-icon>
            </div>
          </ng-container> -->
      </div>
      <div class="container__body__content__info">
        <h2>Notes</h2>

        <mat-form-field appearance="legacy">
          <mat-label>Notes</mat-label>
          <textarea matInput [formControl]="notes"></textarea>
          <mat-hint>Any notes/reminders for the applicant.</mat-hint>
        </mat-form-field>

        <p style="color: red">{{ errorMessage }}</p>
        <button
          mat-raised-button
          color="primary"
          (click)="confirm()"
          [disabled]="
            isLoading || !this.date || !this.selectedTime || !this.notes.value
          "
        >
          Confirm
        </button>
        <ng-container *ngIf="isLoading">
          <div>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
