.container {
  width: 100%;
  ._app-details {
    width: 60%;
  }
  ._app-timeline {
    width: 40%;
  }
}
.app-forms {
  width: 100%;
}
.avatar-container {
  border-right: 2px solid grey;
  .avatar {
    img {
      width: 80px;
      height: auto;
      object-fit: cover;
    }
  }
}

.spinner {
  width: 40px;
  height: 40px;
  top: 35%;
  position: relative;
  margin: 100px auto;
}

.card {
  margin-bottom: 30px;
  border: none;

  .card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
  }

  .text-dark {
    color: #3d405c !important;
  }
}

.old__bp {
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
  }

  span {
    color: maroon;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

mat-icon:hover {
  cursor: pointer;
}

.inspection {
  &__header {
    display: flex;
    flex-direction: row-reverse;

    h1 {
      color: #363738;
      font-size: 24px;
      font-weight: 600;
    }
  }
  &__body {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.full-partial {
  display: flex;
  flex-direction: column;
  border: 1px dashed rgb(67, 67, 67);
  padding: 10px;
}
