<div class="app-details">
  <mat-card>
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <div>
          <h4 style="color: #ffa653" class="mb-4">
            <strong>Application Details</strong>
          </h4>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="openProjectDialog()"
          >
            View Project Details
          </button>
        </div>
      </div>
      <div class="row mb-1">
        <div class="avatar-container col-md-4 text-center">
          <div class="avatar mb-2">
            <img src="../../../assets/images/avatar.png" alt="" />
          </div>
          <div>
            <h5 style="color: #7b7b7b">applicant@gmail.com</h5>
          </div>
          <div>
            <h5 style="color: #7b7b7b">09123456789</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col">
            <h5 style="color: #7b7b7b">Application Number:</h5>
            <h5><strong>&nbsp;A2020-001</strong></h5>
          </div>
          <div class="col">
            <h5 style="color: #7b7b7b">Application Date:</h5>
            <h5><strong>&nbsp;2020-12-12</strong></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col">
            <h5 style="color: #7b7b7b">Applicant Name:</h5>
            <h5><strong>&nbsp;Juan Dela Cruz</strong></h5>
          </div>
          <div class="col">
            <h5 style="color: #7b7b7b">Application Type:</h5>
            <h5><strong>&nbsp;Building Permit</strong></h5>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="app-timeline">
  <mat-card>
    <mat-card-content>
      <h4 style="color: #12632a" class="mb-4">
        <strong>Application Timeline</strong>
        <hr />
      </h4>
    </mat-card-content>
  </mat-card>
</div>
<div class="app-forms">
  <mat-card>
    <mat-card-content>
      <div>
        <h4 style="color: #400c06" class="mb-4">
          <strong>Application Forms</strong>
        </h4>
      </div>
      <div *ngIf="department == 'cbao'">
        <app-cbao-evaluator></app-cbao-evaluator>
      </div>
      <div *ngIf="department == 'cpdo'">
        <app-cpdo-evaluator></app-cpdo-evaluator>
      </div>
      <div *ngIf="department == 'cepmo'">
        <app-cepmo-evaluator></app-cepmo-evaluator>
      </div>
      <div *ngIf="department == 'bfp'">
        <app-bfp-evaluator></app-bfp-evaluator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
