<div class="m-3">
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <p>Applicant Name</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <p>Application Date</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <p>Progress</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          <p>Application No.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          <p>Task No.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<mat-card>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Forms/Checklist">Show forms here</mat-tab>
    <mat-tab label="Procedue">Procedue</mat-tab>
    <mat-tab label="Documents">Documents</mat-tab>
    <mat-tab label="CPDO">CPDO</mat-tab>
    <mat-tab label="CBAO">
      <div class="m-4">
        <div class="row">
          <div class="col-md-6">
            <div class="mt-4">
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>
              <button mat-button color="primary">Duly Accomplished/Notarized Zoning Clearance Application Form</button>

            </div>
          </div>
          <div class="col-md-6">
            <mat-card style="width: 100%">
              <hr />
              <mat-card-content>
                <ngx-extended-pdf-viewer
                  [src]="
                    '../../../../assets/forms/Geodetic_Engineer_Affidavit.pdf'
                  "
                  [showToolbar]="true"
                  [showSidebarButton]="false"
                  [showFindButton]="false"
                  [showPagingButtons]="false"
                  [showZoomButtons]="true"
                  [showPresentationModeButton]="false"
                  [showOpenFileButton]="false"
                  [showPrintButton]="false"
                  [showDownloadButton]="true"
                  [showBookmarkButton]="false"
                  [showSecondaryToolbarButton]="true"
                  [showRotateButton]="false"
                  [showHandToolButton]="false"
                  [showScrollingButton]="false"
                  [showSpreadButton]="false"
                  [showPropertiesButton]="false"
                  [useBrowserLocale]="true"
                  height="500px"
                  zoom="80%"
                >
                </ngx-extended-pdf-viewer>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="CEPMO">CEPMO</mat-tab>
    <mat-tab label="BFP">BFP</mat-tab>
    <mat-tab label="Bldg Plan">Bldg</mat-tab>
    <mat-tab label="Schedule">Schedule</mat-tab>
    <mat-tab label="Fees">Fees</mat-tab>
  </mat-tab-group>
</mat-card>
