<div class="app-details" *ngIf="!isLoading">
  <mat-card>
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <div>
          <h4 style="color: #ffa653" class="mb-4">
            <strong>Application Details</strong>
          </h4>
        </div>
      </div>
      <div class="row mb-1">
        <div class="avatar-container col-md-4 text-center">
          <div>
            <h5>
              <strong
                >&nbsp;{{
                  applicationDetails.applicant_detail.first_name
                }}&nbsp;{{
                  applicationDetails.applicant_detail.last_name
                }}</strong
              >
            </h5>
          </div>
          <div>
            <h5 style="color: #7b7b7b">
              {{ applicationDetails.applicant_detail.email_address }}
            </h5>
          </div>
          <div>
            <h5 style="color: #7b7b7b">
              {{ applicationDetails.applicant_detail.contact_number }}
            </h5>
          </div>
          <div>
            <h5 style="color: #7b7b7b">
              {{ applicationDetails.applicant_detail.barangay }}
            </h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col">
            <h5 style="color: #7b7b7b">Application Number:</h5>
            <h5>
              <strong>&nbsp;A2020-{{ applicationDetails.id }}</strong>
            </h5>
          </div>
          <div class="col">
            <h5 style="color: #7b7b7b">Application Date:</h5>
            <h5>
              <strong
                >&nbsp;{{
                  applicationDetails.created_at | date: "MMMM dd, yyyy"
                }}</strong
              >
            </h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col">
            <h5 style="color: #7b7b7b">Application Status:</h5>
            <h5>
              <strong
                >&nbsp;
                {{
                  getApplicationStatus(applicationDetails.application_status_id)
                }}
              </strong>
            </h5>
          </div>
          <div class="col">
            <h5 style="color: #7b7b7b">Application Type:</h5>
            <h5>
              <strong
                >&nbsp;{{
                  applicationDetails.permit_type_id == "1"
                    ? "Building Permit"
                    : "Occupancy Permit"
                }}</strong
              >
            </h5>
          </div>
        </div>
      </div>
      <div class="text-right mt-5">
        <button mat-raised-button color="primary" (click)="openProjectDialog()">
          Project Details
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="app-timeline">
  <mat-card>
    <mat-card-content>
      <h4 style="color: #12632a" class="mb-4">
        <strong>Application Fees</strong>
        <hr />
      </h4>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="mb-2"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
              >build</mat-icon
            >
            City Buildings and Architecture Office</mat-panel-title
          >
        </mat-expansion-panel-header>
        <app-cbao-fees-table></app-cbao-fees-table>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="mb-2"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
              >create</mat-icon
            >
            City Planning and Development Office</mat-panel-title
          >
        </mat-expansion-panel-header>
        <app-cpdo-fees-table></app-cpdo-fees-table>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="mb-2"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
              >local_fire_department</mat-icon
            >
            Bureau of Fire Protection</mat-panel-title
          >
        </mat-expansion-panel-header>
        <app-bfp-fees-table></app-bfp-fees-table>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
              >grass</mat-icon
            >
            City Environment and Parks Management Office</mat-panel-title
          >
        </mat-expansion-panel-header>
        <app-cepmo-fees-table></app-cepmo-fees-table>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="evaluatorDetails.office_id == '4'">
  <app-cbao-evaluator></app-cbao-evaluator>
</div>
<div *ngIf="evaluatorDetails.office_id == '1'">
  <app-cpdo-evaluator></app-cpdo-evaluator>
</div>
<div *ngIf="evaluatorDetails.office_id == '2'">
  <app-cepmo-evaluator></app-cepmo-evaluator>
</div>
<div *ngIf="evaluatorDetails.office_id == '3'">
  <app-bfp-evaluator></app-bfp-evaluator>
</div>
