<div [formGroup]="feesDetails">
  <h3 class="mb-3">Add New Item</h3>
  <div>
    <mat-form-field>
      <mat-label>Type of Fee</mat-label>
      <input type="text" matInput formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input type="number" matInput formControlName="amount" />
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>
