<div [formGroup]="feesDetails">
  <h3 class="mb-3">Add New Item</h3>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="typeOfFee"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.name"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input type="number" matInput formControlName="amount" />
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>
