<div class="admin-edit-dialog">
    <div class="section-header">
      {{data.title}}
      <mat-icon class="close-button" (click)="close()">close</mat-icon>
    </div>
    <div class="row">
        <div class="col">
            <p class="subtitle">Current Status:</p>
                <p *ngIf= "data.type == 'Application'">{{data.currentStatus}}</p>
                <p  *ngIf="data.type == 'Document'">{{data.currentStatus == '0' ? 'For review' :
                    data.currentStatus == '1' ? 'Compliance' :
                  'For Compliance'}}</p>
        </div>
        <div class="col">
            <p class="subtitle">Change to:</p>
        
            <mat-form-field appearance="outline">
                <mat-label>Select Application Status</mat-label>
                <mat-select
                [formControl]="newStatus"
    
                >
                  <mat-option
                    *ngFor="let statusList of statusLists"
                    value="{{ statusList.id }}"
                    >{{ statusList.name }}
                    </mat-option
                  >
                </mat-select>
              </mat-form-field>
            
        </div>
       
    </div>
    <div class="buttons">
        <button mat-button class="save-button" (click)="saveChange()">
          Confirm
        </button>
      </div>
      <div class="loader" *ngIf="loading">
        <mat-progress-bar
          mode="indeterminate"
          diameter="40"
        ></mat-progress-bar>
      </div>
</div>