<div id="e-signature">
  <ng-container
    *ngIf="
      this.documentInfo.document_id !== 50 &&
      this.documentInfo.document_id !== 225
    "
  >
    <div id="e-sig-container" cdkDrag (cdkDragEnded)="dragEnd($event)">
      <div id="resize-container">
        <div cdkDragHandle id="e-sig-image-container">
          <img [src]="esigSource" />
        </div>
        <div
          class="resize top-left-resize"
          draggable="true"
          (dragstart)="dragStart($event)"
          (dragover)="dragOver($event)"
          (drag)="resize($event)"
        ></div>
        <div
          class="resize top-right-resize"
          draggable="true"
          (dragstart)="dragStart($event)"
          (dragover)="dragOver($event)"
          (drag)="resize($event)"
        ></div>
        <div
          class="resize bottom-left-resize"
          draggable="true"
          (dragstart)="dragStart($event)"
          (dragover)="dragOver($event)"
          (drag)="resize($event)"
        ></div>
        <div
          class="resize bottom-right-resize"
          draggable="true"
          (dragstart)="dragStart($event)"
          (dragover)="dragOver($event)"
          (drag)="resize($event)"
        ></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="pdfSource">
    <pdf-viewer
      [show-all]="false"
      [(page)]="targetPage"
      [render-text]="true"
      [original-size]="true"
      [fit-to-page]="false"
      [src]="pdfSource"
      [show-borders]="true"
    ></pdf-viewer>
  </ng-container>

  <div class="pdf-actions">
    <div class="pdf-paginator">
      <button mat-button (click)="previousPage()">
        <mat-icon [inline]="true">arrow_back</mat-icon>
      </button>
      <div class="current-page">
        {{ targetPage }}
      </div>
      <button mat-button (click)="nextPage()">
        <mat-icon [inline]="true">arrow_forward</mat-icon>
      </button>
    </div>

    <button
      mat-button
      class="submit"
      (click)="insertEsig()"
      [disabled]="isLoading"
      *ngIf="
        this.documentInfo.document_id !== 50 &&
        this.documentInfo.document_id !== 225
      "
    >
      {{ isLoading ? "Saving" : "Insert Signature" }}
    </button>
    <button
      mat-button
      class="submit"
      (click)="bldgPermitSignature()"
      [disabled]="isLoading"
      *ngIf="this.documentInfo.document_id == 50"
    >
      {{ isLoading ? "Saving" : "Sign" }}
    </button>
    <button
      mat-button
      class="submit"
      (click)="occupancyCertificate()"
      [disabled]="isLoading"
      *ngIf="this.documentInfo.document_id == 225"
    >
      {{ isLoading ? "Saving" : "Sign" }}
    </button>
  </div>
  <ng-container *ngIf="isLoading">
    <div class="mt-2">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>
</div>
