<div id="html2Pdf" style="width: 500px;">
  <div class="col-md-12">
    <img
      src="../../../assets/test-sig.svg"
      style="width: 200px; height: 200px; z-index: 1"
      cdkDrag
    />
    <!-- <iframe src="../../../assets/forms/bldg-permit-certificate.pdf#toolbar=0"> -->
    <!-- </iframe> -->
    <!-- <embed src="../../../assets/forms/bldg-permit-certificate.pdf#toolbar=0" /> -->
    <img src="../../../assets/test-pdfimg.jpg" style="width: 100%" />
  </div>
</div>

<button (click)="generatePdf()">Save</button>
