#e-signature {
  #e-sig-container {
    cursor: move;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 20px;
    height: 130px;

    #e-sig-image-container {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
      }
    }

    .resize-container {
      position: relative;
      height: 100%;
      width: 100%;
      outline: 1px dotted maroon;

      .resize {
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: maroon;

        &.top-left-resize {
          top: -5px;
          left: -5px;
          cursor: nw-resize;
        }

        &.top-right-resize {
          top: -5px;
          right: -5px;
          cursor: ne-resize;
        }

        &.bottom-left-resize {
          bottom: -5px;
          left: -5px;
          cursor: sw-resize;
        }

        &.bottom-right-resize {
          bottom: -5px;
          right: -5px;
          cursor: se-resize;
        }
      }
    }
  }

  ::ng-deep pdf-viewer {
    .page {
      margin: 0;
      border: 0;

      & * {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  button {
    display: block;
    margin: 0 auto 50px;
    background-color: maroon;
    color: #fff;
  }
}
