<div class="application-summary" *ngIf="!isLoading && isAuthorized">
  <div class="row">
    <div class="d-flex justify-content-between w-100">
      <div>
        <h2>Applicant Name: {{ applicantCompleteName }}</h2>
        <h3>Permit Category: {{ permitType }}</h3>
        <hr />
        <h3 class="pt-5">Application Summary</h3>
        <p style="color: maroon"> 
          <strong
            >To submit your application, click on the "Submit" button at the
            bottom part of this page.</strong
          >
        </p>
      </div>
      <div>
        <img
          src="../../../../assets/illustrations/requirements.png"
          class="illustration"
        />
      </div>
    </div>
    <div class="col-12 m-0 p-0">
      <ng-container *ngIf="applicantForms">
        <div *ngFor="let category of sortedForms">
          <div *ngIf="category.data.length > 0">
            <div class="mb-2" style="font-weight: bold">
              {{ category.label }}
            </div>
            <ul>
              <li
                *ngFor="let element of category.data; let i = index"
              >
                <div class="index">
                  {{ i + 1 }}.
                </div>
                <div *ngIf="category.label == 'Forms'" class="document forms">
                  <div class="file-description">
                    {{ getDocType(element.document_id) }}
                  </div>
                  <div class="file-actions">
                    <a
                      [href]="element.document_path"
                      target="_blank"
                    >
                      View
                    </a>
                    <mat-icon *ngIf="element.document_path"> check_circle </mat-icon>
                  </div>
                </div>
                <app-file-upload
                  *ngIf="category.label != 'Forms'"
                  (emitFile)="submitDocument($event, element.document_id)"
                  description="{{ getDocType(element.document_id) }}"
                  path="{{ element.document_path }}"
                  class="document"
                ></app-file-upload>
                <br />
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <div class="text-right my-4">
        <button
          mat-raised-button
          color="primary"
          (click)="proceed()"
          *ngIf="applicationInfo.application_status_id == 6"
          [disabled]="!receiveApplications"
        >
          Continue
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="submit()"
          *ngIf="applicationInfo.application_status_id == 9"
          [disabled]="!receiveApplications"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="d-flex justify-content-center mt-5"
  *ngIf="isLoading && isAuthorized"
>
  <mat-spinner></mat-spinner>
</div>
