<div class="container" *ngIf="!isLoading && isAuthorized">
  <div class="row">
    <div class="d-flex justify-content-between w-100">
      <div>
        <h2>Applicant Name: {{ applicantCompleteName }}</h2>
        <h3>Permit Category: {{ permitType }}</h3>
        <hr />
        <h3 class="pt-5">Application Summary</h3>
        <p style="color: maroon">
          <strong
            >To submit your application, click on the "Submit" button at the
            bottom part of this page.</strong
          >
        </p>
      </div>
      <div>
        <img
          src="../../../../assets/illustrations/requirements.png"
          class="illustration"
        />
      </div>
    </div>
    <div class="col-12 m-0 p-0">
      <ng-container *ngIf="applicantForms">
        <div *ngFor="let category of sortedForms">
          <div *ngIf="category.data.length > 0">
            <div class="mb-2" style="font-weight: bold">
              {{ category.label }}
            </div>
            <ul>
              <li
                class="d-flex justify-content-between"
                *ngFor="let element of category.data; let i = index"
              >
                {{ i + 1 }}. {{ getDocType(element.document_id) }}
                <button
                  mat-button
                  color="primary"
                  (click)="goToLink(element.document_path)"
                >
                  <u>View</u>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <div class="text-right my-4">
        <button
          mat-raised-button
          color="primary"
          (click)="proceed()"
          *ngIf="applicationInfo.application_status_id == 6"
          [disabled]="!receiveApplications"
        >
          Continue
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="submit()"
          *ngIf="applicationInfo.application_status_id == 9"
          [disabled]="!receiveApplications"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="d-flex justify-content-center mt-5"
  *ngIf="isLoading && isAuthorized"
>
  <mat-spinner></mat-spinner>
</div>
