button{
    background-color: maroon;
    display:block;
    width:80px;
    height:80px;
    line-height:80px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    position: fixed;
    bottom: 5px;
    right:10px;
    
   

    mat-icon{
        color:white;
        font-size: x-large;
        
    }
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
  }

::ng-deep .menu-without-scroll {
    overflow: hidden !important;
}