<h3>Demolition Permit Application</h3>
<p>
  Click <a href="" target="_blank">here</a> to view all required forms for
  Demolition Permit Application.
</p>
<mat-horizontal-stepper linear #stepper (selectionChange)="initPdfViewer($event)">
  <mat-step *ngFor="let form of forms; let i = index">
    <ng-template matStepLabel>{{ form.description }}</ng-template>
    <div class="fillable-form">
      <div class="step-label">
        1. After filling out the form, please click the download/save button on
        the right.
      </div>
      <mat-card>
        <mat-card-content>
          <div id="form-{{i}}">
            <div id="pdf-viewer" *ngIf="i == 0 && pdfSource">
              <ngx-extended-pdf-viewer
                [src]="pdfSource"
                [showToolbar]="true"
                [showSidebarButton]="false"
                [showFindButton]="false"
                [showPagingButtons]="false"
                [showZoomButtons]="true"
                [showPresentationModeButton]="true"
                [showOpenFileButton]="false"
                [showPrintButton]="false"
                [showDownloadButton]="true"
                [showBookmarkButton]="false"
                [showSecondaryToolbarButton]="true"
                [showRotateButton]="false"
                [showHandToolButton]="false"
                [showScrollingButton]="false"
                [showSpreadButton]="false"
                [showPropertiesButton]="false"
                [useBrowserLocale]="true"
                height="1000px"
                zoom="80%"
                [(formData)]="formData"
              >
              </ngx-extended-pdf-viewer>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="step-label">2. Please upload the Notarized Form.</div>
      <div class="pdf-only">You can only upload PDF files.</div>
      <app-file-upload 
        (emitFile)="submitDocument($event, form.id)"
        description="{{form.description}}"
        path="{{form.path}}"
      ></app-file-upload>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step *ngFor="let fieldSet of fieldSets; let i = index">
    <ng-template matStepLabel>{{ fieldSet.label }}</ng-template>
    <div class="fieldsets">
      <div *ngFor="let field of fieldSet.documents">
        <app-file-upload 
          (emitFile)="submitDocument($event, field.id)"
          description="{{field.description}}"
          path="{{field.path}}"
        ></app-file-upload>
      </div>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" matStepperNext *ngIf="i != fieldSets.length-1; else submit_button;">Next</button>
      <ng-template #submit_button>   
        <button mat-raised-button (click)="submitApplication()">Submit</button>
      </ng-template>
    </div>
  </mat-step>
</mat-horizontal-stepper>
