<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex w-100">
        <mat-card>
          <mat-card-title class="m-3">Applications</mat-card-title>
          <hr class="m-0" />
          <p class="ml-3 mt-3">as of {{ date }}</p>
          <div class="piechart justify-content-center">
            <ngx-charts-advanced-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex w-100">
        <mat-card>
          <mat-card-title class="m-3">Notifications</mat-card-title>
          <hr class="m-0" />
          <mat-card-content>
            <div class="d-flex justify-content-around w-100 m-0" *ngIf="evaluatorDetails.department=='cbao'">
              <a routerLink="" (click)="handleView()"
                ><p style="color: rgb(90, 108, 116); font-size: 12px">
                  Nov-21-2020 3:43PM
                </p></a
              >

              <a routerLink="" (click)="handleView()"
                ><p style="color: rgb(90, 108, 116)">
                  A2020-1 for Document Checking
                </p></a
              >
            </div>
            <div class="d-flex justify-content-around w-100 m-0" *ngIf="evaluatorDetails.department=='cpdo'">
              <a routerLink="" (click)="handleView()"
                ><p style="color: rgb(90, 108, 116); font-size: 12px">
                  Nov-21-2020 3:43PM
                </p></a
              >

              <a routerLink="" (click)="handleView()"
                ><p style="color: rgb(90, 108, 116)">
                  A2020-1 for Document Processing
                </p></a
              >
            </div>
            <hr />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="card-container mt-5">
        <nav mat-tab-nav-bar mat-stretch-tabs>
          <a
            mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.link"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            {{ link.label }}
          </a>
        </nav>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>
