@import '~quill/dist/quill.bubble.css';

mat-card {
    max-width:450px;
    max-height: 600px;
  
    mat-card-header{
      max-height: 200px;
      max-width:450px;
      min-width: 450px;
     
      background-color: maroon;
 
       mat-card-title{
           color:white;
       }
       mat-card-subtitle{
           color:white
       }
   }

   mat-card-content{
     max-height: 300px;
     min-height: 300px;
     max-width:450px;
     min-width: 450px;
     overflow-y: auto;

   }

   mat-card-actions{
   max-width: 450px;
  
   }
  }

  img {
    background-size: cover;
    max-width: 100px;
    max-height: 200px;


  }

.unseen{
  h5{
    color:maroon;
  }

 p{
   color:maroon;
 }
  

}

.seen{
  p{
    color:black
  }
  

}

.btn-bot{
    
    width: 230px;
    border-color: maroon;
    color: maroon;
    

    .btn-bot:hover{
      background-color: maroon;
      color:white

    }
  }


  
 


  
 