<mat-card>
    <mat-card-header>  
      <mat-card-title>Hi There! </mat-card-title>
      <mat-card-subtitle>Welcome to OCPAS Chat, How can we help you?</mat-card-subtitle>
      <img src="../../../../assets/images/cbao-cartoon.png">
    </mat-card-header>
  
      <perfect-scrollbar>
        <mat-card-content>
          <div class="pb-3 text-right">
            <button mat-stroked-button class="btn-bot" (click)="chatbotMessage('Apply')">
              How to Apply?
             </button>
          </div>
        
          <ng-container *ngFor="let c of selectedMessage.chat">
            <ng-template [ngIf]="c.type == 'incoming'" [ngIfElse]="evenblock">
              <div class="chat-list odd">
                <div class="chat-message">
                  <div class="chat-block">
                    <span>
                      <img src="{{selectedMessage.photo}}" class="img-circle" width="40">
                    </span>
                    <span>{{c.msg}}</span>
                  </div>
                  <span class="chat-date">{{ c.date | date }}</span>
                </div>
              </div>
            </ng-template>
            <ng-template #evenblock>
              <div *ngIf="talkWithChatbot" class="chat-list even">
                <div class="chat-message">
                  <button mat-stroked-button class="btn-bot pb-2" (click)="chatbotMessage(c.param)">
                    {{c.msg}}
                   </button>

              
                </div>
              </div>
              <!-- <div  class="chat-list even">
                <div class="chat-message">
                  <div class="chat-block bg-light-info">{{c.msg}}</div>
                  <span class="chat-date">{{ c.date | date}}</span>
                </div>
              </div> -->
            </ng-template>
          </ng-container>
        </mat-card-content>
      </perfect-scrollbar>
   
   
      <mat-card-actions class="chat-footer">
        <div fxLayout="row" layout-align="start center">
          <mat-form-field class="mr-1 ml-1" fxFlex style="max-width: 350px;">
            <input matInput [(ngModel)]="msg" placeholder="Send message" #myInput (keyup.enter)="OnAddMsg()">
          </mat-form-field>
          <button mat-fab color="warn" (click)="OnAddMsg()" [disabled]="!msg">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </mat-card-actions>
  </mat-card>