<mat-card class="chat-card">
    <mat-card-header>  
      <mat-card-title>Hi There! </mat-card-title>
      <mat-card-subtitle>Welcome to OCPAS Chat, How can we help you?</mat-card-subtitle>
      <img src="../../../../assets/images/cbao-cartoon.png">
    </mat-card-header>
    <mat-card-content>
      <p>
      
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="border-color: maroon; color: maroon;">Send us a message</button>
    </mat-card-actions>
  </mat-card>