@import '~quill/dist/quill.bubble.css';
mat-card{
    max-height: 500px !important;
    min-height: 500px !important;
    mat-card-content{
        max-height: 500px !important;
        min-height: 500px !important;
       
        overflow-y: auto;
    }
}