<div class="row mx-5">
  <div class="d-flex justify-content-between w-100">
    <div>
      <h2>Building Permit Application</h2>
      <p>
        Click <a href="" target="_blank">here</a> to view all required forms for
        Building Permit Application.
      </p>
      <hr />
      <div class="d-flex align-items-center mt-5">
        <mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
          >receipt_long</mat-icon
        >
        <h3 class="mt-2">Initial Forms</h3>
      </div>
      <p class="pt-2">
        Please fill out, download, and upload the necessary files.
      </p>
    </div>
    <div>
      <img
        src="../../../../assets/illustrations/cbao-illustration.png"
        class="illustration"
      />
    </div>
  </div>
</div>
<div class="col-md-12">
  <hr />
  <router-outlet></router-outlet>
</div>
