<div class="container">
  <div class="row mx-5">
    <div class="d-flex justify-content-between w-100">
      <div>
        <h2>Building Permit Application</h2>
        <p>
          Click <a href="" target="_blank">here</a> to view all required forms
          for Building Permit Application.
        </p>
        <hr />
        <div class="d-flex align-items-center mt-5">
          <mat-icon aria-hidden="false" class="mr-2" style="color: maroon"
            >receipt_long</mat-icon
          >
          <h3 class="mt-2">Initial Forms</h3>
        </div>
        <p class="pt-2">
          Please fill out, download, and upload the necessary files.
        </p>
      </div>
      <div>
        <img
          src="../../../../assets/illustrations/cbao-illustration.png"
          class="illustration"
        />
      </div>
    </div>
    <div class="content px-5 w-100">
      <hr />
      <router-outlet></router-outlet>
      <!-- <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Duly Accomplished/Notarized Zoning Clearance Application Form</h5>
          <mat-icon *ngIf="zoningClearanceForm" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <div>
          <mat-expansion-panel
            hideToggle
            *ngIf="!zoningClearanceForm"
            class="mb-4"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Fill out and Download Form</mat-panel-title>
            </mat-expansion-panel-header>
            <ngx-extended-pdf-viewer
              [src]="'../../../assets/forms/zoningform.pdf'"
              [showToolbar]="true"
              [showSidebarButton]="false"
              [showFindButton]="false"
              [showPagingButtons]="false"
              [showZoomButtons]="false"
              [showPresentationModeButton]="false"
              [showOpenFileButton]="false"
              [showPrintButton]="false"
              [showDownloadButton]="true"
              [showBookmarkButton]="false"
              [showSecondaryToolbarButton]="true"
              [showRotateButton]="false"
              [showHandToolButton]="false"
              [showScrollingButton]="false"
              [showSpreadButton]="false"
              [showPropertiesButton]="false"
              [useBrowserLocale]="true"
              height="500px"
              zoom="80%"
            >
            </ngx-extended-pdf-viewer>
          </mat-expansion-panel>
        </div>

        <ngx-dropzone
          (change)="onSelect($event, 'zoningClearanceForm')"
          [multiple]="false"
          *ngIf="!zoningClearanceForm"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="zoningClearanceForm"
            [removable]="true"
            (removed)="onRemove('zoningClearanceForm')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ zoningClearanceForm.name }} ({{
                zoningClearanceForm.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Building Permit Form</h5>
          <mat-icon *ngIf="buildingPermitForm" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <div id="editBuildingForm" *ngIf="zoningClearanceForm">
          <mat-expansion-panel
            hideToggle
            *ngIf="!buildingPermitForm"
            class="mb-4"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Fill out and Download Form</mat-panel-title>
            </mat-expansion-panel-header>
            <ngx-extended-pdf-viewer
              [src]="'../../../assets/forms/building_permit.pdf'"
              [showToolbar]="true"
              [showSidebarButton]="false"
              [showFindButton]="false"
              [showPagingButtons]="false"
              [showZoomButtons]="false"
              [showPresentationModeButton]="false"
              [showOpenFileButton]="false"
              [showPrintButton]="false"
              [showDownloadButton]="true"
              [showBookmarkButton]="false"
              [showSecondaryToolbarButton]="true"
              [showRotateButton]="false"
              [showHandToolButton]="false"
              [showScrollingButton]="false"
              [showSpreadButton]="false"
              [showPropertiesButton]="false"
              [useBrowserLocale]="true"
              height="500px"
              zoom="80%"
            >
            </ngx-extended-pdf-viewer>
          </mat-expansion-panel>
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'buildingPermitForm')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="buildingPermitForm"
            [removable]="true"
            (removed)="onRemove('buildingPermitForm')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ buildingPermitForm.name }} ({{
                buildingPermitForm.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Sanitary Permit Form</h5>
          <mat-icon *ngIf="sanitaryPermitForm" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <mat-expansion-panel
        hideToggle
        *ngIf="!sanitaryPermitForm && buildingPermitForm"
        class="mb-4"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Fill out and Download Form</mat-panel-title>
        </mat-expansion-panel-header>
        <ngx-extended-pdf-viewer
          [src]="'../../../assets/forms/Sanitary_Plumbing_Permit.pdf'"
          [showToolbar]="true"
          [showSidebarButton]="false"
          [showFindButton]="false"
          [showPagingButtons]="false"
          [showZoomButtons]="false"
          [showPresentationModeButton]="false"
          [showOpenFileButton]="false"
          [showPrintButton]="false"
          [showDownloadButton]="true"
          [showBookmarkButton]="false"
          [showSecondaryToolbarButton]="true"
          [showRotateButton]="false"
          [showHandToolButton]="false"
          [showScrollingButton]="false"
          [showSpreadButton]="false"
          [showPropertiesButton]="false"
          [useBrowserLocale]="true"
          height="500px"
          zoom="80%"
        >
        </ngx-extended-pdf-viewer>
      </mat-expansion-panel>
        <ngx-dropzone
          (change)="onSelect($event, 'sanitaryPermitForm')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="sanitaryPermitForm"
            [removable]="true"
            (removed)="onRemove('sanitaryPermitForm')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ sanitaryPermitForm.name }} ({{
                sanitaryPermitForm.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Electrical Permit Form</h5>
          <mat-icon *ngIf="electricalPermitForm" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'electricalPermitForm')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="electricalPermitForm"
            [removable]="true"
            (removed)="onRemove('electricalPermitForm')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ electricalPermitForm.name }} ({{
                electricalPermitForm.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Geodetic Engineer Affidavit</h5>
          <mat-icon *ngIf="geodeticEngineerAffidavit" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'geodeticEngineerAffidavit')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="geodeticEngineerAffidavit"
            [removable]="true"
            (removed)="onRemove('geodeticEngineerAffidavit')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ geodeticEngineerAffidavit.name }} ({{
                geodeticEngineerAffidavit.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="mb-4">
        <div class="d-flex justify-content-between">
          <h5>Civil Engineer Affidavit</h5>
          <mat-icon *ngIf="civilEngineerAffidavit" style="color: green"
            >check_circle</mat-icon
          >
        </div>
        <ngx-dropzone
          (change)="onSelect($event, 'civilEngineerAffidavit')"
          [multiple]="false"
        >
          <ngx-dropzone-label>Click here to upload file! </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="civilEngineerAffidavit"
            [removable]="true"
            (removed)="onRemove('civilEngineerAffidavit')"
            class="mx-auto"
          >
            <ngx-dropzone-label
              >{{ civilEngineerAffidavit.name }} ({{
                civilEngineerAffidavit.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>

      <div class="d-flex justify-content-between mb-4">
        <div>
          <button mat-button>
            <mat-icon>chevron_left</mat-icon>
            Back
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="callNext()">
            Next
          </button>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="row">
    <div class="w-100">
      <mat-card class="card-container mt-5">
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div> -->
</div>
