<div class="container" *ngIf="!isLoading">
  <h4 style="color: maroon; font-weight: bold" class="mb-4">
    <strong>Project Details</strong>
    <hr />
  </h4>
  <div class="row">
    <div class="col-md-12">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>House Number:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.house_number == ""
                    ? "--"
                    : data.projectDetails.house_number
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Lot Number:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.lot_number == ""
                    ? "--"
                    : data.projectDetails.lot_number
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Block Number:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.block_number == ""
                    ? "--"
                    : data.projectDetails.block_number
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Unit Number:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.unit_number == ""
                    ? "--"
                    : data.projectDetails.unit_number
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Street:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.street_name == ""
                    ? "--"
                    : data.projectDetails.street_name
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Barangay:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.barangay == ""
                    ? "--"
                    : data.projectDetails.barangay
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Lot Area (sqm):</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.lot_area == ""
                    ? "--"
                    : data.projectDetails.lot_area
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Total Floor Area (sqm):</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.total_floor_area == ""
                    ? "--"
                    : data.projectDetails.total_floor_area
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Number of Units:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.number_of_units == ""
                    ? "--"
                    : data.projectDetails.number_of_units
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Number of Storey:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.number_of_storey == ""
                    ? "--"
                    : data.projectDetails.number_of_storey
                }}
              </h5>
            </div>
          </div>

          <hr />
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Project Title:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.project_title == ""
                    ? "--"
                    : data.projectDetails.project_title
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Number of Basement:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.number_of_basement == ""
                    ? "--"
                    : data.projectDetails.number_of_basement
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <h5>Project Cost Estimation:</h5>
              <h5 style="color: maroon; font-weight: bold" *ngIf="!editMode">
                &nbsp;{{
                  data.projectDetails.project_cost_cap == ""
                    ? "--"
                    : (projectCost | currency: "PHP")
                }}
              </h5>
              <mat-form-field appearance="legacy" *ngIf="editMode">
                <input matInput [formControl]="projectCostForm" type="number" />
              </mat-form-field>
              <mat-icon
                style="font-size: 20px; margin-left: 5px"
                (click)="edit()"
                >mode_edit</mat-icon
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>TCT Number:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.tct_number == ""
                    ? "--"
                    : data.projectDetails.tct_number
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Tax Declaration Number:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.tax_dec_number == ""
                    ? "--"
                    : data.projectDetails.tax_dec_number
                }}
              </h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <h5>Landmark:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{
                  data.projectDetails.landmark == ""
                    ? "--"
                    : data.projectDetails.landmark
                }}
              </h5>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-3">
            <div class="d-flex">
              <h5>1% of Project Cost:</h5>
              <h5 style="color: maroon; font-weight: bold">
                &nbsp;{{ projectCost * 0.01 | currency: "PHP" }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <button mat-raised-button color="accent" [mat-dialog-close]="">
      Close
    </button>
    <button mat-raised-button color="primary" (click)="save()" *ngIf="editMode">
      Save
    </button>
  </div>
</div>
