<div class="row">
  <div class="col-12 mb-3">
    <h2>My Applications</h2>
    <div class="horizontal-line"></div>
  </div>
</div>

<table
  mat-table
  [dataSource]="applicationInfoData"
  class="mat-elevation-z0 p-5"
>
  <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
  <ng-container matColumnDef="applicationNumber">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>
  <!--  Name Column -->
  <ng-container matColumnDef="applicationType">
    <th mat-header-cell *matHeaderCellDef>Application Type</th>
    <td mat-cell *matCellDef="let element">
      {{ getPermitType(element.permit_type_id) }}
    </td>
  </ng-container>
  <!-- Status Column -->
  <ng-container matColumnDef="applicationDate">
    <th mat-header-cell *matHeaderCellDef>Application Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.applicant_detail.created_at | date: "MMMM dd, yyyy" }}
    </td>
  </ng-container>
  <!-- Status Column -->
  <ng-container matColumnDef="applicationStatus">
    <th mat-header-cell *matHeaderCellDef>Application Status</th>
    <td mat-cell *matCellDef="let element">
      {{ getApplicationStatus(element.status.id) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="applicationProgress">
    <th mat-header-cell *matHeaderCellDef>Progress</th>
    <td mat-cell *matCellDef="let element">{{element.status.progress == '' ? '': element.status.progress }}%
      <!-- <mat-progress-bar
            class="example-margin"
            [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar> -->
    </td>
  </ng-container>
  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        color="accent"
        (click)="viewApplication(element.id)"
        *ngIf="element.application_status_id !== 6"
      >
        View
      </button>
      <button
        mat-button
        color="accent"
        (click)="continueApplication(element.user_id, element.id)"
        *ngIf="element.application_status_id == 6"
      >
        Proceed
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>

<div class="application__loader text-center py-5" *ngIf="isFetching">
  <p>Fetching Applications...</p>
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50"
  ></mat-progress-spinner>
</div>

<div
  class="application__empty text-center py-5"
  *ngIf="!isFetching && applicationInfoData.length === 0"
>
  <h2>No application found</h2>
  <button (click)="redirect()" mat-button style="background-color: transparent">
    <h4 style="color: #f50057; font-weight: bold; margin: auto">
      Apply construction permit now >
    </h4>
  </button>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 15]"
  showFirstLastButtons
></mat-paginator>
<div
  *ngIf="applicationInfoData != null && applicationInfoData.length >= 5"
></div>
