img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

button {
    background-color: maroon;
    color: #ffffff;
}

a {
    color: maroon;
}

@media (max-width: 425.5px) {
    img {
        width: 200px;
    }
}