<form [formGroup]="projectDetailsForm" (ngSubmit)="onSubmit()">
  <div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="row justify-content-center pt-3 px-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>House Number</mat-label>
          <input type="text" matInput formControlName="project_house_number" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Lot Number</mat-label>
          <input
            type="number"
            matInput
            formControlName="project_lot_number"
            required
          />
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_lot_number.touched ||
                _submitted) &&
              projectDetailsFormControl.project_lot_number.errors?.required
            "
          >
            Lot Number is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Block Number</mat-label>
          <input
            type="number"
            matInput
            formControlName="project_block_number"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Unit Number</mat-label>
          <input type="number" matInput formControlName="project_unit_number" />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center px-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input type="text" matInput formControlName="project_street" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Barangay</mat-label>
          <input
            type="text"
            placeholder="Select Barangay"
            aria-label="Barangay"
            matInput
            formControlName="project_barangay"
            [matAutocomplete]="auto"
            required
          />
          <mat-icon matSuffix>arrow_drop_down</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let barangays of _filteredBarangayOptions | async"
              [value]="barangays.name"
            >
              {{ barangays.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_barangay.touched ||
                _submitted) &&
              projectDetailsFormControl.project_barangay.errors?.required
            "
          >
            Barangay is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Lot Area (square meters)</mat-label>
          <input
            type="number"
            matInput
            formControlName="project_lot_area"
            required
          />
          <p matSuffix>sqm</p>
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_lot_area.touched ||
                _submitted) &&
              projectDetailsFormControl.project_lot_area.errors?.required
            "
          >
            Lot Area (square meters) is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Total Floor Area (square meters)/Building Area</mat-label>
          <input
            type="number"
            matInput
            formControlName="project_floor_area"
            required
          />
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_floor_area.touched ||
                _submitted) &&
              projectDetailsFormControl.project_floor_area.errors?.required
            "
          >
            Total Floor Area (square meters)/Building Area is Required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center px-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Number of Units</mat-label>
          <input matInput formControlName="project_units" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Number of Storey</mat-label>
          <input matInput formControlName="project_storeys" required />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Project Title</mat-label>
          <input matInput formControlName="project_title" required />
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_title.touched || _submitted) &&
              projectDetailsFormControl.project_title.errors?.required
            "
          >
            Project Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Number of Basement</mat-label>
          <input matInput formControlName="project_basement" />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center px-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Project Cost</mat-label>
          <input
            style="text-align: right"
            type="text"
            matInput
            localeCurrencyInput
            [allowNegative]="false"
            [currencyCode]="'₱'"
            formControlName="project_cost"
            required
          />
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_cost.touched || _submitted) &&
              projectDetailsFormControl.project_cost.errors?.required
            "
          >
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>TCT Number</mat-label>
          <input
            type="text"
            matInput
            formControlName="project_tct_number"
            required
          />
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_tct_number.touched ||
                _submitted) &&
              projectDetailsFormControl.project_tct_number.errors?.required
            "
          >
            TCT Number is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Tax Declaration Number</mat-label>
          <input
            type="text"
            matInput
            formControlName="project_td_number"
            required
          />
          <mat-error
            *ngIf="
              (projectDetailsFormControl.project_td_number.touched ||
                _submitted) &&
              projectDetailsFormControl.project_td_number.errors?.required
            "
          >
            Tax Dec. Number is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Landmark</mat-label>
          <input type="text" matInput formControlName="project_landmark" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!isLoading">
    <p>Project Location</p>
    <div class="map" id="map" class="match-parent" style="height: 400px"></div>
  </div>
  <div class="row flex-row-reverse">
    <div class="m-4">
      <button mat-raised-button color="primary" type="submit">Proceed</button>
    </div>
  </div>
</form>
