<!-- <mat-card>
    <mat-card-content>
        <mat-card-title>Advanced pie chart</mat-card-title>
        <mat-card-subtitle>Check the document here for getting more info
            <a href="https://swimlane.github.io/ngx-charts/" target="_blank">Click Here</a>
        </mat-card-subtitle>
        <div class="w100">
            <ngx-charts-advanced-pie-chart class="chart-container" [scheme]="colorScheme" [results]="data" (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" (select)="select($event)">
        </ngx-charts-advanced-pie-chart>
        </div>
    </mat-card-content>
</mat-card> -->