<div class="footer container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="footer-logos">
                <img src="../../../assets/images/logo-city.png" />
                <img src="../../../assets/images/logo-cbao.png" />
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="site-links-header">SITE LINKS</div>
            <div class="site-links">
                <a href="/about">About</a>
                <a href="/services">Services</a>
                <a href="/news">News</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="contact-header">CONTACT US</div>
            <div class="contact-info">
                <mat-icon>location_on</mat-icon>
                <span>DPS Compound, Utility Road<br /> Baguio City</span>
            </div>
            <div class="contact-info">
                <mat-icon>phone</mat-icon>
                <span>(074) 442-2503</span>
            </div>
        </div>
    </div>
</div>