<!-- <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
      <mat-card class="mat-card-top chat-app">
          <mat-card-content class="chat-middle-box">
           
          </mat-card-content>
          <mat-card-actions class="chat-footer">
            <div fxLayout="row" layout-align="start center">
              <mat-form-field class="mr-1 ml-1" fxFlex>
                <input matInput [(ngModel)]="msg" placeholder="Send message" #myInput (keyup.enter)="OnAddMsg()">
              </mat-form-field>
              <button mat-fab color="warn" (click)="OnAddMsg()" [disabled]="!msg">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </mat-card-actions>
      </mat-card>
    </div>
  </div> -->
<div class="chat-container">
    <mat-dialog-content>
      <perfect-scrollbar>
        <ng-container *ngFor="let c of selectedMessage.convo">
          <ng-template [ngIf]="c.type == 'outgoing'" [ngIfElse]="evenblock">
            <div class="chat-list odd">
              <div class="chat-message">
                <div class="chat-block">
                  <!-- <span>
                    <img src="{{selectedMessage.photo}}" class="img-circle" width="40"> 
                  </span> -->
                  <span [innerHTML]="c.message">{{ c.message }}</span>
                </div>
                <span *ngIf="c.created_at" class="chat-date">{{
                  c.created_at | date: "MMM d, y h:mm a"
                }}</span>
                <span *ngIf="c.currentime" class="chat-date">{{
                  c.created_at | date: "MMM d, y h:mm a"
                }}</span>
              </div>
            </div>
          </ng-template>
          <ng-template #evenblock>
            <div class="chat-list even">
              <div class="chat-message">
                <span *ngIf="c.evaluator_detail" class="chat-user">{{
                  c.evaluator_detail.display_role
                }}
                {{
                  c.evaluator_detail.first_name
                }}
                {{
                  c.evaluator_detail.last_name
                }}
              </span>
              <span *ngIf="c.evaluator_name" class="chat-user">{{
                c.evaluator_display_role
              }}
              {{
                c.evaluator_name
              }}
            </span>
                <div
                  class="chat-block bg-light-info"
                  [innerHTML]="c.message"
                ></div>
                <span *ngIf="c.created_at" class="chat-date">{{
                  c.created_at | date: "MMM d, y h:mm a"
                }}</span>
                <span *ngIf="c.currentime" class="chat-date">{{
                  c.created_at | date: "MMM d, y h:mm a"
                }}</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </perfect-scrollbar>
    </mat-dialog-content>
    <mat-dialog-actions>
      <mat-form-field class="mr-1 ml-1" fxFlex>
        <input
          matInput
          [(ngModel)]="msg"
          placeholder="Send message"
          #myInput
          (keyup.enter)="OnAddMsg()"
        />
      </mat-form-field>
      <button mat-fab color="warn" (click)="OnAddMsg()" [disabled]="!msg">
        <mat-icon>send</mat-icon>
      </button>
    </mat-dialog-actions>
</div>
