<form
  [formGroup]="technicalFindingsForm"
  (ngSubmit)="onSubmit()"
  *ngIf="!isLoading"
>
  <div class="col-md-12 pt-3 px-3">
    <div class="d-flex align-items-center">
      <h5>Zone:</h5>
      <div class="ml-3">
        <mat-radio-group aria-label="Select an option" formControlName="zone">
          <mat-radio-button value="R1">R1</mat-radio-button>
          <mat-radio-button value="R2">R2</mat-radio-button>
          <mat-radio-button value="R3">R3</mat-radio-button>
          <mat-radio-button value="C1">C1</mat-radio-button>
          <mat-radio-button value="C2">C2</mat-radio-button>
          <mat-radio-button value="C3">C3</mat-radio-button>
          <mat-radio-button value="GIZ">GIZ</mat-radio-button>
          <mat-radio-button value="IND">IND</mat-radio-button>
          <mat-radio-button value="UTILITIES">UTILITIES</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <h5>Conforming to Zonal Classification:</h5>
      <div class="ml-3">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="isZonal"
        >
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <h5>Setback:</h5>
      <div class="ml-3">
        <div class="d-flex justify-content-md-between align-content-center">
          <mat-form-field appearance="legacy">
            <mat-label>Front:</mat-label>
            <input matInput formControlName="setBackFront" />
            <p matSuffix>meter(s)</p>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Rear:</mat-label>
            <input matInput formControlName="setBackRear" />
            <p matSuffix>meter(s)</p>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Right:</mat-label>
            <input matInput formControlName="setBackRight" />
            <p matSuffix>meter(s)</p>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Left:</mat-label>
            <input matInput formControlName="setBackLeft" />
            <p matSuffix>meter(s)</p>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <h5>Building Height Reckoned from Road Level:</h5>
      <div class="ml-3">
        <mat-form-field appearance="legacy">
          <input matInput formControlName="roadLevel" />
          <p matSuffix>meter(s)</p>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <h5>Allowable Building Height:</h5>
      <div class="ml-3">
        <div class="d-flex justify-content-md-between align-content-center">
          <mat-form-field appearance="legacy">
            <input matInput formControlName="allowable" />
            <p matSuffix>meter(s)</p>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Within:</mat-label>
            <input matInput formControlName="allowableWithin" />
            <p matSuffix>zone</p>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <h5>Parking Requirement:</h5>
      <div class="ml-3">
        <div class="d-flex justify-content-md-between align-content-center">
          <mat-form-field appearance="legacy">
            <input matInput formControlName="parkingReq" />
            <p matSuffix>slots/space</p>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Within:</mat-label>
            <input matInput formControlName="parkingReqWithin" />
            <p matSuffix>zone</p>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <h5>Parking Space Provided in Building Plan:</h5>
      <div class="ml-3">
        <mat-form-field appearance="legacy">
          <input matInput formControlName="parkingSpace" />
          <p matSuffix>slots/space</p>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-3">
    <div class="col-md-3 col-3 text-left mb-3">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="technicalFindings"
        *ngIf="checkIfCpdo()"
      >
        Save
      </button>
    </div>
  </div>
</form>
<div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
