.card-container {
    max-width: 1000px;
    height: 600px;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    
    border-radius: 15px;
  }

  .box{
      height: 600px;
      width: 100%;
      background-color: maroon;
      
  }

