<app-navigation></app-navigation>
<app-banner></app-banner>
<div class="landing container-fluid">
    <div class="row landing-nav">
        <div class="col-12 col-lg-4">
            <input type="image" src="../../../assets/images/landing/building-permit.png" alt="Building Permit" class="landing-nav-button" />
        </div>
        <div class="col-12 col-lg-4">
            <input type="image" src="../../../assets/images/landing/occupancy-permit.png" alt="Occupancy Permit" class="landing-nav-button" />
        </div>
        <div class="col-12 col-lg-4">
            <input type="image" src="../../../assets/images/landing/other-permits.png" alt="Other Permits" class="landing-nav-button" />
        </div>
    </div>
</div>