<app-navigation></app-navigation>
<app-banner></app-banner>
<mat-card class="card-container">
  <div class="container-fluid">
    <div class="row justify-content-center py-3">
        <div class="col-md-8">
          <p *ngIf="email">{{ email }}</p>
        </div>
      </div>
    <form
  [formGroup]="changePasswordForm"
  (ngSubmit)="submit(changePasswordForm.value)"
>
 
  <div class="row justify-content-center pb-3">
    <div class="col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
          tabindex="-1"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            (changePasswordFormControl.password.touched || submitted) &&
            changePasswordFormControl.password.errors?.required
          "
        >
          Password is Required
        </mat-error>
        <mat-error
          *ngIf="
            changePasswordFormControl.password.touched &&
            changePasswordFormControl.password.errors?.invalidPassword
          "
        >
          Password should have minimum 8 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Re-type your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
          tabindex="-1"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            (changePasswordFormControl.confirmPassword.touched || submitted) &&
            changePasswordFormControl.confirmPassword.errors?.required
          "
        >
          Confirm Password is Required
        </mat-error>
        <mat-error
          *ngIf="
            changePasswordFormControl.confirmPassword.touched &&
            changePasswordFormControl.confirmPassword.errors?.passwordMismatch
          "
        >
          Confirm Password does not match
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center pt-3 pb-5">
    <div class="col-md-4 sign-up-button">
      <button mat-stroked-button type="submit">Submit</button>
    </div>
  </div>
</form>

  </div>
</mat-card>
