<div *ngFor="let announcement of announcements; index as i">
    <mat-card>
        <mat-card-content >
            <div  fxLayout="row">
              <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                <img class="img" [src]="announcement.photo_path_crop"/>
              </div>
             
              <div  class="px-5" fxFlex.gt-sm="80" fxFlex.gt-xs="100" fxFlex="100">
                  <h2  class="subject">
                     {{ announcement.subject }}
                  </h2>
                  <p class="date"> <span class="material-icons" style="font-size:medium;">
                    schedule
                    </span>{{announcement.date | date: 'fullDate'}}</p>
                <p class="description">{{ announcement.short_description }}  <a *ngIf="announcement.body"class="more" (click)="previewDialog(announcement)">  more....</a></p>
              </div>
            </div>
           
          </mat-card-content>
    </mat-card>
    
</div>



