.img{
    height: 140px !important;
    width: 215px !important;
    margin: auto;
}

.more{
    color: maroon;
    cursor: pointer;
}
.subject{
    color: maroon;
}

.description{
    color: gray;
    text-align: justify;
}

.date{
    font-size: small;
}