.admin-home {
  .first-row {
    .col-12:first-of-type {
      padding: 0 15px 20px 35px;
      
      .mat-card {
        height: 100%;
        margin: 0;
        overflow: hidden;
      }
    }

    .col-12:last-of-type {
      padding: 0 35px 20px 15px;

      .mat-card {
        height: 100%;
        margin: 0;
        overflow: hidden;
      }
    }
  }

  .welcome {
    .greeting {
      font-size: 25px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 30px;
      padding: 25px 20px 20px 25px;
      background-color: maroon;
      color: #fff;
      text-align: center;
    }

    .stats {
      padding: 0 30px 30px 30px;

      .task-count {
        font-size: 20px;
        font-weight: 400;
        margin-top: 15px;
        text-align: center;
    
        span {
          font-size: 21px;
          font-weight: 700;
          text-decoration: underline;
          cursor: pointer;
          color: #007bff;
        }
      }

      .task-chart {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    
        #task-chart {
          height: 150px;
          width: 150px;
        }
    
        .task-chart-legend {
          margin-left: 20px;
    
          ul {
            list-style: none;
            font-size: 17px;
            font-weight: 400;
            margin: 0;
            padding: 0;
    
            li {
              display: flex;
              align-items: center;
              cursor: pointer;
    
              .color {
                border: 1px solid black;
                height: 15px;
                width: 15px;
              }
              
              .legend {
                margin-left: 10px;
              }

              &.active-category {
                font-size: 19px;
                font-weight: 700;
              }
            }
            
            li:nth-of-type(1) .color {
              background-color: yellow;
            }
    
            li:nth-of-type(2) .color {
              background-color: orange;
            }
    
            li:nth-of-type(3) .color {
              background-color: red;
            }
    
            li:nth-of-type(4) .color {
              background-color: purple;
            }
    
            li:nth-of-type(5) .color {
              background-color: blue;
            }
    
            li:nth-of-type(6) .color {
              background-color: green;
            }
          }
        }
      }
    }
  }

  .categories {
    display: inline-block;
    width: calc(100% - 450px);
    height: 100%;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .category {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;

        &.application-status ::ng-deep .mat-card {
          background-color: maroon;
          color: #fff;
          font-size: 22px;
          font-weight: 700;
        }
        
        ::ng-deep .mat-card {
          padding: 30px !important;
          cursor: pointer;

          &.active-category {
            background-color: lightyellow;
          }
        }

        span {
          font-size: 27px;
          font-weight: 700;
        }
      }
    }
  }

  .calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    float: right;

    .month {
      font-size: 23px;
      font-weight: 700;
      text-align: center;
      padding: 15px;
      background-color: maroon;
      color: #fff;
    }
    
    ::ng-deep .cal-month-view {
      .cal-header {
        display: none;
      }

      .cal-day-cell {
        min-height: 60px !important;

        &.cal-today {
          background-color: lightyellow;
        }

        .cal-cell-top {
          min-height: 30px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          .cal-day-number {
            font-size: 19px !important;
            margin: 0 !important;
          }
        }
      }
    }
  }

  .application-filters {
    background-color: transparent;
    padding: 0 15px;
    font-weight: 500;
    text-align: left;

    ::ng-deep .mat-form-field-wrapper {
        padding: 0;
    }

    .toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            height: 60px;
            width: 150px;
            font-size: 15px;
            background-color: white;
            
            span {
              position: absolute;
              top: -10px;
              right: -10px;
              background-color: maroon;
              height: 30px;
              width: 30px;
              color: #fff;
              line-height: 30px;
              border-radius: 100%;
              font-size: 17px;
              font-weight: 600;
            }
        }
    }

    .search {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
            background-color: white;
            border-radius: 5px;
        }
    }
  }

  .loader {
    margin-top: 10px;
  }
}

.filters {
  padding: 20px 30px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    span {
      font-size: 23px;
      font-weight: 600;
    }

    .horizontal-line {
      height: 3px;
      width: 250px;
      margin-top: 3px;
      background-color: maroon;
    }

    .mat-icon {
      font-size: 23px;
      cursor: pointer;
    }
  }

  .filter-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    margin: 10px 0 5px 0;
    padding-bottom: 21.5px;
  }

  .filter-results {
      font-weight: 500;
      text-align: center;
      margin: 30px 15px 10px 15px;
  }

  .clear-filters {
    display: flex;
    justify-content: flex-end;

    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  button {
    background-color: maroon;
    color: #fff;
    font-size: 17px;
  }
}