<div class="update-password">
  <div class="section-header">
    Change Password
    <mat-icon class="close-button" (click)="closeModal()">close</mat-icon>
  </div>
  <div *ngIf="!loading">
    <form [formGroup]="changePasswordForm"  (ngSubmit)="updatePassword()">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              type="button"
              tabindex="-1"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                (changePasswordFormControl.password.touched || submitted) &&
                changePasswordFormControl.password.errors?.required
              "
            >
              Password is Required
            </mat-error>
            <mat-error
              *ngIf="
                changePasswordFormControl.password.touched &&
                changePasswordFormControl.password.errors?.invalidPassword
              "
            >
              Password should have minimum 8 characters, at least 1 uppercase
              letter, 1 lowercase letter and 1 number
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <mat-form-field appearance="outline">
            <mat-label>Re-type your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              type="button"
              tabindex="-1"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                (changePasswordFormControl.confirmPassword.touched || submitted) &&
                changePasswordFormControl.confirmPassword.errors?.required
              "
            >
              Confirm Password is Required
            </mat-error>
            <mat-error
              *ngIf="
                changePasswordFormControl.confirmPassword.touched &&
                changePasswordFormControl.confirmPassword.errors?.passwordMismatch
              "
            >
              Confirm Password does not match
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="buttons">
        <button mat-button class="save-button" type="submit">
          Confirm
        </button>
      </div>
    </form>
  </div>
  <div class="loader" *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="40"
    ></mat-progress-spinner>
  </div>
</div>
