.update-password {
  .section-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    margin: 10px 0 30px;
    border-bottom: 1px solid maroon;
  
    .mat-icon {
      cursor: pointer;
    }
  }
  
  .loader {
    display: flex;
    justify-content: center;
    margin: 50px 0 !important;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  
    .save-button {
      background-color: maroon;
      color: #fff;
    }
  }
  
  ::ng-deep .mat-form-field {
    &.ng-valid {
        .mat-form-field-wrapper {
        padding-bottom: 1.25em;
        }
    }
    
    &.ng-invalid,
    &.mat-form-field-invalid {
        .mat-form-field-wrapper {
        padding-bottom: 7px;
        }
    }
    
    &.ng-untouched {
        .mat-form-field-wrapper {
        padding-bottom: 1.25em;
        }
    }
    
    .mat-form-field {
        &-underline {
        position: static;
        }
    
        &-subscript-wrapper {
        position: static;
        }
    }
  }
}
