.loader {
    display: flex;
    justify-content: center;
    margin: 50px 0 !important;
  }

.warning {
    display: flex;
    justify-content: center;
    margin: 50px 0 !important;
    font-size: large;
  }

