<h1 mat-dialog-title>{{ title }}</h1>
<div *ngIf="!loading">
    <form [formGroup]="changePasswordForm"  (ngSubmit)="confirmClicked(changePasswordForm.value)">
  <div mat-dialog-content style="height: 200px">
    <div *ngIf="!confirmed; else credential">
        <div class="row justify-content-center py-3">
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  type="button"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    (changePasswordFormControl.password.touched || submitted) &&
                    changePasswordFormControl.password.errors?.required
                  "
                >
                  Password is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    changePasswordFormControl.password.touched &&
                    changePasswordFormControl.password.errors?.invalidPassword
                  "
                >
                  Password should have minimum 8 characters, at least 1 uppercase
                  letter, 1 lowercase letter and 1 number
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                <mat-label>Re-type your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="confirmPassword"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  type="button"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    (changePasswordFormControl.confirmPassword.touched || submitted) &&
                    changePasswordFormControl.confirmPassword.errors?.required
                  "
                >
                  Confirm Password is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    changePasswordFormControl.confirmPassword.touched &&
                    changePasswordFormControl.confirmPassword.errors?.passwordMismatch
                  "
                >
                  Confirm Password does not match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
     
      
     
    </div>
    <ng-template #credential>
     <p class="warning">Log out to try your new password</p>
    </ng-template>
  </div>

  <mat-dialog-actions align="end">
    <div *ngIf="!confirmed; else closeBtn">
      <button mat-button mat-dialog-close cdkFocusInitial color="success">
        Cancel
      </button>
      <button
        mat-button
        color="warn"
        type="submit"
       
      >
        Confirm
      </button>
    </div>

    <ng-template #closeBtn style="padding-bottom: 20px">
      <button
        mat-button
        [mat-dialog-close]="true"
        color="success"
        (click)="logOut()" 
      >
        Logout
      </button>
    </ng-template>
  </mat-dialog-actions>
</form>
</div>
<div class="loader" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="40"
  ></mat-progress-spinner>
</div>
