<div class="other__permit">
  <div class="other__permit__buttons">
    <div
      class="d-flex justify-content-between w-100"
      *ngIf="
        evaluatorRole.code !== 'CBAO-REC' &&
        evaluatorRole.code !== 'CBAO-DC' &&
        evaluatorRole.code !== 'CBAO-BO' &&
        evaluatorRole.code !== 'CBAO-REL'
      "
    >
      <div></div>
      <button
        [disabled]="applicationInfo.application_status_id !== 18"
        mat-raised-button
        color="primary"
        (click)="handleReviewDone()"
      >
        Review Done
      </button>
    </div>

    <button
      mat-raised-button
      color="accent"
      [disabled]="
        applicationInfo.application_status_id == 5 ||
        checkFormsCompliant() ||
        !checkFormsReviewed()
      "
      (click)="returnToApplicant()"
      *ngIf="
        evaluatorRole.code == 'CBAO-REC' ||
        evaluatorRole.code == 'CBAO-DC' ||
        evaluatorRole.code == 'CBAO-BO'
      "
    >
      <mat-icon>cancel</mat-icon> Return to Applicant
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="forwardToTechnicalEvalautors()"
      [disabled]="
        applicationInfo.application_status_id !== 1 || !checkFormsCompliant()
      "
      *ngIf="evaluatorRole.code == 'CBAO-REC'"
    >
      Forward to Technical Evaluators
      <mat-icon>arrow_right</mat-icon>
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="notifyBuildingOfficial()"
      [disabled]="
        !checkFormsCompliant() || applicationInfo.application_status_id !== 12
      "
      *ngIf="evaluatorRole.code == 'CBAO-DC'"
    >
      Forward to Building Official
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <button
      mat-raised-button
      (click)="forSignature()"
      color="primary"
      *ngIf="
        evaluatorRole.code == 'CBAO-BO' &&
        applicationInfo.application_status_id == 13
      "
      [disabled]="!checkFormsCompliant() || isLoading"
    >
      For Signature
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-raised-button
      (click)="forPayment()"
      color="primary"
      *ngIf="applicationInfo.application_status_id == 24"
      [disabled]="!checkFormsCompliant() || isLoading"
    >
      For Payment of Fees
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="handleRelease()"
      *ngIf="
        evaluatorRole.code == 'CBAO-REL' &&
        applicationInfo.application_status_id == '4'
      "
    >
      Release Permit
    </button>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
