<app-top-card></app-top-card>

<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <app-bar-chart></app-bar-chart>
    </div>
    <!-- Column-->
    <!-- <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <app-visitor></app-visitor>
    </div> -->
    <!-- Column-->
</div>
<button mat-button (click)="compliant();">Compliant</button>
<button mat-button (click)="noncompliant();">Non-compliant</button>
