.chart-container {
    display: block;
    position: relative;
  }
  .w100 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: block;
  }

  .date{
    font-size: small;
    color:grey;
}
  