<ngx-extended-pdf-viewer
  [src]="data.form.document_path"
  [showToolbar]="true"
  [showSidebarButton]="false"
  [showFindButton]="false"
  [showPagingButtons]="false"
  [showZoomButtons]="true"
  [showPresentationModeButton]="true"
  [showOpenFileButton]="false"
  [showPrintButton]="false"
  [showDownloadButton]="true"
  [showBookmarkButton]="false"
  [showSecondaryToolbarButton]="true"
  [showRotateButton]="false"
  [showHandToolButton]="false"
  [showScrollingButton]="false"
  [showSpreadButton]="false"
  [showPropertiesButton]="false"
  [useBrowserLocale]="true"
  height="1000px"
  zoom="80%"
>
</ngx-extended-pdf-viewer>
<div [formGroup]="permitDetails">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="example-full-width mt-3">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput formControlName="form_remarks" placeholder="Comment"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Review</mat-label>
        <mat-select formControlName="is_compliant">
          <mat-option value="1"> Compliant </mat-option>
          <mat-option value="2"> Non-Compliant </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="text-left">
      <button mat-raised-button color="accent" (click)="onNoClick()">
        Close
      </button>
    </div>
    <div class="text-right">
      <button
        mat-raised-button
        color="primary"
        (click)="callSave()"
      >
        Save
      </button>
    </div>
  </div>
</div>
