<app-navigation></app-navigation>
<app-banner></app-banner>
<mat-card class="card-container">
  <mat-tab-group>
    <mat-tab label="Sign In" class="sign-in-tab">
      <form [formGroup]="_signinForm" (ngSubmit)="tryLogin(_signinForm.value)">
        <div class="container-fluid">
          <div class="row justify-content-center pt-5">
            <div class="col-md-8 email-input">
              <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>
                <input
                  matInput
                  placeholder="kaBoom@example.com"
                  formControlName="email"
                  required
                />
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8 password-input">
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
              </mat-form-field>
              <a routerLink="/forgot-password">
                forgot password?
              </a>
            </div>
          </div>
          <div class="row justify-content-center pt-3 pb-3">
            <div class="col-md-4 sign-in-button">
              <button mat-stroked-button>
                Sign in
              </button>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center pt-3 pb-5">
            <div class="col-md-4 google-login">
              <p>or sign in with</p>
              <button mat-stroked-button (click)="tryGoogleLogin()">
                <mat-icon matPrefix svgIcon="logo"></mat-icon>
                Google
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Sign Up" class="sign-up-tab">
      <form [formGroup]="_signupForm" (ngSubmit)="tryRegister(_signupForm.value)">
        <div class="container-fluid">
          <div class="row justify-content-center pt-5">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="fname" required />
                <mat-error
                  *ngIf="
                    (signupFormControl.fname.touched || _submitted) &&
                    signupFormControl.fname.errors?.required
                  "
                >
                  First name is Required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input type="text" matInput formControlName="lname" required />
                <mat-error
                  *ngIf="
                    (signupFormControl.lname.touched || _submitted) &&
                    signupFormControl.lname.errors?.required
                  "
                >
                  Last name is Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>
                <input
                  matInput
                  placeholder="kaBoom@example.com"
                  formControlName="email"
                  required
                />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error
                  *ngIf="
                    (signupFormControl.email.touched || _submitted) &&
                    signupFormControl.email.errors?.required
                  "
                >
                  Email is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    signupFormControl.email.touched &&
                    signupFormControl.email.errors?.email
                  "
                >
                  Enter valid Email
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    (signupFormControl.password.touched || _submitted) &&
                    signupFormControl.password.errors?.required
                  "
                >
                  Password is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    signupFormControl.password.touched &&
                    signupFormControl.password.errors?.invalidPassword
                  "
                >
                  Password should have minimum 8 characters, at least 1 uppercase
                  letter, 1 lowercase letter and 1 number
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                <mat-label>Re-type your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="confirmPassword"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    (signupFormControl.confirmPassword.touched || _submitted) &&
                    signupFormControl.confirmPassword.errors?.required
                  "
                >
                  Confirm Password is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    signupFormControl.confirmPassword.touched &&
                    signupFormControl.confirmPassword.errors?.invalidconfirmPassword
                  "
                >
                  Password doest not match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center pt-3 pb-3">
            <div class="col-md-4 sign-up-button">
              <button mat-stroked-button type="submit">
                Sign up
              </button>
            </div>
          </div>
          <hr />
          <div class="row justify-content-md-center pt-3 pb-5">
            <div class="col-md-4 google-login">
              <p>or sign up with</p>
              <button mat-stroked-button (click)="tryGoogleRegister()">
                <mat-icon matPrefix svgIcon="logo"></mat-icon>
                Google
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<app-footer></app-footer> 