<mat-card *ngIf="!isLoading && applicationDetails">
  <mat-card-content>
    <div>
      <h4 style="color: #400c06" class="mb-4">
        <strong>Application Forms</strong>
      </h4>
    </div>
    <div *ngIf="applicationDetails.application_status_id == 3">
      <div class="row ml-1">
        <h5>
          <strong> BFP Status: </strong>
        </h5>
        <h5
          [style.color]="
            applicationDetails.parallel_bfp_status_id !== 1 ? 'red' : 'green'
          "
        >
          &nbsp;
          {{
            applicationDetails.parallel_bfp_status_id == 0
              ? "Pending"
              : applicationDetails.parallel_bfp_status_id == 1
              ? "Review Done - Compliant"
              : "Review Done - Non Compliant"
          }}
        </h5>
      </div>
      <div class="row ml-1">
        <h5>
          <strong> CEPMO Status: </strong>
        </h5>
        <h5
          [style.color]="
            applicationDetails.parallel_cepmo_status_id !== 1 ? 'red' : 'green'
          "
        >
          &nbsp;
          {{
            applicationDetails.parallel_cepmo_status_id == 0
              ? "Pending"
              : applicationDetails.parallel_cepmo_status_id == 1
              ? "Review Done - Compliant"
              : "Review Done - Non Compliant"
          }}
        </h5>
      </div>
      <div class="row ml-1">
        <h5>
          <strong> CBAO Status: </strong>
        </h5>
        <h5
          [style.color]="
            applicationDetails.parallel_cbao_status_id !== 1 ? 'red' : 'green'
          "
        >
          &nbsp;
          {{
            applicationDetails.parallel_cbao_status_id == 0
              ? "Pending"
              : applicationDetails.parallel_cbao_status_id == 1
              ? "Review Done - Compliant"
              : "Review Done - Non Compliant"
          }}
        </h5>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
          Applicant Forms
        </ng-template>
        <div *ngIf="dataSource">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Document</th>
              <td mat-cell *matCellDef="let element">
                {{ getDocType(element.document_id) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td
                mat-cell
                *matCellDef="let element"
                [style.color]="element.cepmo_status_id == 1 ? 'green' : 'red'"
                style="font-weight: bold"
              >
                {{ getDocStatus(element.cepmo_status_id) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="remarks">
              <th mat-header-cell *matHeaderCellDef>Remarks</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon
                  class="remark"
                  (click)="openRemarksHistory(element)"
                  [matBadge]="element.document_revision.length"
                  matBadgeColor="warn"
                  >remove_red_eye</mat-icon
                >
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button [matMenuTriggerFor]="menu">
                  Select <mat-icon> arrow_drop_down </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    color="accent"
                    [disabled]="applicationDetails.application_status_id !== 3"
                    (click)="openFormDialog(element)"
                  >
                    Edit
                  </button>
                  <ng-container
                    *ngIf="applicationDetails.application_status_id !== 3"
                  >
                    <a
                      mat-menu-item
                      href="{{ element.document_path }}"
                      target="_blank"
                      >View</a
                    >
                  </ng-container>
                  <button
                    mat-menu-item
                    color="accent"
                    (click)="goToEsig(element.id)"
                    *ngIf="evaluatorRole.code !== 'CBAO-REL'"
                    [disabled]="applicationInfo.application_status_id !== 24"
                  >
                    Sign Document
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              [style.background-color]="
                row.cepmo_status_id == 1
                  ? '#DFEDCD'
                  : row.cepmo_status_id == 2
                  ? '#F7C0C0'
                  : 'white'
              "
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
          <div class="action__buttons">
            <button
              class="mt-2 w-100"
              mat-raised-button
              color="accent"
              (click)="openWwmsDialog()"
              [disabled]="
                checkWwmsUploaded() ||
                !checkFormsCompliant() ||
                applicationDetails.application_status_id !== 3
              "
            >
              Upload WWMS BP Certificate
            </button>
            <mat-progress-bar
              mode="indeterminate"
              *ngIf="isLoading"
            ></mat-progress-bar>
            <div class="d-flex justify-content-between mt-5">
              <button
                mat-raised-button
                color="warn"
                (click)="nonCompliant()"
                [disabled]="checkFormsCompliant()"
              >
                Review Done (Non-Compliant)
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="compliant()"
                [disabled]="
                  !checkFormsCompliant() ||
                  applicationDetails.application_status_id !== 3
                "
              >
                Review Done (Compliant)
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>find_in_page</mat-icon>
          Technical Findings
        </ng-template>
        <ng-container *ngIf="evaluatorDetails && applicationDetails">
          <app-technical-findings
            [evaluatorDetails]="evaluatorDetails"
            [applicationDetails]="applicationDetails"
          ></app-technical-findings>
        </ng-container>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>report</mat-icon>
          General Remarks
          <mat-icon
            [matBadge]="applicationDetails.remarks.length"
            matBadgeColor="warn"
          ></mat-icon>
        </ng-template>
        <app-general-remarks
          [evaluatorDetails]="evaluatorDetails"
        ></app-general-remarks>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>folder</mat-icon>
          Supporting Documents
        </ng-template>
        <app-supporting-documents
          [evaluatorDetails]="evaluatorDetails"
          [applicationDetails]="applicationDetails"
        ></app-supporting-documents>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
