
  <form [formGroup]="_personalInfoFormCommonFields" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center pt-5">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="first_name" required />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.first_name.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.first_name.errors?.required
            "
          >
            First Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input type="text" matInput formControlName="middle_name" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input type="text" matInput formControlName="last_name" required />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.last_name.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.last_name.errors?.required
            "
          >
            Last Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Suffix</mat-label>
          <mat-select formControlName="suffix_name">
            <mat-option value=" "></mat-option>
            <mat-option value="Jr">Jr</mat-option>
            <mat-option value="Sr">Sr</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>TIN Number</mat-label>
          <input type="text" matInput formControlName="tin_number" required />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.tin_number.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.tin_number.errors?.required
            "
          >
            TIN Number is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email_address" required />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.email_address.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.email_address.errors?.required
            "
          >
            Email Address is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input
            type="tel"
            matInput
            formControlName="contact_number"
            [maxLength]="maxLength"
            placeholder="Ex. 09123456789"
            #contact
            required
          />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.contact_number.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.contact_number.errors?.required
            "
          >
            Contact Number is required
          </mat-error>
          <mat-hint align="end"
            >{{ contact.value.length }} / {{ maxLength }}</mat-hint
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center py-3">
      <div class="col-md-3 col-3 text-right mb-3">
        <button
          style="background-color: maroon; color: white"
          mat-stroked-button
          type="submit"
        >
          Proceed
        </button>
      </div>
    </div>
  </form>

