<form
  [formGroup]="_personalInfoFormCommonFields"
  (ngSubmit)="onSubmit()"
  *ngIf="!isLoading"
>
  <div class="row pt-3 px-3">
    <div class="d-flex align-items-center w-100">
      <h3 class="col-md-2">Basic Info (Owner)</h3>
      <hr
        class="col-md-10"
        style="padding: 0.5px 0; background-color: #d3d3d3"
      />
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="owner_first_name"
            required
          />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_first_name.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_first_name.errors
                ?.required
            "
          >
            First Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input type="text" matInput formControlName="owner_middle_name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input
            type="text"
            matInput
            formControlName="owner_last_name"
            required
          />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_last_name.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_last_name.errors
                ?.required
            "
          >
            Last Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Suffix</mat-label>
          <mat-select formControlName="owner_suffix">
            <mat-option value=""></mat-option>
            <mat-option value="Jr">Jr</mat-option>
            <mat-option value="Sr">Sr</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>TIN Number</mat-label>
          <input
            type="text"
            matInput
            formControlName="owner_tin_number"
            required
            [textMask]="{ mask: tinMask }"
          />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_tin_number.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_tin_number.errors
                ?.required
            "
          >
            TIN Number is Required
          </mat-error>
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_tin_number.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_tin_number.errors
                ?.pattern
            "
          >
            Invalid TIN Number format
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row px-3">
    <div class="d-flex align-items-center w-100">
      <h3 class="col-md-2">Contact Info (Owner)</h3>
      <hr
        class="col-md-10"
        style="padding: 0.5px 0; background-color: #d3d3d3"
      />
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="owner_email_address" required />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_email_address.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_email_address.errors
                ?.required
            "
          >
            Email Address is required
          </mat-error>
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_email_address.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_email_address.errors
                ?.pattern
            "
          >
            Email must be a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input
            type="tel"
            matInput
            formControlName="owner_contact_number"
            [maxLength]="maxLength"
            placeholder="Ex. 09123456789"
            #contact
            required
          />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_contact_number
                .touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_contact_number.errors
                ?.required
            "
          >
            Contact Number is required
          </mat-error>
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_contact_number
                .touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_contact_number.errors
                ?.pattern
            "
          >
            Contact Number must be start with '09', should be numerical and
            fixed length of 11
          </mat-error>
          <mat-hint align="end"
            >{{ contact.value.length }} / {{ maxLength }}</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row px-3">
    <div class="d-flex align-items-center w-100">
      <h3 class="col-md-2">Address (Owner)</h3>
      <hr
        class="col-md-10"
        style="padding: 0.5px 0; background-color: #d3d3d3"
      />
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>House Number</mat-label>
          <input type="text" matInput formControlName="owner_house_number" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Unit Number</mat-label>
          <input type="number" matInput formControlName="owner_unit_number" />
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Floor Number</mat-label>
          <input type="number" matInput formControlName="owner_floor_number" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Street Name</mat-label>
          <input matInput formControlName="owner_street" />
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_street.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_street.errors?.required
            "
          >
            Street is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Lot No.</mat-label>
          <input type="text" matInput formControlName="owner_lot_number" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Block No.</mat-label>
          <input matInput type="text" formControlName="owner_block_number" />
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Purok</mat-label>
          <input type="number" matInput formControlName="owner_purok" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Subdivision</mat-label>
          <input matInput type="text" formControlName="owner_subdivision" />
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Region</mat-label>
          <mat-select
            [(value)]="selectedRegion"
            (selectionChange)="onRegionSelect($event)"
          >
            <mat-option *ngFor="let item of regions" value="{{ item.id }}">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Province</mat-label>
          <mat-select
            [(value)]="selectedProvince"
            (selectionChange)="onProvinceSelect($event)"
          >
            <mat-option *ngFor="let item of provinces" value="{{ item.id }}">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>City/Municipality</mat-label>
          <mat-select
            [(value)]="selectedCity"
            (selectionChange)="onCitySelect($event)"
          >
            <mat-option *ngFor="let item of cities" value="{{ item.id }}">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="selectedCity == 1591">
        <mat-form-field appearance="outline">
          <mat-label>Barangay</mat-label>
          <input
            type="text"
            placeholder="Select Barangay"
            aria-label="Barangay"
            matInput
            formControlName="owner_barangay"
            [matAutocomplete]="auto"
            required
          />
          <mat-icon matSuffix>arrow_drop_down</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let barangays of _filteredBarangayOptions | async"
              [value]="barangays.name"
            >
              {{ barangays.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="
              (personalInfoFormCommonFieldControl.owner_barangay.touched ||
                _submitted) &&
              personalInfoFormCommonFieldControl.owner_barangay.errors?.required
            "
          >
            Barangay is Required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="summary__card row mt-3" *ngIf="formChange">
    <div class="summary__card__left col-md-6">
      <div>
        <h5>Applicant Complete Name:</h5>
        <p>
          {{ formChange.owner_first_name }}
          {{ formChange.owner_middle_name }}
          {{ formChange.owner_last_name }}
          {{ formChange.owner_suffix }}
        </p>
        <h5>Applicant Complete Address:</h5>
        <ng-container>
          <p>
            #{{ formChange.owner_house_number }}
            {{ formChange.owner_lot_number }}
            {{ formChange.owner_block_number }}
            {{ formChange.owner_street }}
            {{ formChange.owner_purok }}
            {{ formChange.owner_subdivision }}
            {{ formChange.owner_barangay }}
            <ng-container *ngIf="cityName !== null">
              {{ regionName[0].name }}
              {{ provinceName[0].name }}
              {{ cityName[0].name }}
            </ng-container>
          </p>
        </ng-container>
      </div>
    </div>
    <div class="summary__card__right col-md-6">
      <div>
        <ng-container *ngIf="formChange.owner_tin_number">
          <h5>Applicant TIN Number:</h5>
          <p>
            {{ formChange.owner_tin_number }}
          </p>
        </ng-container>

        <ng-container *ngIf="formChange.owner_email_address">
          <h5>Applicant Contact Details:</h5>
          <p>
            {{ formChange.owner_email_address }}<br />
            {{ formChange.owner_contact_number }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="m-4">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!selectedCity"
      >
        Proceed
      </button>
    </div>
  </div>
</form>
