<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline">
    <mat-label>Input Password to Proceed</mat-label>
    <input type="password" matInput [formControl]="passwordInput" />
  </mat-form-field>
  <div class="d-flex justify-content-between">
    <button mat-raised-button color="accent" (click)="handeBack()">
      Cancel
    </button>
    <button mat-raised-button color="primary" (click)="verifyPassword()">
      Submit
    </button>
  </div>
</mat-dialog-content>
