<div class="wrapper__form shadow-md">
  <div class="wrapper__form__group">
    <div class="wrapper__form__group__title">Additional Details</div>
    <div class="wrapper__form__group__body p-3">
      <div class="row px-3">
        <section class="example-section">
          <h4>Select actions:</h4>
          <ng-container *ngFor="let item of actionsList">
            <span>
              <mat-checkbox (change)="handleAction($event)" [value]="item.title"
                >{{ item.title }}
              </mat-checkbox>
            </span>
          </ng-container>

          <mat-form-field appearance="outline">
            <mat-label>Others</mat-label>
            <input type="text" matInput [(ngModel)]="actionOthers" />
            <mat-icon matSuffix (click)="handleAddOthers()">add_box</mat-icon>
          </mat-form-field>
        </section>
      </div>
      <div class="row" *ngIf="selectedActions.length > 0">
        <div class="border border-1 p-3 w-100 mx-3">
          <div class="d-flex flex-column">
            <ng-container *ngFor="let item of selectedActions; let i = index">
              <div class="d-flex justify-content-between align-items-center">
                <span> - {{ item }} </span>
                <button mat-button (click)="handleRemove(i)">Remove</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper__form shadow-md">
  <div class="wrapper__form__group">
    <div class="wrapper__form__group__title">Upload Photos</div>
    <div class="wrapper__form__group__body p-3">
      <h4>Photo A</h4>
      <ngx-dropzone
        (change)="onSelect($event, 'photoA')"
        [multiple]="false"
        accept="image/png, image/jpeg"
        class="mt-3"
      >
        <ngx-dropzone-label>Click here to upload photo A </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="photoA"
          [removable]="true"
          (removed)="onRemove('photoA')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ photoA.name }} ({{ photoA.type }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <h4 class="mt-4">Photo B</h4>
      <ngx-dropzone
        (change)="onSelect($event, 'photoB')"
        [multiple]="false"
        accept="image/png, image/jpeg"
        class="mt-3"
      >
        <ngx-dropzone-label>Click here to upload photo A </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngIf="photoB"
          [removable]="true"
          (removed)="onRemove('photoB')"
          class="mx-auto"
        >
          <ngx-dropzone-label
            >{{ photoB.name }} ({{ photoB.type }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <div class="d-flex flex-row-reverse mt-4">
        <button mat-raised-button color="primary" (click)="generatePdf()">
          Generate PDF
        </button>
      </div>
    </div>
  </div>
</div>
