<mat-card class='forgotPassword-container mt-5'>
    <mat-card-title class='mt-5'>RESET YOUR PASSWORD</mat-card-title>
    <mat-card-content>
        <div class='row justify-content-center mt-5'>
            <div class='col-md-8'>
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput placeholder="kaBoom@example.com" [formControl]="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>

    </mat-card-content>
    <div class='row justify-content-center'>
        <div class='col-md-4 text-center'>
                <button 
                style="background-color: maroon; color:white;"
                mat-stroked-button
                (click)='forgotPassword();'>SEND RESET LINK
                </button> 
               
        </div>
        
    </div>
    <div class='row justify-content-center py-3'>
        <div class='col-md-4 text-center'>
                <a style="color:maroon;"
                routerLink="/sign-in-up/sign-in" routerLinkActive="active">Go back to login</a>  
        </div>
        
    </div>

</mat-card>