<h1 mat-dialog-title>{{ title }}</h1>
<div *ngIf="!loading">
  <div mat-dialog-content style="height: 80px;">
    <div *ngIf="!confirmed; else credential">
      <p>
        Are you sure you want to reset the password of
        <span style="color: maroon">{{ data.first_name }} {{data.middle_name}} {{data.last_name}}?</span>
      </p>
    </div>
    <ng-template #credential>
      <p>
        Username: <span style="color: maroon">{{ userName }}</span>
      </p>
      <p>
        Temporary Password: <span style="color: maroon">{{ tempPass }}</span>
      </p>
    </ng-template>
  </div>

  <mat-dialog-actions align="end">
    <div *ngIf="!confirmed; else closeBtn">
      <button
        mat-button
        mat-dialog-close
        cdkFocusInitial
        color="success"
      >
        Cancel
      </button>
      <button mat-button color="warn" (click)="confirmClicked()">
        Confirm
      </button>
    </div>

    <ng-template #closeBtn style="padding-bottom: 20px">
      <button
        mat-button
        [mat-dialog-close]="true"
        color="success"
        (click)="confirmClicked()"
      >
        close
      </button>
    </ng-template>
  </mat-dialog-actions>
</div>
<div class="loader" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="40"
  ></mat-progress-spinner>
</div>


