mat-card{
    
    background-color: transparent;
    box-shadow: none !important;
    border: 0px solid transparent !important;;
    border-style: none !important;

    mat-card-content{
        padding: 0 !important;
        padding-top: 20px !important;
    }
}