.file-upload {
    padding: 0;
    margin-bottom: 15px;

    .document {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .file-description {
        font-weight: 500;
    }
    
    .file-actions {
        div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
    
            a, span {
                margin: 0 10px;
                cursor: pointer;
            }
    
            .mat-icon {
                color: green;
            }
        }
    
        .mat-spinner {
            float: right;
        }
    }
    
    .file-drop {
        margin: 5px 0;
    }
}