<div class="file-upload container-fluid">
  <div class="row">
    <div class="file-description col-10">
      <p style="font-weight: bold; color: maroon">{{ fileDescription }}</p>
    </div>
    <div class="col-2" *ngIf="formId !== '194'">
      <mat-slide-toggle
        [(ngModel)]="isOptional"
        *ngIf="!filePath"
        (change)="onToggleChange($event)"
        ><span style="font-size: 14px; font-weight: bold"
          >Not Applicable</span
        ></mat-slide-toggle
      >
    </div>
  </div>
  <div class="row">
    <div class="col-8"></div>
    <div class="file-actions col-4">
      <div *ngIf="!loading">
        <a *ngIf="infoPath" [href]="infoPath" target="_blank">Info</a>
        <a *ngIf="filePath" [href]="filePath" target="_blank">View File</a>
        <span *ngIf="filePath" (click)="toggleEditMode()">{{
          editMode ? "Close" : "Change"
        }}</span>
        <mat-icon *ngIf="file || filePath"> check_circle </mat-icon>
      </div>
      <mat-spinner *ngIf="loading" [diameter]="20"> </mat-spinner>
    </div>
  </div>

  <ng-container *ngIf="!isOptional">
    <ngx-dropzone
      *ngIf="!filePath || editMode"
      (change)="onSelect($event)"
      [multiple]="false"
      accept="application/pdf"
      [disabled]="loading"
    >
      <ngx-dropzone-label> Click here to upload your file. </ngx-dropzone-label>
      <ngx-dropzone-preview
        *ngIf="file"
        [removable]="false"
        (removed)="onRemove()"
        class="mx-auto"
      >
        <ngx-dropzone-label>
          {{ file.name }}
          ({{ file.type }})
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </ng-container>
</div>
