<div class="justify-content-center">
  <h2 mat-dialog-title >Data Privacy</h2>
  <mat-dialog-content class="mat-typography">
    <p>
      The City Buildings and Architecture Office recognizes the Baguio City’s 
      responsibilities under the Republic Act No. 10173 (Act), also known as the
      Data Privacy Act of 2012 (DPA) and cooperate fully with the National Privacy 
      Commission (NPC). We regard your privacy with utmost importance.
    </p>
    <p>
      We shall implement reasonable and appropriate organizational, physical, 
      and technical security measures for the protection of personal data which 
      we collected. The security measures shall maintain the availability, integrity,
      and confidentiality of personal data and are intended for the protection of personal
      data against any accidental or unlawful destruction, alteration, and disclosure, 
      as well as against any unlawful processing.
    </p>
    <p>
      We only permit your data to be accessed or processed by our authorized personnel who hold such
      information under strict confidentiality. We restrict access to information to just anyone who 
      like to know/obtain such information without justifiable ground.
    </p>
    <p>
      Furthermore, the information collected and stored in the system shall only be used for the following purposes:
    </p>
    <ul class="text-left">
      <li>Review and inspection of documents</li>
      <li>Processing of Construction Permits and its prerequisites</li>
    </ul>  
    <h3>APPLICANTS’ CONSENT:</h3>
    <p>
      I have read the City Buildings and Architecture Office’s privacy 
      statement and express my consent for the gathered data from my documents.
    </p>
    <p>
      I hereby affirm my right to be informed, object to processing, access and rectify,
      suspend or withdraw my personal data, pursuant to provisions of the Republic Act No. 10173 of the Philippines,
      Data Privacy Act 2012 and its corresponding implementing Rules and Regulations.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeModal(false)">Cancel</button>
    <button mat-button cdkFocusInitial (click)="closeModal(true)">Agree</button>
  </mat-dialog-actions>
</div>