<ng-container *ngIf="!isLoading && userPdfSignature">
  <div class="pdf-container">
    <pdf-viewer
      [show-all]="true"
      [render-text]="true"
      [original-size]="true"
      [fit-to-page]="false"
      [src]="userPdfSignature"
      [show-borders]="true"
    ></pdf-viewer>
  </div>
  <!-- <img [src]="userSignature" alt=""> -->
</ng-container>
<p style="color: maroon; font-size: 14px;">Please wait for e-signature to show before clicking "Confirm".</p>
<button
  mat-raised-button
  color="accent"
  (click)="selectSignature()"
  [disabled]="!userPdfSignature"
>
  {{ userPdfSignature ? "Confirm" : "Loading" }}
</button>
<ng-container *ngIf="isLoading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
