<ng-template #reportIssueTemplate class="feedback container-fluid">
    <div class="row">
        <div class="col-10 mb-3">
            <h2>Report Issue</h2>
            <div class="horizontal-line"></div>
        </div>
        <div class="col-2">
            <mat-icon class="close-button" (click)="closeModal(false)">close</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="reportIssueForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <!-- <div class="col-12 text">
                        <div>We look forward to hearing from you!</div>
                        <div>Your feedback helps us in continually improving our site.</div>
                    </div> -->

                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Application Number</mat-label>
                                    <mat-select formControlName="applicationNumber">
                                        <mat-option *ngFor="let application of applicationNumberList"
                                            [value]="application.permit_application_code">
                                            {{ application.permit_application_code }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Module</mat-label>
                                    <mat-select formControlName="module">
                                        <mat-option *ngFor="let module of moduleList" [value]="module.id">
                                            {{ module.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="pb-3" hintLabel="Brief summary of the issue"
                                    appearance="outline">
                                    <mat-label>Subject</mat-label>
                                    <textarea rows="1" matInput formControlName="subject"></textarea>
                                    <mat-error *ngIf="
                                            (reportIssueFormControl.subject.touched || submitted) &&
                                            reportIssueFormControl.subject.errors?.required
                                            ">
                                        Subject is Required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="pb-3" hintLabel="Give detailed explanation here"
                                    appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <textarea rows="10" matInput formControlName="description"></textarea>
                                    <mat-error *ngIf="
                                        (reportIssueFormControl.description.touched || submitted) &&
                                        reportIssueFormControl.description.errors?.required
                                        ">
                                        Description is Required
                                    </mat-error>
                                </mat-form-field>
                                <div class="uploadAttachment" mat-stroked-button (click)="openAttachmentChooser()">
                                    <img [src]="displayAttachment" alt="" />
                                </div>
                                <input type="file" class="sr-only" id="attachment" accept="image/*"
                                    (change)="handleAttachmentChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button mat-stroked-button type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>