<!-- <div
  fxLayout='row'
  fxLayoutAlign='space-between'
  fxLayoutGap='16px'
  class="admin-users-filters">
  <div class="admin-users-filters__left">
    <mat-form-field
      class='admin-users-filters__input' 
      appearance='outline'>
      <mat-label>Search</mat-label>
      <input 
        type="text"
        [formControl]='searchTerm' 
        matInput>
      <mat-hint>Search for a name or an email address</mat-hint>
    </mat-form-field>
  </div>
  <div class="admin-users-filters__right"></div>
</div> -->