.user-sidebar {
  border-bottom : 3px solid #400c06;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #400c06;
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #400c06;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #400c06;

  img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}
