<div class="user-sidebar">
  <div *ngIf="!_isLoading">
    <div class="col text-center p-3" *ngIf="employeeDetails == null">
      <div class="avatar">
        <img
          [src]="
            userInfo.photo_path
              ? userInfo.photo_path
              : '../../../../assets/images/cbao-cartoon.png'
          "
          alt="user"
        />
      </div>
      <h3>{{ userInfo.first_name }} {{ userInfo.last_name }}</h3>
      <p>{{ userInfo.email_address }}</p>
      <p>{{ userInfo.first_name ? "Applicant" : "CBAO Treasury" }}</p>
    </div>
    <div class="col text-center p-3" *ngIf="employeeDetails">
      <div class="avatar">
        <img [src]="evaluatorDetails.photo_path" alt="user" />
      </div>
      <h3 style="color: #400c06">
        {{ evaluatorDetails.first_name }} {{ evaluatorDetails.last_name }}
      </h3>
      <h4 style="color: #400c06">
        {{ evaluatorDetails.employee_detail.position }}
      </h4>
      <h4 style="color: #400c06">
        {{ officeString }}
      </h4>
    </div>
  </div>
</div>

<mat-nav-list appAccordion>
  <mat-list-item
    appAccordionLink
    *ngFor="let menuitem of items"
    routerLinkActive="selected"
    group="{{ menuitem.state }}"
    (click)="scrollToTop()"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a
      class=""
      appAccordionToggle
      [routerLink]="getItemState(menuitem.state, menuitem.outlet)"
      *ngIf="menuitem.type === 'link'"
    >
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span
        class="label label-{{ badge.type }}"
        *ngFor="let badge of menuitem.badge"
        >{{ badge.value }}</span
      >
    </a>

    <a
      class=""
      appAccordionToggle
      href="{{ menuitem.state }}"
      *ngIf="menuitem.type === 'extLink'"
    >
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span
        class="label label-{{ badge.type }}"
        *ngFor="let badge of menuitem.badge"
        >{{ badge.value }}</span
      >
    </a>
    <a
      class=""
      appAccordionToggle
      href="{{ menuitem.state }}"
      target="_blank"
      *ngIf="menuitem.type === 'extTabLink'"
    >
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span
        class="label label-{{ badge.type }}"
        *ngFor="let badge of menuitem.badge"
        >{{ badge.value }}</span
      >
    </a>

    <a
      class=""
      appAccordionToggle
      href="javascript:;"
      *ngIf="menuitem.type === 'sub'"
    >
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span
        class="label label-{{ badge.type }}"
        *ngFor="let badge of menuitem.badge"
        >{{ badge.value }}</span
      >
      <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
    </a>

    <mat-nav-list class="sub-item" *ngIf="menuitem.type === 'sub'">
      <mat-list-item
        *ngFor="
          let childitem of menuitem.children;
          let j = index;
          let i = childitem
        "
        routerLinkActive="selected"
      >
        <a
          [routerLink]="['/', menuitem.state, childitem.state]"
          *ngIf="childitem.type === 'link'"
          class="relative"
          routerLinkActive="selected"
          (click)="itemSelect[i] = j"
          >{{ childitem.name }}</a
        >
      </mat-list-item>
      <mat-list-item
        *ngFor="
          let childitem of menuitem.children;
          let j = index;
          let i = childitem
        "
      >
        <a
          class=""
          href="javascript: void(0);"
          *ngIf="childitem.type === 'subchild'"
          (click)="itemSelect[i] = j"
          [ngClass]="j == itemSelect[i] ? 'selected' : ''"
        >
          <span>{{ childitem.name }}</span>
          <span fxFlex></span>
          <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list
          class="child-sub-item"
          *ngIf="childitem.type === 'subchild'"
        >
          <mat-list-item
            *ngFor="let child of childitem.subchildren"
            routerLinkActive="selected"
          >
            <a
              [routerLink]="['/', menuitem.state, childitem.state, child.state]"
              routerLinkActive="selected"
              >{{ child.name }}</a
            >
          </mat-list-item>
        </mat-nav-list>
      </mat-list-item>
    </mat-nav-list>

    <div class="saperator text-muted" *ngIf="menuitem.type === 'saperator'">
      <span>{{ menuitem.name }}</span>
    </div>
  </mat-list-item>
  <!-- <ng-container *ngIf="employeeDetails">
    <mat-list-item
      appAccordionLink
      *ngIf="employeeDetails.position == 'Admin Aide IV'"
    >
      <a class="" appAccordionToggle (click)="navigateRequests()">
        <mat-icon>fact_check</mat-icon>
        <span>Certificate of Occupancy Requests</span>
      </a>
    </mat-list-item>
    <mat-list-item
      appAccordionLink
      *ngIf="employeeDetails.position == 'Admin Aide IV'"
    >
      <a class="" appAccordionToggle (click)="navigateList()">
        <mat-icon>list</mat-icon>
        <span>Building Permit Master List</span>
      </a>
    </mat-list-item>
  </ng-container> -->

  <mat-list-item appAccordionLink (click)="logout()">
    <a class="" appAccordionToggle>
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign Out</span>
    </a>
  </mat-list-item>
</mat-nav-list>
