<div class="col">
  <div class="text-center">
    <img
      src="../../../../assets/illustrations/success.png"
      class="success-illustration"
    />
    <h2>Application Successfuly Submitted!</h2>
    <h5 style="font-weight: bold">
      Your Application Number is: {{ applicationNumber }}
    </h5>
    <p>
      You will receive a notification once your application has been approved.
    </p>
    <button mat-raised-button color="accent" (click)="goToHome()">
      Back to home
    </button>
  </div>
</div>
