<div *ngIf="show_notif == true">
  <button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-5">
    <p class="pt-2">
      <mat-icon matBadge="{{ totalUnReadNotif }}" matBadgeColor="secondary"
        >notifications_none
      </mat-icon>
    </p>
  </button>
  <mat-menu #notification="matMenu" [overlapTrigger]="false">
    <div class="mailbox">
      <ul>
        <li>
          <div class="drop-title">Notification</div>
        </li>
        <li>
          <mat-tab-group mat-align-tabs="center" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-tab label="Unread">
              <div class="message-center" >
                <perfect-scrollbar [config]="config">
                  <a
                    *ngFor="let unread of feeds.slice().reverse(); let i = index"
                  >
                    <!-- <div class="round {{feed.round}}">
                                            <i class="{{feed.icon}}"></i>
                                        </div>  -->
                    <div
                      class="mail-content"
                      (click)="openNotif(unread.id, unread.application_id)"
                    >
                      <h5>
                        {{ unread.application_number }} <br />
                        {{ unread.status }}
                      </h5>
                      <span
                        class="mail-desc"
                        style.color="grey"
                      >
                        {{ unread.message }}
                      </span>
                      <span
                        class="time"
                        [style.color]="unread.is_viewed == 0 ? 'maroon' : 'grey'"
                      >
                        {{ unread.currentTime | dateAgo }}</span
                      >
                    </div>
                  </a>
                </perfect-scrollbar>
              </div></mat-tab
            >
            <mat-tab label="Read">
              <div class="message-center">
                <perfect-scrollbar [config]="config">
                  <a
                    *ngFor="let read of unReadNotif.slice().reverse(); let i = index"
                  >
                    <div
                      class="mail-content"
                      (click)="openNotif(read.id, read.application_id)"
                    >
                      <h5>
                        {{ read.application_number }} <br />
                        {{ read.status }}
                      </h5>
                      <span
                        class="mail-desc"
                        [style.color]="read.is_viewed == 0 ? 'maroon' : 'grey'"
                      >
                        {{ read.message }}
                      </span>
                      <span
                        class="time"
                        [style.color]="read.is_viewed == 0 ? 'maroon' : 'grey'"
                      >
                        {{ read.currentTime | dateAgo }}</span
                      >
                    </div>
                  </a>
                </perfect-scrollbar>
              </div></mat-tab
            >
          </mat-tab-group>
        </li>
      </ul>
    </div>
  </mat-menu>
</div>
