<div *ngIf="show_notif == true">
  <button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-5">
    <p class="pt-2">
      <mat-icon matBadge="{{ feeds.length }}" matBadgeColor="secondary"
        >notifications_none
      </mat-icon>
    </p>
  </button>
  <mat-menu #notification="matMenu" class="mymegamenu">
    <div class="mailbox">
      <ul>
        <li>
          <div class="drop-title">Notification</div>
        </li>
        <li>
          <div class="message-center">
            <perfect-scrollbar [config]="config">
              <a *ngFor="let feed of feeds.slice().reverse(); let i = index">
                <!-- <div class="round {{feed.round}}">
                                        <i class="{{feed.icon}}"></i>
                                    </div>  -->
                <div
                  class="mail-content"
                  (click)="openNotif(feed.id, feed.application_id)"
                >
                  <h5>
                    {{ feed.application_number }} <br />
                    {{ feed.status }}
                  </h5>
                  <span class="mail-desc"> {{ feed.message }} </span>
                  <span class="time" [style.color] = "feed.is_viewed == 0 ? 'blue' : 'grey'"> {{ feed.currentTime | dateAgo }}</span>
                </div>
              </a>
            </perfect-scrollbar>
          </div>
        </li>
      </ul>
    </div>
  </mat-menu>
</div>
