<div *ngIf='show_notif == true'>
    <button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-5">
        <mat-icon>notifications_none</mat-icon>
        <div class="notify">
            <span class="heartbit"></span>
            <span class="point"></span>
        </div>
    </button>
    <mat-menu #notification="matMenu" class="mymegamenu">
        <div class="mailbox">
            <ul>
                <li>
                    <div class="drop-title">   <span matBadge="{{feeds.length}}" matBadgeOverlap="false">Notification</span></div>
                </li>
                <li>
                    <div class="message-center">
                        <perfect-scrollbar [config]="config">
                                <a  *ngFor="let feed of feeds.slice().reverse(); let i = index" >
                                    <!-- <div class="round {{feed.round}}">
                                        <i class="{{feed.icon}}"></i>
                                    </div> -->
                                    <div class="mail-content" (click)="openNotif(i, feed.application_id)">
                                        <h5>{{ feed.application_number }} <br> {{ feed.status }}</h5>
                                        <span class="mail-desc">     {{ feed.message }} </span>
                                        <span class="time"> {{ feed.currentTime | dateAgo }}</span>
                                    </div>
                                </a>
                           
                           
                        </perfect-scrollbar>
                    </div>
                </li>
            </ul>
        </div>
    </mat-menu>
    
</div>
