.row {
    overflow: hidden;
}

.left-col {
    padding-right: 0;

    .user-avatar {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 20px auto;
    }
}

.right-col {
    .row {
        padding: 3px 0;

        &:not(:last-child) {
            border-bottom: 1px solid lightgray;
        }
    }

    .id-photo {
        height: 200px;
        width: auto; 
    }
}

button {
    background-color: maroon;
    color: white;
}