<mat-card *ngIf="applicationInfo">
  <mat-card-content>
    <div class="heading">
      <h2 class="my-3">Building Permit</h2>
      <div class="row">
        <div class="col-md-4"><p>Building Permit Number:</p></div>
        <div class="col-md-4">
          <p>Release Date:</p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
          Applicant Details
        </ng-template>
        <div></div>
      </mat-tab>
      <mat-tab *ngIf="applicationInfo.representative_detail !== null">
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
          Representative Details
        </ng-template>
        <app-representative-details
          [dataFromParent]="applicationInfo.representative_detail"
        ></app-representative-details>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
          Project Details
        </ng-template>
        <!-- <app-project-details></app-project-details
      > -->
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>folder</mat-icon>
          Document Manager
        </ng-template></mat-tab
      >
    </mat-tab-group>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="handleNext()"
        class="text-right"
      >
        Continue
      </button>
    </div>
  </mat-card-content>
</mat-card>
