.heading {
  margin-bottom: 30px;
  p {
    font-weight: bold;
  }
}

mat-icon {
  margin: 0 4px 0 0;
}
.continue {
  display: flex;
  justify-content: flex-end;
}
.ocpas_bot {
  margin: 0;
  padding: 0;
  img {
    width: 200px;
  }
}
